/* line 5, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: 'kreon';
  src: url("../../../font/kreon-bold-webfont.woff") format("woff2"), url("../../../font/kreon-bold-webfont.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'kreon';
  src: url("../../../font/kreon-regular-webfont.woff2") format("woff2"), url("../../../font/kreon-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
/* line 20, ../sass/style.scss */
html, body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  overflow: hidden;
  -webkit-tap-highlight-color: transparent;
  -moz-tap-highlight-color: transparent;
  tap-highlight-color: transparent;
}

/* line 31, ../sass/style.scss */
.clearfix {
  *zoom: 1;
}
/* line 38, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/general/_clearfix.scss */
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

@keyframes sakura {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(359deg);
  }
}
/* line 44, ../sass/style.scss */
body {
  font-family: 'kreon', serif;
  height: 100vh !important;
  font-weight: bold;
  overflow: hidden;
}
/* line 49, ../sass/style.scss */
body .app {
  width: 100%;
  height: 100vh !important;
  overflow: hidden;
}
/* line 54, ../sass/style.scss */
body .sakura {
  position: absolute !important;
  background: url("../img/scene2/petal1.png") no-repeat 0 0;
  background-size: 100% auto;
  z-index: 9;
  animation: sakura 8s linear 0s infinite alternate;
}

/* line 63, ../sass/style.scss */
img {
  vertical-align: middle;
}

/* line 67, ../sass/style.scss */
a.btn {
  display: block;
  position: relative;
  width: 212px;
  margin-left: auto;
  margin-right: auto;
}
/* line 73, ../sass/style.scss */
a.btn img {
  width: 100%;
}
/* line 76, ../sass/style.scss */
a.btn .btn_on {
  position: relative;
  z-index: 0;
}
/* line 81, ../sass/style.scss */
a.btn.on .btn_off {
  display: none;
}
/* line 85, ../sass/style.scss */
a.btn .btn_off {
  position: absolute;
  z-index: 99;
  top: 0;
  left: 0;
}

/* scene1 */
/* line 94, ../sass/style.scss */
#scene1 {
  height: 100vh !important;
  background: url("../img/scene1/bg.png") no-repeat center center;
  background-size: cover;
}
/* line 98, ../sass/style.scss */
#scene1 .header {
  height: 80px;
  background: url("../img/scene1/header.png") repeat-x center center;
  -webkit-background-size: auto 80px;
  background-size: auto 80px;
}
/* line 104, ../sass/style.scss */
#scene1 .kanban {
  position: absolute;
  left: 50%;
  top: 15%;
  transform: translate(-50%, 0);
  width: 80%;
  z-index: 0;
  opacity: 0;
  animation: scene1_kanban .5s ease 0s forwards;
}
/* line 113, ../sass/style.scss */
#scene1 .kanban img {
  width: 100%;
}
/* line 117, ../sass/style.scss */
#scene1 .motti {
  position: absolute;
  width: 97%;
  left: 50%;
  bottom: 0%;
  transform: translate(-50%, 0);
  z-index: 9;
  animation: scene1_motti .5s ease 0s forwards;
}
/* line 125, ../sass/style.scss */
#scene1 .motti img {
  width: 100%;
  position: absolute;
  bottom: 0;
}

@keyframes scene1_kanban {
  0% {
    opacity: 0;
    transform: translate(-50%, 5%);
  }
  100% {
    opacity: 1;
    transform: translate(-50%, 0);
  }
}
@keyframes scene1_motti {
  0% {
    transform: translate(-50%, 50%);
  }
  100% {
    transform: translate(-50%, 0);
  }
}
/* scene2, scene3 */
/* line 155, ../sass/style.scss */
#scene2, #scene6 {
  background-image: url("../img/scene2/bg_sakura_left.png"), url("../img/scene2/bg_sakura_right.png"), url("../img/scene2/bg.png");
  background-repeat: no-repeat;
  background-position: 0 0, 100% 0, center center;
  background-size: 188px auto, 179px auto, cover;
}

/* line 164, ../sass/style.scss */
#scene3 {
  background-image: url("../img/scene3/bg.png");
  background-size: cover;
}

/* line 171, ../sass/style.scss */
#scene2 .motti, #scene3 .motti, #scene6 .motti {
  position: absolute;
  width: 92%;
  left: 50%;
  bottom: 10%;
  transform: translate(-50%, 0);
  z-index: 9;
}
/* line 179, ../sass/style.scss */
#scene2 .motti img, #scene3 .motti img, #scene6 .motti img {
  width: 100%;
  display: none;
}
/* line 182, ../sass/style.scss */
#scene2 .motti img.active, #scene3 .motti img.active, #scene6 .motti img.active {
  display: inline;
}
/* line 187, ../sass/style.scss */
#scene2 .motti img.motti1.active, #scene3 .motti img.motti1.active, #scene6 .motti img.motti1.active {
  animation: scene2_motti .5s ease 0s forwards;
}
/* line 193, ../sass/style.scss */
#scene2 .motti img.motti4.active, #scene3 .motti img.motti4.active, #scene6 .motti img.motti4.active {
  animation: scene2_motti2 .5s ease 0s forwards;
}
/* line 198, ../sass/style.scss */
#scene2 .motti img.motti5, #scene3 .motti img.motti5, #scene6 .motti img.motti5 {
  transform: scale(1.2) translate(-0.5%, -12%);
}
/* line 204, ../sass/style.scss */
#scene2 .motti .tina, #scene3 .motti .tina, #scene6 .motti .tina {
  position: absolute;
  right: -6%;
  top: -67%;
  display: none;
  width: 215px;
  height: 205px;
  background: url("../img/scene3/tina.png") no-repeat;
  -webkit-background-size: 645px auto;
  background-size: 645px auto;
}
/* line 214, ../sass/style.scss */
#scene2 .motti .tina.active, #scene3 .motti .tina.active, #scene6 .motti .tina.active {
  display: block;
  animation: tina 1s steps(3) infinite;
}
/* line 217, ../sass/style.scss */
#scene2 .motti .tina.active .balloon-tina, #scene3 .motti .tina.active .balloon-tina, #scene6 .motti .tina.active .balloon-tina {
  transform: translate(0, 0);
  opacity: 1;
}
/* line 222, ../sass/style.scss */
#scene2 .motti .tina .balloon-tina, #scene3 .motti .tina .balloon-tina, #scene6 .motti .tina .balloon-tina {
  position: absolute;
  width: 234px;
  top: -108px;
  left: -140px;
  display: block;
  transition: .5s;
  transform: translate(10%, 10%);
  opacity: 0;
  z-index: 99;
}
/* line 235, ../sass/style.scss */
#scene2 .balloon, #scene3 .balloon, #scene6 .balloon {
  width: 100%;
  height: 30%;
  position: absolute;
  bottom: 0;
  background: #ffffe9;
  z-index: 10;
  font-family: 'kreon';
  font-weight: bold;
}
/* line 244, ../sass/style.scss */
#scene2 .balloon .triangle, #scene3 .balloon .triangle, #scene6 .balloon .triangle {
  position: absolute;
  width: auto;
  height: 25px;
  top: -25px;
  left: 5%;
}
/* line 251, ../sass/style.scss */
#scene2 .balloon .message, #scene3 .balloon .message, #scene6 .balloon .message {
  font-size: 9vw;
  padding-top: 20px;
  margin-bottom: 20px;
}
/* line 255, ../sass/style.scss */
#scene2 .balloon .message span, #scene3 .balloon .message span, #scene6 .balloon .message span {
  opacity: 0;
  transform: translate(0, -20px);
  transition: .5s;
  display: none;
}
/* line 260, ../sass/style.scss */
#scene2 .balloon .message span.active, #scene3 .balloon .message span.active, #scene6 .balloon .message span.active {
  animation: scene2_message1 .5s ease 0s forwards;
  display: block;
}
/* line 264, ../sass/style.scss */
#scene2 .balloon .message span.message1, #scene3 .balloon .message span.message1, #scene6 .balloon .message span.message1 {
  text-align: center;
}
/* line 268, ../sass/style.scss */
#scene2 .balloon .message span.message2, #scene3 .balloon .message span.message2, #scene6 .balloon .message span.message2 {
  text-align: center;
  margin: 0.5em 0;
}
/* line 272, ../sass/style.scss */
#scene2 .balloon .message span.message3, #scene3 .balloon .message span.message3, #scene6 .balloon .message span.message3 {
  text-align: center;
  font-size: 76px;
  color: #e83836;
}
/* line 277, ../sass/style.scss */
#scene2 .balloon .message span.message4, #scene3 .balloon .message span.message4, #scene6 .balloon .message span.message4 {
  text-align: center;
  margin: 0.5em 0;
}
/* line 284, ../sass/style.scss */
#scene2 .btn_next.btn, #scene2 .btn_answer.btn, #scene3 .btn_next.btn, #scene3 .btn_answer.btn, #scene6 .btn_next.btn, #scene6 .btn_answer.btn {
  display: none;
}
/* line 286, ../sass/style.scss */
#scene2 .btn_next.btn.active, #scene2 .btn_answer.btn.active, #scene3 .btn_next.btn.active, #scene3 .btn_answer.btn.active, #scene6 .btn_next.btn.active, #scene6 .btn_answer.btn.active {
  display: block;
}

@keyframes scene2_motti {
  0% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(0, -5%);
  }
  100% {
    transform: translate(0, 0);
  }
}
@keyframes scene2_motti2 {
  0% {
    transform: translate(0, 0) scale(1);
  }
  100% {
    transform: translate(0, 31.5%) scale(1.27);
  }
}
@keyframes scene2_message1 {
  0% {
    transform: translate(0, 20px);
    opacity: 0;
  }
  100% {
    transform: translate(0, 0);
    opacity: 1;
  }
}
@keyframes tina {
  to {
    background-position: -645px 0;
  }
}
/* scene4 */
/* line 332, ../sass/style.scss */
#scene4 {
  background: url("../img/scene2/bg.png") no-repeat center center;
  background-size: cover;
}
/* line 335, ../sass/style.scss */
#scene4 .motti {
  position: absolute;
  width: 45%;
  left: 63%;
  top: 3%;
  transform: translate(-50%, 0);
  z-index: 9;
  animation: scene4_motti .5s ease 0s forwards;
}
/* line 343, ../sass/style.scss */
#scene4 .motti img {
  width: 100%;
}
/* line 347, ../sass/style.scss */
#scene4 .tina {
  position: absolute;
  width: 25.9%;
  left: 10%;
  top: 10%;
}
/* line 352, ../sass/style.scss */
#scene4 .tina img {
  width: 100%;
}
/* line 357, ../sass/style.scss */
#scene4 .balloon {
  width: 100%;
  height: 75%;
  position: absolute;
  top: 25%;
  background: #ffffe9;
  z-index: 10;
  font-family: 'kreon';
  font-weight: bold;
  z-index: 9999;
}
/* line 367, ../sass/style.scss */
#scene4 .balloon .triangle {
  position: absolute;
  width: auto;
  height: 25px;
  top: -25px;
  left: 7%;
}
/* line 374, ../sass/style.scss */
#scene4 .balloon .message {
  font-size: 35px;
  height: 20%;
  text-align: center;
}
/* line 378, ../sass/style.scss */
#scene4 .balloon .message p {
  padding-top: 7%;
  text-align: center;
}
/* line 381, ../sass/style.scss */
#scene4 .balloon .message p img {
  width: 90%;
}
/* line 386, ../sass/style.scss */
#scene4 .balloon .button_wrapper {
  background: url("../img/scene4/bg_pattern.png");
  height: 80%;
}
/* line 389, ../sass/style.scss */
#scene4 .balloon .button_wrapper .button_list {
  padding: 2%;
}
/* line 391, ../sass/style.scss */
#scene4 .balloon .button_wrapper .button_list li {
  width: 50%;
  float: left;
}
/* line 394, ../sass/style.scss */
#scene4 .balloon .button_wrapper .button_list li a {
  display: block;
  margin: 10px;
  box-sizing: border-box;
  border: 7px solid #ff8d8d;
  border-radius: 10%;
}
/* line 400, ../sass/style.scss */
#scene4 .balloon .button_wrapper .button_list li a.on {
  transform: scale(0.9);
}
/* line 403, ../sass/style.scss */
#scene4 .balloon .button_wrapper .button_list li a span {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 10%;
  background-color: #fff;
}
/* line 409, ../sass/style.scss */
#scene4 .balloon .button_wrapper .button_list li a span img {
  width: 98%;
  border-radius: 5%;
}

@keyframes scene4_motti {
  0% {
    transform: translate(-50%, 70%);
  }
  100% {
    transform: translate(-50%, 0);
  }
}
/* scene5 */
/* line 431, ../sass/style.scss */
#scene5 {
  background-color: #ffcc00;
}
/* line 433, ../sass/style.scss */
#scene5 .balloon {
  width: 92%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10%;
  margin-bottom: 30%;
}
/* line 439, ../sass/style.scss */
#scene5 .balloon img {
  width: 100%;
}
/* line 444, ../sass/style.scss */
#scene5 .btn_more.scene5.btn,
#scene5 .btn_go.scene5.btn {
  width: 80%;
  margin-bottom: 5%;
}

/* scene5 */
/* line 453, ../sass/style.scss */
.scene5.page {
  background: url("../img/scene5/bg.png") no-repeat center center;
  background-size: cover;
}
/* line 456, ../sass/style.scss */
.scene5.page .answer {
  width: 60%;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
}
/* line 462, ../sass/style.scss */
.scene5.page .answer img {
  width: 100%;
}
/* line 467, ../sass/style.scss */
.scene5.page .tina_wrapper {
  width: 86.66%;
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
}
/* line 473, ../sass/style.scss */
.scene5.page .tina_wrapper .tina {
  position: absolute;
  width: 34.77%;
  top: 33px;
  z-index: 999;
}
/* line 479, ../sass/style.scss */
.scene5.page .tina_wrapper .balloon_tina {
  width: 73.54%;
  position: absolute;
  top: 0;
  right: 0;
}
/* line 485, ../sass/style.scss */
.scene5.page .tina_wrapper img {
  width: 100%;
}
/* line 490, ../sass/style.scss */
.scene5.page .balloon {
  width: 100%;
  height: 30%;
  position: absolute;
  bottom: 0;
  background: #ffffe9;
  z-index: 10;
  font-family: 'kreon';
  font-weight: bold;
}
/* line 499, ../sass/style.scss */
.scene5.page .balloon .triangle {
  position: absolute;
  width: auto;
  height: 25px;
  top: -25px;
  left: 5%;
}
/* line 506, ../sass/style.scss */
.scene5.page .balloon .message {
  margin-left: auto;
  margin-right: auto;
  width: 345px;
  font-size: 35px;
  padding-top: 40px;
  margin-bottom: 20px;
}
/* line 513, ../sass/style.scss */
.scene5.page .balloon .message p {
  opacity: 0;
  transform: translate(0, -20px);
  transition: .5s;
  text-align: center;
  display: none;
}
/* line 519, ../sass/style.scss */
.scene5.page .balloon .message p.active {
  animation: scene2_message1 .5s ease 0s forwards;
  display: block;
}
/* line 523, ../sass/style.scss */
.scene5.page .balloon .message p span {
  display: inline-block;
}
/* line 525, ../sass/style.scss */
.scene5.page .balloon .message p span.txt1 {
  color: #e83836;
}
/* line 528, ../sass/style.scss */
.scene5.page .balloon .message p span.txt2 {
  border: 1px solid #d0d0ba;
  background-color: #fff;
  border-radius: 5%;
  padding: 0 .2em;
  margin: 0 .2em;
}
/* line 542, ../sass/style.scss */
.scene5.page .btn_next.btn, .scene5.page .btn_answer.btn {
  display: none;
}
/* line 544, ../sass/style.scss */
.scene5.page .btn_next.btn.active, .scene5.page .btn_answer.btn.active {
  display: block;
}

/* scene6 */
/* line 552, ../sass/style.scss */
#scene6 .motti {
  width: 100%;
  top: 20%;
  bottom: auto;
}
/* line 556, ../sass/style.scss */
#scene6 .motti img {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
}
/* line 563, ../sass/style.scss */
#scene6 .btn_next.scene6.btn {
  display: none;
}

/* scene7 */
/* line 569, ../sass/style.scss */
#scene7 {
  background: url("../img/scene7/bg.png") no-repeat center center;
  background-size: cover;
}
/* line 572, ../sass/style.scss */
#scene7 .motti {
  width: 21%;
  position: absolute;
  right: -40%;
  top: 15%;
}
/* line 578, ../sass/style.scss */
#scene7 .motti img.motti_inner {
  width: 100%;
}
/* line 581, ../sass/style.scss */
#scene7 .motti img.balloon {
  width: 179.6%;
  position: absolute;
  top: 30px;
  left: -110px;
  opacity: 0;
  transition: .5s;
}
/* line 588, ../sass/style.scss */
#scene7 .motti img.balloon.active {
  top: 10px;
  left: -140px;
  opacity: 1;
}
/* line 594, ../sass/style.scss */
#scene7 .motti img.arrow {
  width: 58.6%;
  position: absolute;
  top: 51%;
  left: -10px;
  opacity: 0;
  transition: .5s;
}
/* line 601, ../sass/style.scss */
#scene7 .motti img.arrow.active {
  top: 61%;
  left: -50px;
  opacity: 1;
}
/* line 608, ../sass/style.scss */
#scene7 .like {
  position: absolute;
  text-align: center;
  top: 50%;
  transform: translate(0, -50%);
}
/* line 614, ../sass/style.scss */
#scene7 .like img.cherry {
  width: 27.33%;
}
/* line 617, ../sass/style.scss */
#scene7 .like img.cherry_blossoms {
  width: 45.47%;
}

/* scene8 */
/* line 625, ../sass/style.scss */
#scene8 {
  background-color: #ffcc00;
}
/* line 627, ../sass/style.scss */
#scene8 .balloon {
  width: 92%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10%;
  margin-bottom: 30%;
}
/* line 633, ../sass/style.scss */
#scene8 .balloon img {
  width: 100%;
}
/* line 638, ../sass/style.scss */
#scene8 .btn_more.scene8.btn,
#scene8 .btn_go.scene8.btn {
  width: 80%;
  margin-bottom: 5%;
}

/* scene9 */
/* line 647, ../sass/style.scss */
#scene9 {
  background-color: #ffffcc;
}
/* line 649, ../sass/style.scss */
#scene9 .title {
  width: 65.33%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 70px;
}
/* line 654, ../sass/style.scss */
#scene9 .title img {
  width: 100%;
}
/* line 659, ../sass/style.scss */
#scene9 .word-list {
  width: 87vw;
  margin-left: auto;
  margin-right: auto;
  padding-top: 18px;
}
/* line 664, ../sass/style.scss */
#scene9 .word-list li {
  margin-bottom: 8px;
  border: 1px solid #d0d0ba;
  border-radius: 10px;
  background-color: #fff;
  font-size: 7vw;
}
/* line 670, ../sass/style.scss */
#scene9 .word-list li a {
  padding: 12px 10px;
  text-decoration: none;
  display: block;
  color: #000;
  background: url(../img/scene9/btn_sound_off.png) no-repeat calc(100% - 6px) center;
  background-size: 40px auto;
}
/* line 677, ../sass/style.scss */
#scene9 .word-list li a .red {
  color: #e83836;
}
/* line 680, ../sass/style.scss */
#scene9 .word-list li a.on {
  background-image: url(../img/scene9/btn_sound_on.png);
}
/* line 687, ../sass/style.scss */
#scene9 .motti {
  width: 320px;
  position: relative;
}
/* line 690, ../sass/style.scss */
#scene9 .motti img {
  width: 100%;
  position: relative;
  top: -20px;
}
/* line 696, ../sass/style.scss */
#scene9 .btn_more.scene9.btn {
  width: 300px;
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translate(-50%, 0);
  margin: 0;
}

@media screen and (min-width: 768px) {
  /* line 708, ../sass/style.scss */
  #scene1 .motti {
    width: 65%;
  }

  /* line 713, ../sass/style.scss */
  #scene2 .motti {
    width: 65%;
  }

  /* line 718, ../sass/style.scss */
  #scene3 .motti {
    width: 65%;
  }
  /* line 720, ../sass/style.scss */
  #scene3 .motti .tina.active {
    transform: scale(1.5);
    right: 3%;
    top: -50%;
  }

  /* line 731, ../sass/style.scss */
  #scene4 .balloon .button_wrapper .button_list li {
    width: 40%;
    margin: 0 5%;
  }

  /* line 740, ../sass/style.scss */
  #scene6 .motti {
    width: 65%;
    top: 25%;
  }

  /* line 749, ../sass/style.scss */
  #scene7 .motti img.balloon.active {
    top: -40px;
    left: -230px;
    opacity: 1;
  }
  /* line 754, ../sass/style.scss */
  #scene7 .motti img.arrow.active {
    top: 41%;
    left: -170px;
    opacity: 1;
  }

  /* line 764, ../sass/style.scss */
  #scene8 .balloon {
    width: 70%;
    margin-bottom: 9%;
  }

  /* line 770, ../sass/style.scss */
  #scene9 .motti {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
}
