/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 9, ../sass/shelf.scss */
html, body {
  height: 100vh;
  widht: 100%;
  overflow: hidden;
}

/* line 15, ../sass/shelf.scss */
.clearfix {
  *zoom: 1;
}
/* line 38, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/general/_clearfix.scss */
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

/* line 18, ../sass/shelf.scss */
img {
  width: 100%;
}

/* line 22, ../sass/shelf.scss */
.setting {
  position: absolute;
  left: 0px;
  top: 0;
  z-index: 9999;
}
/* line 27, ../sass/shelf.scss */
.setting img {
  width: 68px;
}

/* line 31, ../sass/shelf.scss */
.progress {
  position: absolute;
  left: 80px;
  top: 0;
  z-index: 9999;
}
/* line 36, ../sass/shelf.scss */
.progress img {
  width: 68px;
}

/* line 41, ../sass/shelf.scss */
#common-top {
  background-color: #e83828;
  height: 100vh;
  widht: 100%;
  overflow: hidden;
}
/* line 46, ../sass/shelf.scss */
#common-top .contents {
  height: 100vh;
  widht: 100%;
  overflow: hidden;
}
/* line 50, ../sass/shelf.scss */
#common-top .contents .contents-inner {
  height: 100vh;
  width: 100%;
  overflow: hidden;
  width: 90%;
  margin: 0 auto;
  padding-bottom: 5%;
  position: relative;
}
/* line 59, ../sass/shelf.scss */
#common-top .contents .contents-inner h1 img {
  width: 61%;
  position: absolute;
  right: 0%;
  top: -27%;
}
/* line 66, ../sass/shelf.scss */
#common-top .contents .contents-inner .shelf-wrapper {
  position: relative;
  text-align: center;
  margin-top: 45%;
}
/* line 70, ../sass/shelf.scss */
#common-top .contents .contents-inner .shelf-wrapper .balloon {
  position: absolute;
  display: block;
  width: 25%;
  top: -73px;
  left: 17px;
}
/* line 77, ../sass/shelf.scss */
#common-top .contents .contents-inner .shelf-wrapper .shelfimg {
  width: 100%;
}
/* line 80, ../sass/shelf.scss */
#common-top .contents .contents-inner .shelf-wrapper .kindereigo_1 {
  width: 20%;
  position: absolute;
  top: 32%;
  left: 6%;
}
/* line 85, ../sass/shelf.scss */
#common-top .contents .contents-inner .shelf-wrapper .kindereigo_1 img {
  width: 100%;
}
/* line 87, ../sass/shelf.scss */
#common-top .contents .contents-inner .shelf-wrapper .kindereigo_1 img.on {
  transform: scale(0.95);
}
/* line 94, ../sass/shelf.scss */
#common-top .contents .contents-inner .bottom_button {
  position: absolute;
  bottom: 8%;
}
/* line 97, ../sass/shelf.scss */
#common-top .contents .contents-inner .bottom_button .btn_a {
  display: block;
  width: 50%;
  float: left;
  text-align: center;
}
/* line 102, ../sass/shelf.scss */
#common-top .contents .contents-inner .bottom_button .btn_a img {
  width: 90%;
}
/* line 104, ../sass/shelf.scss */
#common-top .contents .contents-inner .bottom_button .btn_a img.on {
  transform: scale(0.95);
}
/* line 110, ../sass/shelf.scss */
#common-top .contents .contents-inner .bottom_button p {
  letter-spacing: 1px;
  margin-bottom: 0;
  margin-top: 0;
}
/* line 114, ../sass/shelf.scss */
#common-top .contents .contents-inner .bottom_button p img {
  height: 20px;
  width: auto !important;
}

@media screen and (min-width: 768px) {
  /* line 131, ../sass/shelf.scss */
  #common-top .contents .contents-inner .shelf-wrapper {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30%;
  }
  /* line 136, ../sass/shelf.scss */
  #common-top .contents .contents-inner .shelf-wrapper .balloon {
    width: 26%;
    top: -120px;
    left: 21px;
  }
  /* line 142, ../sass/shelf.scss */
  #common-top .contents .contents-inner .bottom_button {
    bottom: 10%;
    left: 50%;
    transform: translate(-50%, 0) scale(1.4);
  }
}
