/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 10, ../sass/style.scss */
html, body {
  width: 100%;
  height: 100vh;
  padding: 0;
  margin: 0;
  overflow: hidden;
  -webkit-tap-highlight-color: transparent;
  -moz-tap-highlight-color: transparent;
  tap-highlight-color: transparent;
}

/* line 21, ../sass/style.scss */
.clearfix {
  *zoom: 1;
}
/* line 38, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/utilities/general/_clearfix.scss */
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

/* line 26, ../sass/style.scss */
body .app {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
/* line 30, ../sass/style.scss */
body .app .header {
  position: relative;
  z-index: 999;
}
/* line 33, ../sass/style.scss */
body .app .header .title {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 25px;
  padding-bottom: 20px;
}
/* line 39, ../sass/style.scss */
body .app .header .title img {
  width: 100%;
}
/* line 43, ../sass/style.scss */
body .app .header .chara-neko {
  position: absolute;
  width: 18.7%;
  left: 0;
  top: 9px;
}
/* line 48, ../sass/style.scss */
body .app .header .chara-neko img {
  width: 100%;
}
/* line 52, ../sass/style.scss */
body .app .header .chara-sakana {
  position: absolute;
  width: 14%;
  right: 17px;
  top: 9px;
}
/* line 57, ../sass/style.scss */
body .app .header .chara-sakana img {
  width: 100%;
}
/* line 62, ../sass/style.scss */
body .app .content-wapper {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  background: url("../img/bg.png") no-repeat center center;
  -webkit-background-size: cover;
  background-size: cover;
}
/* line 72, ../sass/style.scss */
body .app .content-wapper .slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 200%;
  height: 100%;
  padding-top: 21%;
  box-sizing: border-box;
}
/* line 80, ../sass/style.scss */
body .app .content-wapper .slide .panel {
  width: 50%;
  float: left;
  position: relative;
}
/* line 84, ../sass/style.scss */
body .app .content-wapper .slide .panel .btn_slide {
  display: block;
  position: absolute;
  width: 12px;
  transform: translate(0, -50%);
  top: 50%;
}
/* line 90, ../sass/style.scss */
body .app .content-wapper .slide .panel .btn_slide img {
  width: 100%;
}
/* line 93, ../sass/style.scss */
body .app .content-wapper .slide .panel .btn_slide.btn_right {
  right: 10px;
}
/* line 96, ../sass/style.scss */
body .app .content-wapper .slide .panel .btn_slide.btn_left {
  left: 10px;
}
/* line 101, ../sass/style.scss */
body .app .content-wapper .slide .panel ul {
  width: 91%;
  margin-left: auto;
  margin-right: auto;
}
/* line 105, ../sass/style.scss */
body .app .content-wapper .slide .panel ul li {
  width: 14.2%;
  float: left;
  padding: .5%;
  box-sizing: border-box;
}
/* line 111, ../sass/style.scss */
body .app .content-wapper .slide .panel ul li span img, body .app .content-wapper .slide .panel ul li a img {
  width: 100%;
  vertical-align: middle;
}
/* line 114, ../sass/style.scss */
body .app .content-wapper .slide .panel ul li span img.on, body .app .content-wapper .slide .panel ul li a img.on {
  transform: scale(0.9);
}
/* line 122, ../sass/style.scss */
body .app .content-wapper .slide .bottom-wave {
  width: 100%;
  height: 47px;
  position: absolute;
  z-index: 10;
  bottom: 0;
  left: 0;
  background: url(../img/bottom_wave.png) repeat-x left bottom;
  background-size: 26px auto;
}
/* line 132, ../sass/style.scss */
body .app .content-wapper .slide .chara-last {
  width: 120px;
  position: absolute;
  z-index: 0;
  right: 55px;
  bottom: 10px;
}

/* alphabet a */
/* line 146, ../sass/style.scss */
.app.a .content-wrapper {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  background: url("../img/a/bg.png") no-repeat center center;
  -webkit-background-size: cover;
  background-size: cover;
}
/* line 156, ../sass/style.scss */
.app.a .content-wrapper .alphabet {
  width: 22%;
  position: absolute;
  top: 50%;
  left: 25px;
  transform: translate(0, -50%);
}
/* line 162, ../sass/style.scss */
.app.a .content-wrapper .alphabet .letter {
  width: 39%;
  margin-left: auto;
  margin-right: auto;
  opacity: 0;
  margin-bottom: 18px;
  animation: alphabet_b_letter .5s ease 0s forwards;
}
/* line 168, ../sass/style.scss */
.app.a .content-wrapper .alphabet .letter img {
  width: 100%;
}
/* line 173, ../sass/style.scss */
.app.a .content-wrapper .alphabet .text {
  width: 100%;
  opacity: 0;
  animation: alphabet_b_letter .5s ease .3s forwards;
}
/* line 176, ../sass/style.scss */
.app.a .content-wrapper .alphabet .text img {
  width: 100%;
}
/* line 183, ../sass/style.scss */
.app.a .content-wrapper .neko {
  position: absolute;
  top: 62%;
  left: 47%;
  transform: translate(-50%, -50%);
  width: 38.455%;
}
/* line 189, ../sass/style.scss */
.app.a .content-wrapper .neko img {
  width: 100%;
}
/* line 191, ../sass/style.scss */
.app.a .content-wrapper .neko img.after {
  display: none;
}
/* line 196, ../sass/style.scss */
.app.a .content-wrapper .ac {
  width: 6%;
  position: absolute;
  top: 22%;
  left: 64%;
  opacity: 0;
  transform: translate(-10px, 10px);
  transition: .5s;
}
/* line 204, ../sass/style.scss */
.app.a .content-wrapper .ac.on {
  opacity: 1;
  transform: translate(0px, 0px);
}
/* line 208, ../sass/style.scss */
.app.a .content-wrapper .ac img {
  width: 100%;
}
/* line 212, ../sass/style.scss */
.app.a .content-wrapper .apple {
  position: absolute;
  top: -30%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 17.7%;
}
/* line 218, ../sass/style.scss */
.app.a .content-wrapper .apple img {
  width: 100%;
  transform: rotate(-29deg);
  transition: .8s;
}
/* line 224, ../sass/style.scss */
.app.a .content-wrapper .apple.on img {
  transform: rotate(0deg);
}
/* line 230, ../sass/style.scss */
.app.a .content-wrapper .btn_sound {
  display: block;
  position: absolute;
  width: 30%;
  right: 25px;
  bottom: 15px;
}
/* line 236, ../sass/style.scss */
.app.a .content-wrapper .btn_sound .btn_on {
  position: absolute;
  top: 0;
  left: 0;
}
/* line 241, ../sass/style.scss */
.app.a .content-wrapper .btn_sound .btn_off {
  position: relative;
  z-index: 10;
}
/* line 245, ../sass/style.scss */
.app.a .content-wrapper .btn_sound img {
  width: 100%;
}
/* line 249, ../sass/style.scss */
.app.a .content-wrapper .btn_sound.on .btn_off {
  opacity: 0;
}

/* alphabet b */
@keyframes alphabet_b_letter {
  0% {
    opacity: 0;
    transform: translate(0, 10px);
  }
  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
}
@keyframes alphabet_b_charactor {
  0% {
    opacity: 0;
    transform: translate(-40%, -40%);
  }
  100% {
    opacity: 1;
    transform: translate(-50%, -50%);
  }
}
/* line 280, ../sass/style.scss */
.app.b .content-wrapper {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  background: url("../img/b/bg.png") no-repeat center center;
  -webkit-background-size: cover;
  background-size: cover;
}
/* line 290, ../sass/style.scss */
.app.b .content-wrapper .alphabet {
  width: 22%;
  margin-top: 115px;
  margin-left: 25px;
}
/* line 294, ../sass/style.scss */
.app.b .content-wrapper .alphabet .letter {
  width: 39%;
  margin-left: auto;
  margin-right: auto;
  opacity: 0;
  margin-bottom: 18px;
  animation: alphabet_b_letter .5s ease 0s forwards;
}
/* line 300, ../sass/style.scss */
.app.b .content-wrapper .alphabet .letter img {
  width: 100%;
}
/* line 305, ../sass/style.scss */
.app.b .content-wrapper .alphabet .text {
  width: 100%;
  opacity: 0;
  animation: alphabet_b_letter .5s ease .3s forwards;
}
/* line 308, ../sass/style.scss */
.app.b .content-wrapper .alphabet .text img {
  width: 100%;
}
/* line 314, ../sass/style.scss */
.app.b .content-wrapper .neko {
  width: 45%;
  position: absolute;
  top: 47%;
  left: 51%;
  opacity: 0;
  animation: alphabet_b_charactor .5s ease 0s forwards;
}
/* line 321, ../sass/style.scss */
.app.b .content-wrapper .neko img {
  width: 100%;
}
/* line 325, ../sass/style.scss */
.app.b .content-wrapper .banana {
  width: 61%;
  position: absolute;
  top: 50%;
  left: 58%;
  transform: translate(-50%, -50%);
}
/* line 331, ../sass/style.scss */
.app.b .content-wrapper .banana img {
  width: 100%;
}
/* line 335, ../sass/style.scss */
.app.b .content-wrapper .btn_sound {
  display: block;
  position: absolute;
  width: 33.66%;
  right: 25px;
  bottom: 15px;
}
/* line 341, ../sass/style.scss */
.app.b .content-wrapper .btn_sound .btn_on {
  position: absolute;
  top: 0;
  left: 0;
}
/* line 346, ../sass/style.scss */
.app.b .content-wrapper .btn_sound .btn_off {
  position: relative;
  z-index: 10;
}
/* line 350, ../sass/style.scss */
.app.b .content-wrapper .btn_sound img {
  width: 100%;
}
/* line 354, ../sass/style.scss */
.app.b .content-wrapper .btn_sound.on .btn_off {
  opacity: 0;
}
