/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass";
@charset "utf-8";

html, body{
  height: 100vh;
  widht: 100%;
  overflow: hidden;
}

.clearfix{
  @include pie-clearfix;
}
img{
  width: 100%;
}

.setting{
  position: absolute;
  left: 0px;
  top: 0;
  z-index: 9999;
  img{
    width: 68px;
  }
}
.progress{
  position: absolute;
  left: 80px;
  top: 0;
  z-index: 9999;
  img{
    width: 68px;
  }
}

#common-top{
  background-color: #e83828;
  height: 100vh;
  widht: 100%;
  overflow: hidden;
  .contents{
    height: 100vh;
    widht: 100%;
    overflow: hidden;
    .contents-inner{
      height: 100vh;
      width: 100%;
      overflow: hidden;
      width: 90%;
      margin: 0 auto;
      padding-bottom: 5%;
      position: relative;

      h1 img{
        width: 61%;
        position: absolute;
        right: 0%;
        top: -27%;
      }

      .shelf-wrapper{
        position: relative;
        text-align: center;
        margin-top: 45%;
        .balloon {
          position: absolute;
          display: block;
          width: 25%;
          top: -73px;
          left: 17px;
        }
        .shelfimg{
          width: 100%;
        }
        .kindereigo_1{
          width: 20%;
          position: absolute;
          top: 32%;
          left: 6%;
          img{
            width: 100%;
            &.on{
              transform: scale(0.95);
            }
          }
        }
      }

      .bottom_button{
        position: absolute;
        bottom: 8%;
        .btn_a{
          display: block;
          width: 50%;
          float: left;
          text-align: center;
          img{
            width: 90%;
            &.on{
              transform: scale(0.95);
            }
          }

        }
        p{
          letter-spacing: 1px;
          margin-bottom: 0;
          margin-top: 0;
          img{
            height: 20px;
            width: auto !important;
          }
        }
      }

    }//.contents-inner
  }
}//.#common-top

@media screen and (min-width: 768px) {


  #common-top{
    .contents{
      .contents-inner{
        .shelf-wrapper{
          width: 70%;
          margin-left: auto;
          margin-right: auto;
          margin-top: 30%;
          .balloon{
            width: 26%;
            top: -120px;
            left: 21px;
          }
        }
        .bottom_button{
          bottom: 10%;
          left: 50%;
          transform: translate(-50%, 0) scale(1.4);
        }
      }
    }
  }
}
