/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
html{
  height: 100%;
}
body{
  width: 100%;
  height:100%;
  overflow: hidden;
  padding: 0;
  margin: 0;
  &#openning{
    background-color: #d6d578;
  }
  &#main{
    background-color: #6dbc52;
  }
}

img{
  width: 100%;
  height: auto;
}

a.btn {
  display: block;
  position: absolute;
  transform: translate(-50%, -50%);
  img {
    width: 100%;
    &.btn_on {
      position: relative;
      z-index: 0;
    }
    &.btn_off {
      position: absolute;
      z-index: 99;
      top: 0;
      left: 0;
    }
  }

  &.on {
    .btn_off {
      display: none;
    }
  }
  //
  &.btn_start {
    width: 202px;
    top: 28%;
    left: 50%;
  }
}

#openning{
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: none;
  .contents{
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: url(../img/opening.png) center top;
    background-size:cover;
  }
}

.stage{
  background-image: url("../img/st_bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  .sts{
    position: relative;
    width: 100%;
    height: 100%;
    li{
      width: 14%;
      position: absolute;
      transition: .4s;
      animation: strawberry .2s linear 0s;
      &.sweet{
        background: url("../img/st_red.png") no-repeat;
        background-size: 100% 100%;
      }
      &.sour{
        background: url("../img/st_white.png") no-repeat 100% 100%;
        background-size: 100% 100%;
      }
      &.st1{
        left: 28%;
        top: 10%;
        transform:rotate(-15deg);
      }
      &.st2{
        left: 52%;
        top: 8%;
      }
      &.st3{
        left: 77%;
        top: 10%;
      }
      &.st4{
        left: 39%;
        top: 43%;
        transform:rotate(-10deg);
      }
      &.st5{
        left: 63%;
        top: 45%;
      }
      &.picked{
        transform: scale(2) rotate(-15deg);
        opacity: 0;
      }
    }
  }

  .baloon{
    position: absolute;
    top: 0;
    left: 50%;
    width: 87%;
    display: none;
    transform: scale(1) translate(-50%, 0%);
    &.active{
      display: block;
      animation: baloon .3s linear 0s;
    }
  }

  .taste{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    li{
      position: absolute;
      top: 39%;
      left: 50%;
      width: 67%;
      display: none;
      &.active{
        display: block;
        transform: scale(1) translate(-50%, -50%);
        animation: taste .3s linear 0s;
      }
    }
  }

  .childe{
    width: 30%;
    position: absolute;
    bottom: 0;
    left: 4%;
    img{
      display: none;
      &.active{
        display: inline;
      }
    }
  }
}
//アニメーション
// baloon
@keyframes baloon{
  from{
    opacity: 0;
    transform: scale(0.5) translate(-50%, 0%);
  }
  to{
    opacity: 1;
    transform: scale(1) translate(-50%, 0%);
  }
}

// taste
@keyframes taste{
  from{
    opacity: 0;
    transform: scale(0.5) translate(-50%, -50%);
  }
  to{
    opacity: 1;
    transform: scale(1) translate(-50%, -50%);
  }
}

@keyframes strawberry{
  from{
    transform: scale(0.1);
  }
  to{
    transform: scale(1);
  }
}

a.index{
  display: inline-block;
  position: absolute;
  padding: 10px 20px;
  top: 0;
  left: 3%;
  background-color: #fff;
  text-decoration: none;
  z-index: 9999;
  &:visited, &:hover{
    color: #000;
  }
}
@media screen and (min-width: 768px){
  .stage{
    .taste{
      li{
        position: absolute;
        top: 29%;
        left: 50%;
        width: 67%;
        display: none;
      }
    }
  }
}



