/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
@import "compass";
@import "compass/reset";



html, body{
  width: 100%;
  height: 100vh;
  padding: 0;
  margin: 0;
  overflow: hidden;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -moz-tap-highlight-color: rgba(0, 0, 0, 0);
  tap-highlight-color: rgba(0, 0, 0, 0);
}

.clearfix{
  @include pie-clearfix;
}

body{
  .app{
    width: 100%;
    height: 100%;
    overflow: hidden;
    .header{
      position: relative;
      z-index: 999;
      .title{
        width: 60%;
        margin-left: auto;
        margin-right: auto;
        padding-top: 25px;
        padding-bottom: 20px;
        img{
          width: 100%;
        }
      }
      .chara-neko{
        position: absolute;
        width: 18.7%;
        left: 0;
        top: 9px;
        img{
          width: 100%;
        }
      }
      .chara-sakana{
        position: absolute;
        width: 14%;
        right: 17px;
        top: 9px;
        img{
          width: 100%;
        }
      }
    }
    .content-wapper{
      width: 100%;
      height: 100%;
      overflow: hidden;
      position: absolute;
      top: 0;
      left: 0;
      background: url("../img/bg.png") no-repeat center center;
      -webkit-background-size: cover;
      background-size: cover;
      .slide{
        position: absolute;
        top: 0;
        left: 0;
        width: 200%;
        height: 100%;
        padding-top: 21%;
        box-sizing: border-box;
        .panel{
          width: 50%;
          float: left;
          position: relative;
          .btn_slide{
            display: block;
            position: absolute;
            width: 12px;
            transform: translate(0, -50%);
            top: 50%;
            img{
              width: 100%;
            }
            &.btn_right{
              right: 10px;
            }
            &.btn_left{
              left: 10px;
            }
          }

          ul{
            width: 91%;
            margin-left: auto;
            margin-right: auto;
            li{
              width: 14.2%;
              float: left;
              padding: .5%;
              box-sizing: border-box;
              span,a{
                img{
                  width: 100%;
                  vertical-align: middle;
                  &.on{
                    transform: scale(.9);
                  }
                }
              }
            }
          }
        }
        .bottom-wave{
          width: 100%;
          height: 47px;
          position: absolute;
          z-index: 10;
          bottom: 0;
          left: 0;
          background: url(../img/bottom_wave.png) repeat-x left bottom;
          background-size: 26px auto;
        }
        .chara-last{
          width: 120px;
          position: absolute;
          z-index: 0;
          right: 55px;
          bottom: 10px;
        }
      }
    }
  }
}
/* alphabet a */

.app.a{
  .content-wrapper{
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    background: url("../img/a/bg.png") no-repeat center center;
    -webkit-background-size: cover;
    background-size: cover;
    .alphabet{
      width: 22%;
      position: absolute;
      top: 50%;
      left: 25px;
      transform: translate(0, -50%);
      .letter{
        width: 39%;
        margin-left: auto;
        margin-right: auto;
        opacity: 0;
        margin-bottom: 18px;
        img{
          width: 100%;
        }
        animation: alphabet_b_letter .5s ease 0s forwards;
      }
      .text{
        width: 100%;
        opacity: 0;
        img{
          width: 100%;
        }
        animation: alphabet_b_letter .5s ease .3s forwards;
      }
    }

    .neko{
      position: absolute;
      top: 62%;
      left: 47%;
      transform: translate(-50%, -50%);
      width: 38.455%;
      img{
        width: 100%;
        &.after{
          display: none;
        }
      }
    }
    .ac{
      width: 6%;
      position: absolute;
      top: 22%;
      left: 64%;
      opacity: 0;
      transform: translate(-10px, 10px);
      transition: .5s;
      &.on{
        opacity: 1;
        transform: translate(0px, 0px);
      }
      img{
        width: 100%;
      }
    }
    .apple{
      position: absolute;
      top: -30%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 17.7%;
      img{
        width: 100%;
        transform: rotate(-29deg);
        transition: .8s;
      }
      &.on{
        img{
          transform: rotate(0deg);
        }
      }
    }

    .btn_sound{
      display: block;
      position: absolute;
      width: 30%;
      right: 25px;
      bottom: 15px;
      .btn_on{
        position: absolute;
        top: 0;
        left: 0;
      }
      .btn_off{
        position: relative;
        z-index: 10;
      }
      img{
        width: 100%;
      }
      &.on{
        .btn_off{
          opacity: 0;
        }
      }
    }
  }
}


/* alphabet b */
@keyframes alphabet_b_letter {
  0% {
    opacity: 0;
    transform: translate(0, 10px);
  }
  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
}
@keyframes alphabet_b_charactor{
  0% {
    opacity: 0;
    transform: translate(-40%, -40%);
  }
  100% {
    opacity: 1;
    transform: translate(-50%, -50%);
  }
}
.app.b{
  .content-wrapper{
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    background: url("../img/b/bg.png") no-repeat center center;
    -webkit-background-size: cover;
    background-size: cover;
    .alphabet{
      width: 22%;
      margin-top: 115px;
      margin-left: 25px;
      .letter{
        width: 39%;
        margin-left: auto;
        margin-right: auto;
        opacity: 0;
        margin-bottom: 18px;
        img{
          width: 100%;
        }
        animation: alphabet_b_letter .5s ease 0s forwards;
      }
      .text{
        width: 100%;
        opacity: 0;
        img{
          width: 100%;
        }
        animation: alphabet_b_letter .5s ease .3s forwards;
      }
    }
    .neko{
      width: 45%;
      position: absolute;
      top: 47%;
      left: 51%;
      opacity: 0;
      animation: alphabet_b_charactor .5s ease 0s forwards;
      img{
        width: 100%;
      }
    }
    .banana{
      width: 61%;
      position: absolute;
      top: 50%;
      left: 58%;
      transform: translate(-50%, -50%);
      img{
        width: 100%;
      }
    }
    .btn_sound{
      display: block;
      position: absolute;
      width: 33.66%;
      right: 25px;
      bottom: 15px;
      .btn_on{
        position: absolute;
        top: 0;
        left: 0;
      }
      .btn_off{
        position: relative;
        z-index: 10;
      }
      img{
        width: 100%;
      }
      &.on{
        .btn_off{
          opacity: 0;
        }
      }
    }
  }
}