/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 7, ../sass/style.scss */
html {
  height: 100%;
}

/* line 10, ../sass/style.scss */
body {
  background-image: url(../img/bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

@keyframes arm {
  0% {
    transform: rotate(-45deg);
  }
  100% {
    transform: rotate(45deg);
  }
}
@keyframes body {
  0% {
    transform: translate(0px, 0px);
  }
  100% {
    transform: translate(0px, 20px);
  }
}
/* line 30, ../sass/style.scss */
.app {
  height: 100%;
}

/* line 34, ../sass/style.scss */
.title {
  position: absolute;
  width: 44.3%;
  top: 2%;
  left: 2%;
}
/* line 39, ../sass/style.scss */
.title img {
  width: 100%;
}

/* line 45, ../sass/style.scss */
.target_frame.orange {
  width: 23%;
  height: 50%;
  position: absolute;
  top: 5%;
  right: 11%;
}
/* line 51, ../sass/style.scss */
.target_frame.orange.result {
  transition: .5s;
  transform: scale(0.9) translate(-129%, 33%);
}
/* line 56, ../sass/style.scss */
.target_frame.pudding {
  width: 27%;
  height: 50%;
  position: absolute;
  top: 5%;
  right: 11%;
}
/* line 62, ../sass/style.scss */
.target_frame.pudding.result {
  transition: .5s;
  transform: scale(0.9) translate(-110%, 40%);
}
/* line 68, ../sass/style.scss */
.target_frame img {
  position: absolute;
}
/* line 71, ../sass/style.scss */
.target_frame img.frame {
  width: 100%;
  top: 0;
  left: 0;
}
/* line 76, ../sass/style.scss */
.target_frame img.orange {
  width: 96%;
  top: -300px;
  left: 2%;
}

/* line 85, ../sass/style.scss */
.chara_list_wrapper {
  position: absolute;
  overflow: hidden;
  height: 100%;
  width: 100%;
}
/* line 90, ../sass/style.scss */
.chara_list_wrapper .chara_list {
  position: absolute;
  width: 200%;
  bottom: -20%;
}
/* line 94, ../sass/style.scss */
.chara_list_wrapper .chara_list li {
  width: 12%;
  float: left;
  margin-right: 0.5%;
  position: relative;
}
/* line 99, ../sass/style.scss */
.chara_list_wrapper .chara_list li.on {
  animation: body .2s infinite alternate ease-in-out;
}
/* line 101, ../sass/style.scss */
.chara_list_wrapper .chara_list li.on img.arm {
  animation: arm .4s infinite alternate ease-in-out;
}
/* line 106, ../sass/style.scss */
.chara_list_wrapper .chara_list li img.body {
  width: 100%;
  vertical-align: middle;
}
/* line 110, ../sass/style.scss */
.chara_list_wrapper .chara_list li img.arm {
  position: absolute;
  top: 34%;
  left: 50%;
  width: 19%;
  transform-origin: 50% 6%;
}
/* line 117, ../sass/style.scss */
.chara_list_wrapper .chara_list li img.body_up {
  width: 100%;
  vertical-align: middle;
  position: relative;
  margin-top: -14%;
  z-index: 99;
}
/* line 124, ../sass/style.scss */
.chara_list_wrapper .chara_list li img.orange {
  position: absolute;
  width: 80%;
  top: -49%;
  left: 20%;
}
/* line 130, ../sass/style.scss */
.chara_list_wrapper .chara_list li img.pudding {
  position: absolute;
  width: 92%;
  top: -40%;
  left: 7%;
}

/* line 140, ../sass/style.scss */
.one {
  width: 3.3%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 4%;
}
/* line 145, ../sass/style.scss */
.one img {
  width: 100%;
}

/* line 149, ../sass/style.scss */
.txt_orange {
  width: 24.4%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 21%;
}
/* line 154, ../sass/style.scss */
.txt_orange img {
  width: 100%;
}

/* line 158, ../sass/style.scss */
.btn_repeat {
  display: block;
  width: 325px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  margin-top: 1%;
}
/* line 165, ../sass/style.scss */
.btn_repeat img {
  width: 100%;
}
/* line 167, ../sass/style.scss */
.btn_repeat img:first-child {
  position: absolute;
  top: 0;
  left: 0;
}

/* line 174, ../sass/style.scss */
.one, .txt_orange, .btn_repeat {
  opacity: 0;
  transition: .2s;
  display: none;
}
/* line 178, ../sass/style.scss */
.one.active, .txt_orange.active, .btn_repeat.active {
  opacity: 1;
  display: block;
}

@media screen and (min-width: 768px) {
  /* line 185, ../sass/style.scss */
  .txt_orange {
    margin-top: 31%;
    width: 44.4%;
  }
}
