/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 8, ../sass/style.scss */
html, body {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

/* line 14, ../sass/style.scss */
#animation_container {
  overflow: hidden;
}

/* line 18, ../sass/style.scss */
.ctrl {
  height: 85px;
  width: 100%;
  background: url(../images/bg_ctrl.png) no-repeat center center;
  background-size: cover;
  position: absolute;
  bottom: 0;
  z-index: 99999;
}
/* line 26, ../sass/style.scss */
.ctrl .balloon_play {
  width: 75%;
  position: absolute;
  top: -65%;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  opacity: 0;
  transition: .2s;
}
/* line 35, ../sass/style.scss */
.ctrl .balloon_play.on {
  top: -70%;
  opacity: 1;
}
/* line 39, ../sass/style.scss */
.ctrl .balloon_play img {
  width: 100%;
}
/* line 44, ../sass/style.scss */
.ctrl .chap {
  text-align: center;
  padding-top: 9px;
}
/* line 47, ../sass/style.scss */
.ctrl .chap li {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 0 2px;
}
/* line 52, ../sass/style.scss */
.ctrl .chap li a {
  width: 100%;
  height: 100%;
  display: block;
  background-color: #77491c;
  border-radius: 50%;
}
/* line 60, ../sass/style.scss */
.ctrl .chap li.active a {
  background-color: #dfa56d;
}
/* line 66, ../sass/style.scss */
.ctrl .btn_wrapper {
  text-align: center;
  padding-top: 8px;
}
/* line 69, ../sass/style.scss */
.ctrl .btn_wrapper a {
  display: inline-block;
  width: 37px;
  position: relative;
  margin: 0 10px;
}
/* line 74, ../sass/style.scss */
.ctrl .btn_wrapper a.disable {
  opacity: 0.5;
}
/* line 77, ../sass/style.scss */
.ctrl .btn_wrapper a img {
  width: 100%;
}
/* line 79, ../sass/style.scss */
.ctrl .btn_wrapper a img:last-child {
  position: absolute;
  top: 0;
  left: 0;
}
/* line 85, ../sass/style.scss */
.ctrl .btn_wrapper a.off {
  display: none;
}
