@charset "UTF-8";
/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 8, ../sass/style.scss */
.header {
  position: absolute;
  z-index: 99999;
}
/* line 11, ../sass/style.scss */
.header h1 {
  font-size: 18px;
  line-height: 1.5;
  letter-spacing: 0.05rem;
  text-align: center;
}
/* line 17, ../sass/style.scss */
.header .left {
  font-size: 18px;
  line-height: 1.2;
  z-index: 10;
  position: absolute;
  display: inline-block;
  vertical-align: middle;
  top: 20px;
  left: 10px;
}
/* line 27, ../sass/style.scss */
.header .left a {
  color: #fff;
}
/* line 29, ../sass/style.scss */
.header .right {
  font-size: 18px;
  line-height: 1.2;
  z-index: 10;
  position: absolute;
  display: inline-block;
  vertical-align: middle;
  top: 20px;
  right: 10px;
}
/* line 39, ../sass/style.scss */
.header .right a {
  color: #fff;
}

/*----------------------------------------------------
設定
----------------------------------------------------*/
/* line 47, ../sass/style.scss */
#index .contents {
  margin-top: 50px;
}

/* line 54, ../sass/style.scss */
.button02 a {
  width: 87%;
  margin: 0 auto;
  background-color: #f3c500;
  border: none;
  border-radius: 30px;
  display: block;
  font-weight: bold;
  text-align: left;
  text-decoration: none;
  padding: 15px 10px;
  letter-spacing: 0.05rem;
  color: #ffffff;
  text-decoration: none;
  display: block;
  font-size: 18px;
  margin-bottom: 15px;
}

/* line 73, ../sass/style.scss */
.button02.col01 a {
  background-color: #79C753;
  border: 4px solid #66b142;
  color: #fff;
  font-weight: normal;
}

/* line 79, ../sass/style.scss */
.button02.col02 a {
  background-color: #F7786B;
  border: 4px solid #e46c60;
  color: #fff;
  font-weight: normal;
}

/* line 85, ../sass/style.scss */
.button02.col03 a {
  background-color: #98DDDE;
  border: 4px solid #87cdce;
  color: #fff;
  font-weight: normal;
}

/* line 91, ../sass/style.scss */
.button02.col04 a {
  background-color: #B18F6A;
  border: 4px solid #a5815b;
  color: #fff;
  font-weight: normal;
}

/* line 97, ../sass/style.scss */
.button02.col05 a {
  background-color: #f8dd30;
  border: 4px solid #efd52f;
  color: #fff;
  font-weight: normal;
}
