/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 7, ../sass/index.scss */
html {
  height: 100%;
}

/* line 10, ../sass/index.scss */
body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  padding: 0;
  margin: 0;
}
/* line 16, ../sass/index.scss */
body#openning {
  background-color: #d6d578;
}
/* line 19, ../sass/index.scss */
body#main {
  background-color: #6dbc52;
}

/* line 24, ../sass/index.scss */
img {
  width: 100%;
  height: auto;
}

/* line 29, ../sass/index.scss */
a.btn {
  display: block;
  position: absolute;
  transform: translate(-50%, -50%);
}
/* line 33, ../sass/index.scss */
a.btn img {
  width: 100%;
}
/* line 35, ../sass/index.scss */
a.btn img.btn_on {
  position: relative;
  z-index: 0;
}
/* line 39, ../sass/index.scss */
a.btn img.btn_off {
  position: absolute;
  z-index: 99;
  top: 0;
  left: 0;
}
/* line 48, ../sass/index.scss */
a.btn.on .btn_off {
  display: none;
}
/* line 53, ../sass/index.scss */
a.btn.btn_start {
  width: 202px;
  top: 28%;
  left: 50%;
}

/* line 60, ../sass/index.scss */
#openning {
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: none;
}
/* line 65, ../sass/index.scss */
#openning .contents {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: url(../img/opening.png) center top;
  background-size: cover;
}

/* line 74, ../sass/index.scss */
.stage {
  background-image: url("../img/st_bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
}
/* line 80, ../sass/index.scss */
.stage .sts {
  position: relative;
  width: 100%;
  height: 100%;
}
/* line 84, ../sass/index.scss */
.stage .sts li {
  width: 14%;
  position: absolute;
  transition: .4s;
  animation: strawberry .2s linear 0s;
}
/* line 89, ../sass/index.scss */
.stage .sts li.sweet {
  background: url("../img/st_red.png") no-repeat;
  background-size: 100% 100%;
}
/* line 93, ../sass/index.scss */
.stage .sts li.sour {
  background: url("../img/st_white.png") no-repeat 100% 100%;
  background-size: 100% 100%;
}
/* line 97, ../sass/index.scss */
.stage .sts li.st1 {
  left: 28%;
  top: 10%;
  transform: rotate(-15deg);
}
/* line 102, ../sass/index.scss */
.stage .sts li.st2 {
  left: 52%;
  top: 8%;
}
/* line 106, ../sass/index.scss */
.stage .sts li.st3 {
  left: 77%;
  top: 10%;
}
/* line 110, ../sass/index.scss */
.stage .sts li.st4 {
  left: 39%;
  top: 43%;
  transform: rotate(-10deg);
}
/* line 115, ../sass/index.scss */
.stage .sts li.st5 {
  left: 63%;
  top: 45%;
}
/* line 119, ../sass/index.scss */
.stage .sts li.picked {
  transform: scale(2) rotate(-15deg);
  opacity: 0;
}
/* line 126, ../sass/index.scss */
.stage .baloon {
  position: absolute;
  top: 0;
  left: 50%;
  width: 87%;
  display: none;
  transform: scale(1) translate(-50%, 0%);
}
/* line 133, ../sass/index.scss */
.stage .baloon.active {
  display: block;
  animation: baloon .3s linear 0s;
}
/* line 139, ../sass/index.scss */
.stage .taste {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
}
/* line 146, ../sass/index.scss */
.stage .taste li {
  position: absolute;
  top: 39%;
  left: 50%;
  width: 67%;
  display: none;
}
/* line 152, ../sass/index.scss */
.stage .taste li.active {
  display: block;
  transform: scale(1) translate(-50%, -50%);
  animation: taste .3s linear 0s;
}
/* line 160, ../sass/index.scss */
.stage .childe {
  width: 30%;
  position: absolute;
  bottom: 0;
  left: 4%;
}
/* line 165, ../sass/index.scss */
.stage .childe img {
  display: none;
}
/* line 167, ../sass/index.scss */
.stage .childe img.active {
  display: inline;
}

@keyframes baloon {
  from {
    opacity: 0;
    transform: scale(0.5) translate(-50%, 0%);
  }
  to {
    opacity: 1;
    transform: scale(1) translate(-50%, 0%);
  }
}
@keyframes taste {
  from {
    opacity: 0;
    transform: scale(0.5) translate(-50%, -50%);
  }
  to {
    opacity: 1;
    transform: scale(1) translate(-50%, -50%);
  }
}
@keyframes strawberry {
  from {
    transform: scale(0.1);
  }
  to {
    transform: scale(1);
  }
}
/* line 207, ../sass/index.scss */
a.index {
  display: inline-block;
  position: absolute;
  padding: 10px 20px;
  top: 0;
  left: 3%;
  background-color: #fff;
  text-decoration: none;
  z-index: 9999;
}
/* line 216, ../sass/index.scss */
a.index:visited, a.index:hover {
  color: #000;
}

@media screen and (min-width: 768px) {
  /* line 223, ../sass/index.scss */
  .stage .taste li {
    position: absolute;
    top: 29%;
    left: 50%;
    width: 67%;
    display: none;
  }
}
