@charset "utf-8";
html, body {
	height: 100%;	
}
p{
		@include fz(14);
	font-weight: bold;
	margin-bottom: 0.5rem;
	line-height: 1.5;
	font-weight: normal;
	}

p.small{
	@include fz(12);
	font-weight: normal;
}

.tac{text-align: center;}

// リンク
a {
	&:link {
		color: $link_color;
		text-decoration: underline;
	}
	&:visited {
		color: $link_color_visited;
	}
	&:hover {
		color: $link_color_hover;
	}
	&:active {
		color: $link_color_active;
	}
}


input[type="submit"] {
  -webkit-appearance: none;
}

.bold{font-weight: bold;}
.gray{color: #7b7b7b;}
.green{}
.lh15{line-height: 1.5;}

.button01 a{
	width: 200px;
  margin: 0 auto;
  background-color: #f3c500;
  border: none;
  border-radius: 6px;
  display: block;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  padding: 10px;
  letter-spacing: 0.05rem;
	  color: #ffffff !important;
	  text-decoration: none;
	  display: block;
}

.button01_small a{
	width:80px;
  margin: 0 auto;
  background-color: #f3c500;
  border: none;
  border-radius: 6px;
  display: block;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  padding: 10px;
  letter-spacing: 0.05rem;
	color: #ffffff !important;
	text-decoration: none;
	display: block;
}

.btn2wrapper{
	width: 210px;
	margin:  0 auto;
}

.title_01{
  width: 100%;
  margin: 0 auto;
  font-family: sans-serif;
  @include fz(16);
  color:#333;
}
.heading {
  margin: 10px 0
}
.title_01 .heading {
  overflow: hidden;
  position: relative;
  padding-bottom: 8px;
  margin-bottom: 15px;
  margin-top: 0;
}
.title_01 .heading span{
  padding: 8px;
  padding-left: 3px;
}
.title_01 .heading:before {
  content: "";
  border-bottom: 3px solid $main_color;
  bottom: 0;
  height: 0;
  position: absolute;
  width: 100%;
  z-index: 0;
}
.title_01 .heading:after {
  border-bottom: 3px solid #ddd;
  bottom: 0;
  content: "";
  position: absolute;
  width:100%;
  z-index: 1;
}

// ===================================================================
// レイアウト関連
// ===================================================================

.header{
	background: $main-color;
	color: $white_color;
// 	position: relative;
	h1{
			@include fz(18);
			line-height: 1.5;
			letter-spacing: 0.05rem;
			text-align: center;
	}
	.left{
			@include fz(18);
			line-height: 1.2;

    z-index: 10;
    position: absolute;
		display: inline-block;
    vertical-align: middle;
    top: 20px;
    left: 10px;
    a{color: #fff;}
	}
	.right{
			@include fz(18);
			line-height: 1.2;
			
    z-index: 10;
    position: absolute;
		display: inline-block;
    vertical-align: middle;
    top: 20px;
    right: 10px;
    a{color: #fff;}
	}
}//header

.contents{
	padding: 5%;
	padding-bottom: 20%;
	padding-top: 8%;
}//.contents
.contents.nopadding{
	padding: 0;
	padding-bottom: 0;
	padding-top: 0;
}//.contents


/*----------------------------------------------------
ミュージックプレイヤー
----------------------------------------------------*/



