@charset "utf-8";
// ===================================================================
// KE2 ミュージックプレイヤー
// ===================================================================
@font-face {
   font-family: Karla;
   src: url('../fonts/Karla-Bold.ttf') format("truetype");
}
.karla{
	font-family: 'Karla';
}


@keyframes speaker {
	0% {transform: scale(1.1)}
	100% {transform: scale(1)}
}

body #mp2{
	background: url(../images/mp2_bg1.png);
	.player_wrapper{
		background: #daf6ff;
		@include border-radius(12px);
		height: 100%;
		margin: 3%;
		.mp_top{
			padding: 3%;
			padding-bottom: 0;
			.fl{
				width: 40%;
				.speakerwrapper{
					background: url(../images/mp2_img01.png) no-repeat;
					background-size: contain;
					margin-bottom: 10%;
				}
				.speaker img{
					width: 84%; padding: 8%;
					&.active{
						animation: speaker .5s ease 0s infinite normal;
					}
				}
			}//.fl
			.fr{
				width: 58%;
				.mp2_btn{
					width: 21%;
					margin-right: 5%;
					display: inline-block;
					text-align: center;
					&:last-child{margin-right: 0;}
					img{width:100%;}
					}
					
					.mp2_tit{
						background-color: #fff;
						text-align: center;
						border-radius: 6px;
						border: 5px #44b6e4 solid;
						}
						.ui-slider{
							margin: 0 !important;
							height: 30px;
						}
						.volume_small{
							width: 10%;
							height: 30px;
							float: left;
							background: url(../images/mp2_img04.png) no-repeat center center;
						}
						.volume_slider{
							width: 80%;
							float: left;
						}
						.volume_loud{
							width: 10%;
							height: 30px;
							float: left;
							background: url(../images/mp2_img05.png) no-repeat center center;
						}
						.controler_wrapper{
							width: 100%;
							margin: 0 auto;
						}
						.controler{
							width: 100%;
							text-align: center;
							padding-top: 3%;
							margin-bottom: 2%;
						}
						
						.nowplay{
							color: #44b6e4;
							@include fz(18);
							margin-bottom: 0;
						}
						.song-title{
							padding:3% 4%;
							color: #ff6046;
							@include fz(28);
							line-height: 1;
							margin-bottom: 0;
						}
						
			}//.fl
			input[type=number]{display: none;}
			.ui-slider-track {
				margin-left: 15px;
				margin-right: 15px;
				background-color: #6f6f6f;
				border: none;
				height: 30px;
				border-radius: 20px;
				top: 0;
				.ui-slider-handle{
					top:-9%;
				}
				.ui-slider-handle.ui-btn .ui-shadow{
					width: 26px;
					height: 26px;
				}
				&.ui-shadow-inset{
					box-shadow:none;
				}
				}
			.ui-slider-track .ui-btn.ui-slider-handle{
					width: 40px;
					height: 40px;
					padding: 15px;
					border-radius: 50%;
					border: none;
					background:url(../images/mp2_img03.png) #ff6046 center center no-repeat;
				}
		}
		
		.mp_bottom{
			background-color: #fff;
			border-top: 5px #44b6e4 solid;
			padding: 10px 15px;
			 @include border_radiusSH(0, 0, 12px, 12px);
			height: 25px;
			overflow: hidden;
			position: relative;
			margin-top: 2%;
			ul{
				color: #ff6046;
				@include fz(20);
				line-height: 1;
				margin-bottom: 0;
				position: absolute;
				top: 0;
				left: 50px;
				li{
					height: 45px;
					line-height: 45px;
				}
			}
		}
	}//.player_wrapper
}//body .mp2



/*----------------------------------------------------
※※※※※※
----------------------------------------------------*/
