/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";

@font-face {
  font-family: 'montserrat';
  src: url('../../../font/montserrat-bold-webfont.woff2') format('woff2'),
  url('../../../font/montserrat-bold-webfont.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'montserrat';
  src: url('../../../font/montserrat-regular-webfont.woff2') format('woff2'),
  url('../../../font/montserrat-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}


a{
  text-decoration: none;
}
a.btn.img {
  display: block;
  position: relative;
  width: 212px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  img {
    width: 100%;
  }
  .btn_on {
    position: relative;
    z-index: 0;
  }
  &.on {
    .btn_off {
      display: none;
    }
  }
  .btn_off {
    position: absolute;
    z-index: 99;
    top: 0;
    left: 0;
  }
}
.btn.swap{
  position: relative;
  display: inline-block;
  &.on{
    img:first-child{
      opacity: 0;
    }
  }
  img{
    transtion: .2s;
    &:first-child{
      position: relative;
      z-index: 9999;
    }
    &:last-child{
      position: absolute;
      top: 0;
      left: 0;
      z-index: 0;
    }
  }
}


html,body {
  font-family: Montserrat;
  position: relative;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background: url("../img/bg_dot.png");
  background-size: 30px 30px;

  .app{
    .photo_view{
      overflow: hidden;
      background: white;
      position: relative;
      img{
        width: 100%;
        height: auto;
      }
      .ctrl{
        position: absolute;
        bottom: 0;
        right: 0;
        padding-bottom: 20px;
        padding-right: 10px;
        a{
          margin-right: 7px;
          position: relative;
          img{
            width: 48px;
          }

        }
      }
    }
    .pill_img{
      width: 85%;
      margin-left: auto;
      margin-right: auto;
      margin-top: -25px;
      position: relative;
      z-index: 999;
      img{
        width: 100%;
      }
    }


    .mainnav{
      position: absolute;
      bottom: 3%;
      a{
        display: block;
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 8px;
        box-sizing: border-box;
      }
    }

    .repeat{
      a{
        display: block;
        background: url(../img/btn2_off_base.png) center bottom no-repeat;
        width: 300px;
        height: calc(300px * 0.2698412698);
        background-size: cover;
        margin-left: auto;
        margin-right: auto;
        line-height: calc(300px * 0.2698412698);
        overflow: hidden;
        font-size: 35px;
        font-weight: bold;
        color: #ae8b14;
        text-align: center;
        margin-bottom: 8px;
        box-sizing: border-box;
        &.on{
          background: url(../img/btn2_on_base.png) center bottom no-repeat;
          background-size: cover;
          padding-top: 10px;
        }
      }
    }

  }
}


body.poke{
  .look{
    height: 100%;
    background: url("../img/bg_poke.png");
    height: 100%;
    .page_poke{
      height: calc( 100% - 50px );
      padding-top: 72px;
      padding-left: 18px;
      padding-right: 18px;
      background: url(../img/footer_bg.png) no-repeat center calc( 100% );
      background-size: 100% auto;
      .title{
        text-align:center;
        margin-bottom: 15px;
        width: 307px;
        margin-left: auto;
        margin-right: auto;
        img{
          width: 100%;
        }
      }
      .wrapper_photo{
        margin-bottom: 16px;
        .photo{
          position: relative;
          height: 251px;
          img{
            position: absolute;
            width: 100%;
            top: 0;
            left: 0;
            opacity: 0;
            transition: .2s;
            &.on{
              opacity: 1;
            }
          }
        }
      }
      .msg_tap{
        margin-bottom: 30px;
        img{
          width: 100%;
        }
      }

    }
  }
  .btn_more{
    display: none !important;
    &.active{
      display: block !important;
    }
  }
}

/**
 *  leg's count
 */

body.count {
  .look {
    width: 100%;
    height: 100%;
    background: url("../img/bg_poke.png");
    background-size: cover;
    .count_wrapper {
      height: calc(100% - 50px);
      padding-top: 72px;
      padding-left: 18px;
      padding-right: 18px;
      background: url(../img/bg_storn.png) no-repeat center top;
      background-size: cover;
      .title {
        text-align: center;
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        img {
          width: 100%;
        }
        transition: .2s;
        &.on{
          opacity: 0;
        }
      }
      .legs_img{
        height: 50%;
        position: relative;
        transform: scale(0.8);
        .mom{
          position: absolute;
          top: 0;
          left: -5%;
          width: 182px;
          text-align: center;
          img{
            width: 100%;
          }
          transition: .2s;
          &.on{
          transform: scale(1.2) translate(60px, -34px);
          }
          &.off{
            opacity: 0;
          }
          ul{
            width: 100%;
            position: absolute;
            top: 0;
            left: 0;
            font-family: "Kreon", serif;
            font-weight: bold;
            font-size: 35px;
            color: #FFF;
            li{
              opacity: 0;
              transition: .2s;
              &.on{
                opacity: 1;
              }
              position: absolute;
              &.leg1{ top: 15px; right: 62px;}
              &.leg2{ top: 25px; right: 29px;}
              &.leg3{ top: 70px; right: 0px;}
              &.leg4{ top: 129px; right: -19px;}
              &.leg5{ top: 179px; right: -6px;}
              &.leg6{ top: 230px; right: 0px;}
              &.leg7{ top: 262px; right: 29px;}
              &.leg8{ top: 262px; left: 44px;}
              &.leg9{ top: 216px; left: -10px;}
              &.leg10{ top: 146px; left: -33px;}
              &.leg11{ top: 106px; left: -30px;}
              &.leg12{ top: 64px; left: -25px;}
              &.leg13{ top: 28px; left: -2px;}
              &.leg14{ top: 14px; left: 39px;}
            }
          }
        }
        .baby{
          position: absolute;
          top: 60px;
          right: 5%;
          width: 105px;
          text-align: center;
          img{
            width: 100%;
          }
          &.on{
            transform: scale(1.3) translate(-63px, -20px);
          }
          &.off{
            opacity: 0;
          }
          ul{
            width: 100%;
            position: absolute;
            top: 0;
            left: 0;
            font-family: "Kreon", serif;
            font-weight: bold;
            font-size: 35px;
            color: #FFF;
            li{
              opacity: 0;
              transition: .2s;
              &.on{
                opacity: 1;
              }
              position: absolute;
              &.leg1{ top: -9px; right: -2px;}
              &.leg2{ top: 37px; right: -11px;}
              &.leg3{ top: 65px; right: -20px;}
              &.leg4{ top: 94px; right: -21px;}
              &.leg5{ top: 122px; right: -20px;}
              &.leg6{ top: 150px; right: -9px;}
              &.leg7{ top: 146px; left: 2px;}
              &.leg8{ top: 112px; left: -23px;}
              &.leg9{ top: 76px; left: -10px;}
              &.leg10{ top: 49px; left: -33px;}
              &.leg11{ top: 16px; left: -13px;}
              &.leg12{ top: -10px; left: 14px;}
            }
          }
        }
      }
    }
  }
}



//footer
.footer_loop{
  background: url(../img/footer_loop.png) repeat-x center bottom;
  background-size: 26px 43px;
  position: absolute;
  bottom: 0;
  height: 43px;
  width: 100%;
}

@media screen and (min-width: 768px){
  html,body{
    overflow: hidden !important;
    .app{
      .pill_img{
        display: none;
      }
      .mainnav{
        padding-top: 50px;
        position: static;
        a{
          width: 70%;
        }
      }
    }
  }
  body.poke .look .page_poke .msg_tap{
    margin-bottom: 30px;
    margin-top: 300px;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
  }
  body.count{
    .look{
      .count_wrapper{
        .legs_img{
          .mom{
            top: 10%;
            left: 20%;
            width: 200px;
            &.on{
              transform: scale(2) translate(170px, 0px);
            }
          }
          .baby{
            top: 25%;
            right: 20%;
            width: 100px;
            &.on{
              transform: scale(2) translate(-133px, 20px);
            }
          }
        }
      }
    }
  }
  body.count{
    .app{
      .mainnav{
        padding-top: 0;
      }
    }
  }
}
