body.fly{
  #animation_container{
    background: url("../img/bg_fly.png");
    background-size: cover;
    margin-left: auto;
  }
  a.btn.img {
    display: none;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    img {
      width: 100%;
    }
    .btn_on {
      position: relative;
      z-index: 0;
    }
    &.active{
      display: block;
    }
    &.on {
      .btn_off {
        display: none;
      }
    }
    .btn_off {
      position: absolute;
      z-index: 99;
      top: 0;
      left: 0;
    }
  }
  .btn{
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translate(-50%, 0);
    display: none;

    &.more{

    }
    &.view{

    }
  }
}
@media screen and (min-width: 768px){
  body{
    background-color: #66ccff;
    #animation_container{
      margin-left: auto;
      margin-right: auto;
    }
  }
  body.fly a.btn.img {
    width: 40%;
  }
}