/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";

@font-face {
  font-family: 'montserrat';
  src: url('../../../font/montserrat-bold-webfont.woff2') format('woff2'),
  url('../../../font/montserrat-bold-webfont.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'montserrat';
  src: url('../../../font/montserrat-regular-webfont.woff2') format('woff2'),
  url('../../../font/montserrat-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

a{
  text-decoration: none;
}
a.btn.img {
  display: block;
  position: relative;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  img {
    width: 100%;
  }
  .btn_on {
    position: relative;
    z-index: 0;
  }
  &.on {
    .btn_off {
      display: none;
    }
  }
  .btn_off {
    position: absolute;
    z-index: 99;
    top: 0;
    left: 0;
  }
}
.btn.swap{
  position: relative;
  display: inline-block;
  &.on{
    img:first-child{
      opacity: 0;
    }
  }
  img{
    transtion: .2s;
    &:first-child{
      position: relative;
      z-index: 9999;
    }
    &:last-child{
      position: absolute;
      top: 0;
      left: 0;
      z-index: 0;
    }
  }
}


html,body {
  font-family: Montserrat;
  position: relative;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background: url("../img/bg_dot.png");
  background-size: 30px 30px;
  .shelf{
    position: absolute;
    left: 18px;
    top: 0;
    z-index: 9999;
    img{
      width: 86px;
    }
  }
  .app{
    .photo_view{
      overflow: hidden;
      background: white;
      position: relative;
      img{
        width: 100%;
        height: auto;
      }
      .ctrl{
        position: absolute;
        bottom: 0;
        right: 0;
        padding-bottom: 20px;
        padding-right: 10px;
        a{
          margin-right: 7px;
          position: relative;
          img{
            width: 48px;
          }

        }
      }
    }
    .word{
      font-size: 35px;
      font-weight:bold;
      text-align: center;
      margin-bottom: 15px;
      .sound.play{
        display: inline-block;
        margin-left: 15px;
        img{
          width: 48px;
          vertical-align: middle;
        }
      }
    }
    .insertimg{
      width: 100%;
      margin-left: -16%;
      margin-top: -30px;
      position: relative;
      z-index: 99999;
      margin-bottom: 10px;
      img{
        width: 100%;
      }
    }

    //.mainnav{
    //  a{
    //    display: block;
    //    background: url(../img/btn_off_base.png) center bottom no-repeat;
    //    width: 300px;
    //    height: calc(300px * 0.2698412698);
    //    background-size: cover;
    //    margin-left: auto;
    //    margin-right: auto;
    //    line-height: calc(300px * 0.2698412698);
    //    overflow: hidden;
    //    font-size: 35px;
    //    font-weight: bold;
    //    color: #ae8b14;
    //    text-align: center;
    //    margin-bottom: 8px;
    //    box-sizing: border-box;
    //    &.on{
    //      background: url(../img/btn_on_base.png) center bottom no-repeat;
    //      background-size: cover;
    //      padding-top: 10px;
    //    }
    //  }
    //}
    .accent{
      position: absolute;
      bottom: 13px;
      overflow: hidden;
      right: 50px;
      img{
        width: 334px;
      }
    }
  }

  .page2{
    padding-top: 125px;
    padding-left: 20px;
    padding-right: 20px;
    background: url(../img/header_accent.png) no-repeat top right;
    background-size: 202px auto;
    .title{
      font-size: 35px;
      font-weight: bold;
      color: #ea6650;
      margin-bottom: 10px;
      text-align: center;
    }
    .step_photo{
      position: relative;
      margin-bottom: 45px;
      ul{
        li{
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: calc(100% * 0.7462686567);
          opacity: 0;
          transition: .2s;
          &.active{
            opacity: 1;
          }
          &:first-child{
            position: relative;
            opacity: 1;
          }
          img{
            width: 100%;
          }
        }
      }
    }

    .step_title{
      position: relative;
      margin-bottom: 15px;
      li{
        text-align: center;
        position: absolute;
        font-size: 28px;
        font-weight: bold;
        opacity: 0;
        transition: .2s;
        top: 0;
        left: 0;
        width: 100%;
        &.active{
          opacity: 1;
        }
        &:first-child{
          position: relative;
        }
      }
    }
    .step_text{
      position: relative;
      margin-bottom: 35px;
      li{
        text-align: center;
        position: absolute;
        font-size: 21px;
        opacity: 0;
        transition: .2s;
        top: 0;
        left: 0;
        width: 100%;
        &.active{
          opacity: 1;
        }
        &:first-child{
          position: relative;
        }
      }
    }

    .slider_wrapper{
      width: 90%;
      margin: 0 auto;
      .axis{
        position: relative;
        height: 40px;
        &.top{
          height: 128px;
        }
        li{
          position: absolute;
          top: 0;
          left: 0;
          text-align: center;
          color: #9bbe3b;
          height: 128px;
          img{
            height: 100%;
          }

          &:nth-child(1){
            left: -5%;
          }
          &:nth-child(2){
            left: 22.5%;
          }
          &:nth-child(3){
            left: 58.7%;
          }
          &:nth-child(4){
            left: 84%;
          }
        }

      }
      .slider_inner{
        margin-top: -34px;
      }
    }

    .ui-slider-horizontal .ui-slider-handle{
      margin-left: -1.5em;
    }

    .ui-slider-horizontal {
      height: 15px;
      width: 100%;
      margin-left: auto;
      margin-right: auto;
      border-radius: 7px;
    }
    .ui-state-default,
    .ui-widget-content .ui-state-default,
    .ui-widget-header .ui-state-default,
    .ui-button,
    html .ui-button.ui-state-disabled:hover,
    html .ui-button.ui-state-disabled:active{
      width: 45px;
      height: 45px;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      border-radius: 50%;
      top: -15px;
      border: none;
      background-color: #f6c84b;
      background-image: url(../img/slider_arrow.png);
      background-size: 21px auto;
      background-position: center center;
      background-repeat: no-repeat;
      outline: none;
    }



  }
}
.bottom_wave{
  width: 100%;
  height: 43px;
  background: url(../img/bottom_wave.png) repeat-x top center;
  -webkit-background-size: 50px 43px;
  background-size: 50px 43px;
  position: absolute;
  bottom: 0;
}

@media screen and (min-width: 768px){
  html,body{
    .app{
      .insertimg{
        display: none;
      }
      .mainnav{
        padding-top: 50px;
        a{
          width: 70%;
        }
      }
    }
  }
}
