@import "compass/reset";
html{
  height: 100%;
}
body{
  background-image: url(../img/bg.png);
  background-repeat: no-repeat;
  width: 100%;
  height:100%;
  overflow: hidden;
}
.app{
  height: 100%;
}
.cloud{
  width: 80%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.5);
  opacity: 0;
  transition: .5s;
  &.on{
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
  }
  img{
    width: 100%;
  }
  .title{
    width: 80%;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: 1s;
    &.on{
      top: 47%;
      opacity: 1;
    }
  }
}

.stars{
  width: 100%;
  height: 100%;
  position: absolute;
  li{
    position: absolute;
    img{
      width: 100%;
      transform: scale(0.1);
      transition: .5s;
      opacity: 0;
    }
    &.on{
      img{
        opacity: 1;
        transform: scale(1);
      }
    }
  }
  .star1{
    width: 30px;
    left: 33%;
    top: 29%;
  }
  .star2{
    width: 23px;
    right: 19%;
    top: 65%;
  }
  .star3{
    width: 32px;
    top: 27%;
    right: 22%;
  }
  .star4{
    width: 62px;
    left: 18%;
    top: 68%;
  }
  .star5{
    width: 47px;
    top: 22%;
    left: 18%;
  }
  .star6{
    width: 52px;
    right: 29%;
    top: 65%;
  }
  .star7{
    width: 51px;
    left: 43%;
    top: 13%;
  }
  .star8{
    width: 51px;
    left: 60%;
    top: 12%;
  }
  .star9{
    width: 47px;
    left: 54%;
    top: 28%;
  }
  .star10{
    width: 30px;
    left: 15%;
    top: 56%;
  }
  .star11{
    width: 23px;
    top: 55%;
    left: 29%;
  }
  .star13{
    width: 22px;
    left: 30%;
    top: 22%;
  }
}

.mother{
  position: absolute;
  bottom: -50%;
  width: 40%;
  left: 50%;
  transform: translate(-50%, 0);
  transition: .5s;
  &.on{
    bottom: 0;
  }
  img{
    width: 100%;
    vertical-align: middle;
  }
}

.scean1{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  transition: 1s;
  &.on{
    top: 100%;
  }
}

.scean2{
  position: absolute;
  width: 100%;
  height: 100%;
  top: -100%;
  transition: 1s;
  background: url("../img/openning/start.png") no-repeat center center;
  background-size: cover;
  &.on{
    top: 0;
  }
  ul{
    position: absolute;
    top: 51%;
    left: 50%;
    width: 84%;
    transform: translate(-50%,-50%);
    li{
      position: relative;
      float: left;
      width: 15.26%;
      text-align: center;
      padding: 0.5%;
      img{
        width: 100%;
        &.btn1_on{
          position: absolute;
          position: absolute;
          z-index: 999;
          top: 0px;
          left: 0px;
          transition: .2s;
          &.on{
            transform: scale(0.9);
          }
        }
      }
    }
  }

  .btn_start{
    position: absolute;
    display: block;
    width: 40%;
    bottom: 4%;
    left: 50%;
    transform: translate(-50%, 0);
    img{
      position: relative;
      width: 100%;
      z-index: 9;
      &:last-child{
        position: absolute;
        top: 0;
        left: 0;
        z-index: 0;
      }
      &.on{
        &:first-child{
          opacity: 0;
        }
      }
    }
  }

}