/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
@import "compass/reset";

html, body {
  height: 100vh;
  width: 100%;
  overflow: hidden;
  font-family: arvobold;
}

img {
  vertical-align: middle;
}

#top {
  background: url(../img/bg.png) left top;
  .top_header {
    width: 100%;
    height: 228px;
    background: url(../img/bg_header.png) repeat-x;
    background-size: auto 288px;
    .title {
      width: 90%;
      margin-left: auto;
      margin-right: auto;
      padding-top: 70px;
      img {
        width: 100%;
      }
    }
    .btn_next {
      width: 212px;
      margin-left: auto;
      margin-right: auto;
      padding-top: 20px;
      img {
        width: 100%;
      }
    }
  }
  .content {
    .card {
      width: 60%;
      margin-top: 6vh;
      margin-left: auto;
      margin-right: auto;
      img {
        width: 100%;
      }
    }
  }
  .top_footer {
    height: 25px;
    width: 100%;
    background: url(../img/bg_footer.png) repeat-x;
    background-size: auto 25px;
    position: absolute;
    bottom: 0;
    z-index: 999;
  }
}

.contents {
  // 先祖を参照
  .card &, .answer &{
    border: 15px solid #ff669f;
  }
  //以下いつもどおり
  box-sizing: border-box;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  .counter{
    font-family: "Kreon", serif;
    font-weight: bold;
    height: 39px;
    position: absolute;
    right: 25px;
    top: 25px;
    font-size: 30px;
    background: url("../img/slash.png") no-repeat calc(50% - 2px) bottom;
    background-size: auto 39px;
    color: #a5a5a5;
    span{
      display: inline-block;
      &.numerator{

      }
      &.denominator{
        position: relative;
        margin-left: 19px;
        top: 10px;
      }
    }
  }
  .image {
    width: 100%;
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    img {
      width: 100%;
    }
  }
  //answer
  .text{
    font-family: "Kreon", serif;
    font-weight: bold;
    text-align: center;
    font-size: 45px;
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

a.btn {
  display: block;
  position: absolute;
  transform: translate(-50%, -50%);
  img {
    width: 100%;
    &.btn_on {
      position: relative;
      z-index: 0;
    }
    &.btn_off {
      position: absolute;
      z-index: 99;
      top: 0;
      left: 0;
    }
  }

  &.on {
    .btn_off {
      display: none;
    }
  }
  //
  &.btn_answer {
    width: 80%;
    top: 70%;
    left: 50%;
  }

  &.btn_next {
    width: 80%;
    top: 80%;
    left: 50%;
  }
}

/* result */
#result{
  .result_header{
    height: 25px;
    width: 100%;
    background: url(../img/resullt_header.png) repeat-x;
    background-size: auto 25px;
    position: absolute;
    top: 0;
    z-index: 999;
  }
  .result_footer{
    height: 25px;
    width: 100%;
    background: url(../img/bg_footer.png) repeat-x;
    background-size: auto 25px;
    position: absolute;
    bottom: 0;
    z-index: 999;
  }
  .score{
    text-align: center;
    padding-top: 30%;
    .result_score{
      font-size: 264px;
      color: #ff669f;
    }
    .result_total{
      font-size: 42px;
    }
  }

  .result_img{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 40%;
    img{
      width: 100%;
    }
  }

  .message{
    text-align: center;
    font-size: 50px;
    widht: 100%;
    img{
      width: 50%;
    }
  }

  .btn_wrapper{
    margin-top: 30px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;


    a.btn{
      display: block;
      position: relative;
      transform: translate(0, 0);
      margin-bottom: 20px;
    }
  }

}

.usage{
  text-align: center;
  padding-top: 50px;
  img{
    height: calc(100vh - 100px);
  }
}

@media screen and (min-width: 768px) {
  #top .top_header{
    height: 298px;
    .title{
      width: 60%;
    }
  }
  .contents{
    .text{
      font-size: 65px;
    }
    .image{
      width: 80%;
      top: 45%;
    }
  }
  #result{
    .result_img{
      width: 80%;
      padding-top: 25%;
    }
    .btn_wrapper{
      width:70%;
      a.btn{
        margin-bottom:60px;
      }
    }
  }
}
