/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */


html, body{
  height: 100vh;
  widht: 100%;
  overflow: hidden;
  padding: 0;
  margin: 0;
  .contents{
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
    background: url(../img/bg.png);
    background-size: 143px 143px;
    opacity: 0;
    transition: .3s;
    &.active{
      opacity: 1;
    }
    p{
      font-family: "Kreon", serif;
      font-size: 40px;
      text-align: center;
      position: absolute;
      bottom: -10px;
      width: 100%;
      color: #6f3200;
    }
    .step_num{
      width: 65px;
      position: absolute;
      top: 70px;
      left: 30px;
      img{
        width: 100%;
      }
    }
    .view_img{
      position: absolute;
      width: 283px;
      top: 45%;
      left: 50%;
      transform: translate(-50%, -50%);
      img{
        width: 100%;
      }
    }
    .btn_next{
      width: 42px;
      display: block;
      position: absolute;
      right: 55px;
      top: 50%;
      transform: translate(0, -50%);
      img{
        width: 100%;
      }
    }
    .step_5_img{
      top: 0;
      left: 0;
      img{
        width: 100%;
      }
    }
  }
}
@media screen and (min-width: 768px) {
  .view_img {
    width: 566px;
  }
}
