@import "compass";
@import "compass/reset";

@font-face {
  font-family: 'kreon';
  src: url('../../../font/kreon-bold-webfont.woff') format('woff2'),
  url('../../../font/kreon-bold-webfont.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'kreon';
  src: url('../../../font/kreon-regular-webfont.woff2') format('woff2'),
  url('../../../font/kreon-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

html, body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  overflow: hidden;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -moz-tap-highlight-color: rgba(0, 0, 0, 0);
  tap-highlight-color: rgba(0, 0, 0, 0);
}

.clearfix {
  @include pie-clearfix;
}

@keyframes sakura {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(359deg);
  }
}

body {
  font-family: 'kreon', serif;
  height: 100vh !important;
  font-weight: bold;
  overflow: hidden;
  .app {
    width: 100%;
    height: 100vh !important;
    overflow: hidden;
  }
  .sakura {
    position: absolute !important;
    background: url("../img/scene2/petal1.png") no-repeat 0 0;
    background-size: 100% auto;
    z-index: 9;
    animation: sakura 8s linear 0s infinite alternate;
  }
}

img {
  vertical-align: middle;
}

a.btn {
  display: block;
  position: relative;
  width: 212px;
  margin-left: auto;
  margin-right: auto;
  img {
    width: 100%;
  }
  .btn_on {
    position: relative;
    z-index: 0;
  }
  &.on {
    .btn_off {
      display: none;
    }
  }
  .btn_off {
    position: absolute;
    z-index: 99;
    top: 0;
    left: 0;
  }
}

/* scene1 */
#scene1 {
  height: 100vh !important;
  background: url("../img/scene1/bg.png") no-repeat center center;
  background-size: cover;
  .header {
    height: 80px;
    background: url("../img/scene1/header.png") repeat-x center center;
    -webkit-background-size: auto 80px;
    background-size: auto 80px;
  }
  .kanban {
    position: absolute;
    left: 50%;
    top: 15%;
    transform: translate(-50%, 0);
    width: 80%;
    z-index: 0;
    opacity: 0;
    animation: scene1_kanban .5s ease 0s forwards;
    img {
      width: 100%;
    }
  }
  .motti {
    position: absolute;
    width: 97%;
    left: 50%;
    bottom: 0%;
    transform: translate(-50%, 0);
    z-index: 9;
    animation: scene1_motti .5s ease 0s forwards;
    img {
      width: 100%;
      position: absolute;
      bottom: 0;
    }
  }
}

@keyframes scene1_kanban {
  0% {
    opacity: 0;
    transform: translate(-50%, 5%);
  }
  100% {
    opacity: 1;
    transform: translate(-50%, 0);
  }
}

@keyframes scene1_motti {
  0% {
    transform: translate(-50%, 50%);
  }
  100% {
    transform: translate(-50%, 0);
  }
}

/* scene2, scene3 */

#scene2, #scene6 {
  background-image: url("../img/scene2/bg_sakura_left.png"),
  url("../img/scene2/bg_sakura_right.png"),
  url("../img/scene2/bg.png");
  background-repeat: no-repeat;
  background-position: 0 0, 100% 0, center center;
  background-size: 188px auto, 179px auto, cover;
}

#scene3 {
  background-image: url("../img/scene3/bg.png");
  background-size: cover;
}

#scene2, #scene3, #scene6 {

  .motti {
    position: absolute;
    width: 92%;
    left: 50%;
    bottom: 10%;
    transform: translate(-50%, 0);
    z-index: 9;

    img {
      width: 100%;
      display: none;
      &.active {
        display: inline;
      }

      &.motti1 {
        &.active {
          animation: scene2_motti .5s ease 0s forwards;
        }
      }

      &.motti4 {
        &.active {
          animation: scene2_motti2 .5s ease 0s forwards;
        }
      }

      &.motti5 {
        transform: scale(1.2) translate(-0.5%, -12%);
      }

    }

    .tina {
      position: absolute;
      right: -6%;
      top: -67%;
      display: none;
      width: 215px;
      height: 205px;
      background: url("../img/scene3/tina.png") no-repeat;
      -webkit-background-size: 645px auto;
      background-size: 645px auto;
      &.active {
        display: block;
        animation: tina 1s steps(3) infinite;
        .balloon-tina {
          transform: translate(0, 0);
          opacity: 1;
        }
      }
      .balloon-tina {
        position: absolute;
        width: 234px;
        top: -108px;
        left: -140px;
        display: block;
        transition: .5s;
        transform: translate(10%, 10%);
        opacity: 0;
        z-index: 99;
      }
    }
  }
  .balloon {
    width: 100%;
    height: 30%;
    position: absolute;
    bottom: 0;
    background: #ffffe9;
    z-index: 10;
    font-family: 'kreon';
    font-weight: bold;
    .triangle {
      position: absolute;
      width: auto;
      height: 25px;
      top: -25px;
      left: 5%;
    }
    .message {
      font-size: 9vw;
      padding-top: 20px;
      margin-bottom: 20px;
      span {
        opacity: 0;
        transform: translate(0, -20px);
        transition: .5s;
        display: none;
        &.active {
          animation: scene2_message1 .5s ease 0s forwards;
          display: block;
        }
        &.message1 {
          text-align: center;
        }

        &.message2 {
          text-align: center;
          margin: 0.5em 0;
        }
        &.message3 {
          text-align: center;
          font-size: 76px;
          color: #e83836;
        }
        &.message4 {
          text-align: center;
          margin: 0.5em 0;
        }
      }
    }
  }
  .btn_next.btn, .btn_answer.btn {
    display: none;
    &.active {
      display: block;
    }
  }
}

@keyframes scene2_motti {
  0% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(0, -5%);
  }
  100% {
    transform: translate(0, 0);
  }
}

@keyframes scene2_motti2 {
  0% {
    transform: translate(0, 0) scale(1);
  }
  100% {
    transform: translate(0, 31.5%) scale(1.27);
  }
}

@keyframes scene2_message1 {
  0% {
    transform: translate(0, 20px);
    opacity: 0;
  }
  100% {
    transform: translate(0, 0);
    opacity: 1;
  }
}

@keyframes tina {
  to {
    background-position: -645px 0;
  }
}

/* scene4 */

#scene4 {
  background: url("../img/scene2/bg.png") no-repeat center center;
  background-size: cover;
  .motti {
    position: absolute;
    width: 45%;
    left: 63%;
    top: 3%;
    transform: translate(-50%, 0);
    z-index: 9;
    animation: scene4_motti .5s ease 0s forwards;
    img {
      width: 100%;
    }
  }
  .tina {
    position: absolute;
    width: 25.9%;
    left: 10%;
    top: 10%;
    img {
      width: 100%;
    }
  }

  .balloon {
    width: 100%;
    height: 75%;
    position: absolute;
    top: 25%;
    background: #ffffe9;
    z-index: 10;
    font-family: 'kreon';
    font-weight: bold;
    z-index: 9999;
    .triangle {
      position: absolute;
      width: auto;
      height: 25px;
      top: -25px;
      left: 7%;
    }
    .message {
      font-size: 35px;
      height: 20%;
      text-align: center;
      p {
        padding-top: 7%;
        text-align: center;
        img {
          width: 90%;
        }
      }
    }
    .button_wrapper {
      background: url("../img/scene4/bg_pattern.png");
      height: 80%;
      .button_list {
        padding: 2%;
        li {
          width: 50%;
          float: left;
          a {
            display: block;
            margin: 10px;
            box-sizing: border-box;
            border: 7px solid #ff8d8d;
            border-radius: 10%;
            &.on {
              transform: scale(.9);
            }
            span {
              display: block;
              width: 100%;
              height: 100%;
              border-radius: 10%;
              background-color: #fff;
              img {
                width: 98%;
                border-radius: 5%;
              }
            }
          }
        }
      }
    }
  }
}

@keyframes scene4_motti {
  0% {
    transform: translate(-50%, 70%);
  }
  100% {
    transform: translate(-50%, 0);
  }
}

/* scene5 */
#scene5 {
  background-color: #ffcc00;
  .balloon {
    width: 92%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
    margin-bottom: 30%;
    img {
      width: 100%;
    }
  }

  .btn_more.scene5.btn,
  .btn_go.scene5.btn {
    width: 80%;
    margin-bottom: 5%;
  }

}

/* scene5 */
.scene5.page {
  background: url("../img/scene5/bg.png") no-repeat center center;
  background-size: cover;
  .answer {
    width: 60%;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    img {
      width: 100%;
    }
  }

  .tina_wrapper {
    width: 86.66%;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    .tina {
      position: absolute;
      width: 34.77%;
      top: 33px;
      z-index: 999;
    }
    .balloon_tina {
      width: 73.54%;
      position: absolute;
      top: 0;
      right: 0;
    }
    img {
      width: 100%;
    }
  }

  .balloon {
    width: 100%;
    height: 30%;
    position: absolute;
    bottom: 0;
    background: #ffffe9;
    z-index: 10;
    font-family: 'kreon';
    font-weight: bold;
    .triangle {
      position: absolute;
      width: auto;
      height: 25px;
      top: -25px;
      left: 5%;
    }
    .message {
      margin-left: auto;
      margin-right: auto;
      width: 345px;
      font-size: 35px;
      padding-top: 40px;
      margin-bottom: 20px;
      p {
        opacity: 0;
        transform: translate(0, -20px);
        transition: .5s;
        text-align: center;
        display: none;
        &.active {
          animation: scene2_message1 .5s ease 0s forwards;
          display: block;
        }
        span {
          display: inline-block;
          &.txt1 {
            color: #e83836;
          }
          &.txt2 {
            border: 1px solid #d0d0ba;
            background-color: #fff;
            border-radius: 5%;
            padding: 0 .2em;
            margin: 0 .2em;
          }
          &.txt3 {

          }
        }
      }
    }
  }
  .btn_next.btn, .btn_answer.btn {
    display: none;
    &.active {
      display: block;
    }
  }
}

/* scene6 */
#scene6 {
  .motti {
    width: 100%;
    top: 20%;
    bottom: auto;
    img {
      position: absolute;
      width: 100%;
      top: 0;
      left: 0;
    }
  }
  .btn_next.scene6.btn {
    display: none;
  }
}

/* scene7 */
#scene7 {
  background: url("../img/scene7/bg.png") no-repeat center center;
  background-size: cover;
  .motti {
    width: 21%;
    position: absolute;
    right: -40%;
    top: 15%;

    img.motti_inner {
      width: 100%;
    }
    img.balloon {
      width: 179.6%;
      position: absolute;
      top: 30px;
      left: -110px;
      opacity: 0;
      transition: .5s;
      &.active {
        top: 10px;
        left: -140px;
        opacity: 1;
      }
    }
    img.arrow {
      width: 58.6%;
      position: absolute;
      top: 51%;
      left: -10px;
      opacity: 0;
      transition: .5s;
      &.active {
        top: 61%;
        left: -50px;
        opacity: 1;
      }
    }
  }
  .like {
    position: absolute;
    text-align: center;
    top: 50%;
    transform: translate(0, -50%);
    img {
      &.cherry {
        width: 27.33%;
      }
      &.cherry_blossoms {
        width: 45.47%;
      }
    }
  }
}

/* scene8 */
#scene8 {
  background-color: #ffcc00;
  .balloon {
    width: 92%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
    margin-bottom: 30%;
    img {
      width: 100%;
    }
  }

  .btn_more.scene8.btn,
  .btn_go.scene8.btn {
    width: 80%;
    margin-bottom: 5%;
  }

}

/* scene9 */
#scene9 {
  background-color: #ffffcc;
  .title {
    width: 65.33%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 70px;
    img {
      width: 100%;
    }
  }

  .word-list {
    width: 87vw;
    margin-left: auto;
    margin-right: auto;
    padding-top: 18px;
    li {
      margin-bottom: 8px;
      border: 1px solid #d0d0ba;
      border-radius: 10px;
      background-color: #fff;
      font-size: 7vw;
      a {
        padding: 12px 10px;
        text-decoration: none;
        display: block;
        color: #000;
        background: url(../img/scene9/btn_sound_off.png) no-repeat calc(100% - 6px) center;
        background-size: 40px auto;
        .red {
          color: #e83836;
        }
        &.on {
          background-image: url(../img/scene9/btn_sound_on.png)
        }
      }
    }
  }

  .motti {
    width: 320px;
    position: relative;
    img {
      width: 100%;
      position: relative;
      top: -20px;
    }
  }
  .btn_more.scene9.btn {
    width: 300px;
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translate(-50%, 0);
    margin: 0;
  }
}

@media screen and (min-width: 768px) {
  #scene1 {
    .motti{
      width: 65%;
    }
  }
  #scene2 {
    .motti{
      width: 65%;
    }
  }
  #scene3 {
    .motti{
      width: 65%;
      .tina.active{
        transform: scale(1.5);
        right: 3%;
        top: -50%;
      }
    }
  }
  #scene4{
    .balloon{
      .button_wrapper{
        .button_list{
          li{
            width: 40%;
            margin: 0 5%;
          }
        }
      }
    }
  }
  #scene6 {
    .motti{
      width: 65%;
      top: 25%;
    }
  }

  #scene7{
    .motti{
      img{
        &.balloon.active{
          top: -40px;
          left: -230px;
          opacity: 1;
        }
        &.arrow.active{
          top: 41%;
          left: -170px;
          opacity: 1;
        }
      }
    }
  }

  #scene8{
    .balloon{
      width: 70%;
      margin-bottom: 9%;
    }
  }
  #scene9{
    .motti{
      width: 80%;
      margin-left: auto;
      margin-right: auto
    }
  }

}
