/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: 'montserrat';
  src: url("../../../font/montserrat-bold-webfont.woff2") format("woff2"), url("../../../font/montserrat-bold-webfont.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'montserrat';
  src: url("../../../font/montserrat-regular-webfont.woff2") format("woff2"), url("../../../font/montserrat-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
/* line 25, ../sass/style.scss */
a {
  text-decoration: none;
}

/* line 28, ../sass/style.scss */
a.btn.img {
  display: block;
  position: relative;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
}
/* line 35, ../sass/style.scss */
a.btn.img img {
  width: 100%;
}
/* line 38, ../sass/style.scss */
a.btn.img .btn_on {
  position: relative;
  z-index: 0;
}
/* line 43, ../sass/style.scss */
a.btn.img.on .btn_off {
  display: none;
}
/* line 47, ../sass/style.scss */
a.btn.img .btn_off {
  position: absolute;
  z-index: 99;
  top: 0;
  left: 0;
}

/* line 54, ../sass/style.scss */
.btn.swap {
  position: relative;
  display: inline-block;
}
/* line 58, ../sass/style.scss */
.btn.swap.on img:first-child {
  opacity: 0;
}
/* line 62, ../sass/style.scss */
.btn.swap img {
  transtion: .2s;
}
/* line 64, ../sass/style.scss */
.btn.swap img:first-child {
  position: relative;
  z-index: 9999;
}
/* line 68, ../sass/style.scss */
.btn.swap img:last-child {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}

/* line 78, ../sass/style.scss */
html, body {
  font-family: Montserrat;
  position: relative;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background: url("../img/bg_dot.png");
  background-size: 30px 30px;
}
/* line 87, ../sass/style.scss */
html .shelf, body .shelf {
  position: absolute;
  left: 18px;
  top: 0;
  z-index: 9999;
}
/* line 92, ../sass/style.scss */
html .shelf img, body .shelf img {
  width: 86px;
}
/* line 97, ../sass/style.scss */
html .app .photo_view, body .app .photo_view {
  overflow: hidden;
  background: white;
  position: relative;
}
/* line 101, ../sass/style.scss */
html .app .photo_view img, body .app .photo_view img {
  width: 100%;
  height: auto;
}
/* line 105, ../sass/style.scss */
html .app .photo_view .ctrl, body .app .photo_view .ctrl {
  position: absolute;
  bottom: 0;
  right: 0;
  padding-bottom: 20px;
  padding-right: 10px;
}
/* line 111, ../sass/style.scss */
html .app .photo_view .ctrl a, body .app .photo_view .ctrl a {
  margin-right: 7px;
  position: relative;
}
/* line 114, ../sass/style.scss */
html .app .photo_view .ctrl a img, body .app .photo_view .ctrl a img {
  width: 48px;
}
/* line 121, ../sass/style.scss */
html .app .word, body .app .word {
  font-size: 35px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 15px;
}
/* line 126, ../sass/style.scss */
html .app .word .sound.play, body .app .word .sound.play {
  display: inline-block;
  margin-left: 15px;
}
/* line 129, ../sass/style.scss */
html .app .word .sound.play img, body .app .word .sound.play img {
  width: 48px;
  vertical-align: middle;
}
/* line 135, ../sass/style.scss */
html .app .insertimg, body .app .insertimg {
  width: 100%;
  margin-left: -16%;
  margin-top: -30px;
  position: relative;
  z-index: 99999;
  margin-bottom: 10px;
}
/* line 142, ../sass/style.scss */
html .app .insertimg img, body .app .insertimg img {
  width: 100%;
}
/* line 171, ../sass/style.scss */
html .app .accent, body .app .accent {
  position: absolute;
  bottom: 13px;
  overflow: hidden;
  right: 50px;
}
/* line 176, ../sass/style.scss */
html .app .accent img, body .app .accent img {
  width: 334px;
}
/* line 182, ../sass/style.scss */
html .page2, body .page2 {
  padding-top: 125px;
  padding-left: 20px;
  padding-right: 20px;
  background: url(../img/header_accent.png) no-repeat top right;
  background-size: 202px auto;
}
/* line 188, ../sass/style.scss */
html .page2 .title, body .page2 .title {
  font-size: 35px;
  font-weight: bold;
  color: #ea6650;
  margin-bottom: 10px;
  text-align: center;
}
/* line 195, ../sass/style.scss */
html .page2 .step_photo, body .page2 .step_photo {
  position: relative;
  margin-bottom: 45px;
}
/* line 199, ../sass/style.scss */
html .page2 .step_photo ul li, body .page2 .step_photo ul li {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: calc(100% * 0.7462686567);
  opacity: 0;
  transition: .2s;
}
/* line 207, ../sass/style.scss */
html .page2 .step_photo ul li.active, body .page2 .step_photo ul li.active {
  opacity: 1;
}
/* line 210, ../sass/style.scss */
html .page2 .step_photo ul li:first-child, body .page2 .step_photo ul li:first-child {
  position: relative;
  opacity: 1;
}
/* line 214, ../sass/style.scss */
html .page2 .step_photo ul li img, body .page2 .step_photo ul li img {
  width: 100%;
}
/* line 221, ../sass/style.scss */
html .page2 .step_title, body .page2 .step_title {
  position: relative;
  margin-bottom: 15px;
}
/* line 224, ../sass/style.scss */
html .page2 .step_title li, body .page2 .step_title li {
  text-align: center;
  position: absolute;
  font-size: 28px;
  font-weight: bold;
  opacity: 0;
  transition: .2s;
  top: 0;
  left: 0;
  width: 100%;
}
/* line 234, ../sass/style.scss */
html .page2 .step_title li.active, body .page2 .step_title li.active {
  opacity: 1;
}
/* line 237, ../sass/style.scss */
html .page2 .step_title li:first-child, body .page2 .step_title li:first-child {
  position: relative;
}
/* line 242, ../sass/style.scss */
html .page2 .step_text, body .page2 .step_text {
  position: relative;
  margin-bottom: 35px;
}
/* line 245, ../sass/style.scss */
html .page2 .step_text li, body .page2 .step_text li {
  text-align: center;
  position: absolute;
  font-size: 21px;
  opacity: 0;
  transition: .2s;
  top: 0;
  left: 0;
  width: 100%;
}
/* line 254, ../sass/style.scss */
html .page2 .step_text li.active, body .page2 .step_text li.active {
  opacity: 1;
}
/* line 257, ../sass/style.scss */
html .page2 .step_text li:first-child, body .page2 .step_text li:first-child {
  position: relative;
}
/* line 263, ../sass/style.scss */
html .page2 .slider_wrapper, body .page2 .slider_wrapper {
  width: 90%;
  margin: 0 auto;
}
/* line 266, ../sass/style.scss */
html .page2 .slider_wrapper .axis, body .page2 .slider_wrapper .axis {
  position: relative;
  height: 40px;
}
/* line 269, ../sass/style.scss */
html .page2 .slider_wrapper .axis.top, body .page2 .slider_wrapper .axis.top {
  height: 128px;
}
/* line 272, ../sass/style.scss */
html .page2 .slider_wrapper .axis li, body .page2 .slider_wrapper .axis li {
  position: absolute;
  top: 0;
  left: 0;
  text-align: center;
  color: #9bbe3b;
  height: 128px;
}
/* line 279, ../sass/style.scss */
html .page2 .slider_wrapper .axis li img, body .page2 .slider_wrapper .axis li img {
  height: 100%;
}
/* line 283, ../sass/style.scss */
html .page2 .slider_wrapper .axis li:nth-child(1), body .page2 .slider_wrapper .axis li:nth-child(1) {
  left: -5%;
}
/* line 286, ../sass/style.scss */
html .page2 .slider_wrapper .axis li:nth-child(2), body .page2 .slider_wrapper .axis li:nth-child(2) {
  left: 22.5%;
}
/* line 289, ../sass/style.scss */
html .page2 .slider_wrapper .axis li:nth-child(3), body .page2 .slider_wrapper .axis li:nth-child(3) {
  left: 58.7%;
}
/* line 292, ../sass/style.scss */
html .page2 .slider_wrapper .axis li:nth-child(4), body .page2 .slider_wrapper .axis li:nth-child(4) {
  left: 84%;
}
/* line 298, ../sass/style.scss */
html .page2 .slider_wrapper .slider_inner, body .page2 .slider_wrapper .slider_inner {
  margin-top: -34px;
}
/* line 303, ../sass/style.scss */
html .page2 .ui-slider-horizontal .ui-slider-handle, body .page2 .ui-slider-horizontal .ui-slider-handle {
  margin-left: -1.5em;
}
/* line 307, ../sass/style.scss */
html .page2 .ui-slider-horizontal, body .page2 .ui-slider-horizontal {
  height: 15px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 7px;
}
/* line 314, ../sass/style.scss */
html .page2 .ui-state-default,
html .page2 .ui-widget-content .ui-state-default,
html .page2 .ui-widget-header .ui-state-default,
html .page2 .ui-button,
html .page2 html .ui-button.ui-state-disabled:hover,
html .page2 html .ui-button.ui-state-disabled:active, body .page2 .ui-state-default,
body .page2 .ui-widget-content .ui-state-default,
body .page2 .ui-widget-header .ui-state-default,
body .page2 .ui-button,
body .page2 html .ui-button.ui-state-disabled:hover,
body .page2 html .ui-button.ui-state-disabled:active {
  width: 45px;
  height: 45px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  top: -15px;
  border: none;
  background-color: #f6c84b;
  background-image: url(../img/slider_arrow.png);
  background-size: 21px auto;
  background-position: center center;
  background-repeat: no-repeat;
  outline: none;
}

/* line 339, ../sass/style.scss */
.bottom_wave {
  width: 100%;
  height: 43px;
  background: url(../img/bottom_wave.png) repeat-x top center;
  -webkit-background-size: 50px 43px;
  background-size: 50px 43px;
  position: absolute;
  bottom: 0;
}

@media screen and (min-width: 768px) {
  /* line 352, ../sass/style.scss */
  html .app .insertimg, body .app .insertimg {
    display: none;
  }
  /* line 355, ../sass/style.scss */
  html .app .mainnav, body .app .mainnav {
    padding-top: 50px;
  }
  /* line 357, ../sass/style.scss */
  html .app .mainnav a, body .app .mainnav a {
    width: 70%;
  }
}

/*# sourceMappingURL=style.css.map */
