/* line 2, ../sass/fly.scss */
body.fly #animation_container {
  background: url("../img/bg_fly.png");
  background-size: cover;
  margin-left: auto;
}
/* line 7, ../sass/fly.scss */
body.fly a.btn.img {
  display: none;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}
/* line 12, ../sass/fly.scss */
body.fly a.btn.img img {
  width: 100%;
}
/* line 15, ../sass/fly.scss */
body.fly a.btn.img .btn_on {
  position: relative;
  z-index: 0;
}
/* line 19, ../sass/fly.scss */
body.fly a.btn.img.active {
  display: block;
}
/* line 23, ../sass/fly.scss */
body.fly a.btn.img.on .btn_off {
  display: none;
}
/* line 27, ../sass/fly.scss */
body.fly a.btn.img .btn_off {
  position: absolute;
  z-index: 99;
  top: 0;
  left: 0;
}
/* line 34, ../sass/fly.scss */
body.fly .btn {
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translate(-50%, 0);
  display: none;
}

@media screen and (min-width: 768px) {
  /* line 50, ../sass/fly.scss */
  body {
    background-color: #66ccff;
  }
  /* line 52, ../sass/fly.scss */
  body #animation_container {
    margin-left: auto;
    margin-right: auto;
  }

  /* line 57, ../sass/fly.scss */
  body.fly a.btn.img {
    width: 40%;
  }
}

/*# sourceMappingURL=fly.css.map */
