/* line 5, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 3, ../sass/main.scss */
body {
  font-family: Arial, Helvetica, sans-serif;
}

/* line 7, ../sass/main.scss */
table {
  font-size: 1em;
}

/* line 11, ../sass/main.scss */
html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
}
/* line 16, ../sass/main.scss */
html img, body img {
  vertical-align: middle;
}
/* line 19, ../sass/main.scss */
html #decoratin, body #decoratin {
  opacity: 0;
  transition: .1s;
  width: 100%;
  height: 100%;
  background: url(../img/bg.png);
  background-size: 143px 143px;
  position: absolute;
}
/* line 22, ../sass/main.scss */
html #decoratin.active, body #decoratin.active {
  opacity: 1;
}
/* line 25, ../sass/main.scss */
html #decoratin a.btn, body #decoratin a.btn {
  display: block;
  position: absolute;
  left: 50%;
  bottom: 50%;
  display: none;
}
/* line 26, ../sass/main.scss */
html #decoratin a.btn.wrap, body #decoratin a.btn.wrap {
  width: 40%;
  transform: translate(22%, 236%);
}
/* line 30, ../sass/main.scss */
html #decoratin a.btn.more, body #decoratin a.btn.more {
  width: 45%;
  transform: translate(4%, 236%);
}
/* line 39, ../sass/main.scss */
html #decoratin a.btn img, body #decoratin a.btn img {
  width: 100%;
}
/* line 42, ../sass/main.scss */
html #decoratin a.btn .btn_on, body #decoratin a.btn .btn_on {
  position: relative;
  z-index: 0;
}
/* line 47, ../sass/main.scss */
html #decoratin a.btn.on .btn_off, body #decoratin a.btn.on .btn_off {
  display: none;
}
/* line 51, ../sass/main.scss */
html #decoratin a.btn .btn_off, body #decoratin a.btn .btn_off {
  position: absolute;
  z-index: 99;
  top: 0;
  left: 0;
}
/* line 59, ../sass/main.scss */
html #decoratin a.btn.active, body #decoratin a.btn.active {
  display: block;
}
/* line 69, ../sass/main.scss */
html #decoratin .step_num, body #decoratin .step_num {
  width: 65px;
  position: absolute;
  top: 70px;
  left: 30px;
  z-index: 99999;
}
/* line 75, ../sass/main.scss */
html #decoratin .step_num img, body #decoratin .step_num img {
  width: 100%;
}
/* line 80, ../sass/main.scss */
html #decoratin .title, body #decoratin .title {
  position: absolute;
  width: 35.6%;
  right: 4%;
  top: 8%;
}
/* line 85, ../sass/main.scss */
html #decoratin .title img, body #decoratin .title img {
  width: 100%;
  display: none;
}
/* line 88, ../sass/main.scss */
html #decoratin .title img.active, body #decoratin .title img.active {
  display: block;
}
/* line 94, ../sass/main.scss */
html #decoratin .board, body #decoratin .board {
  position: absolute;
  width: 49.26%;
  top: 50%;
  left: 50%;
  transform: translate(-94%, -50%);
  width: 49.26%;
}
/* line 100, ../sass/main.scss */
html #decoratin .board img, body #decoratin .board img {
  width: 100%;
}
/* line 104, ../sass/main.scss */
html #decoratin .board .crepe, body #decoratin .board .crepe {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -52%);
  width: 89%;
}
/* line 110, ../sass/main.scss */
html #decoratin .board .crepe #droppable, body #decoratin .board .crepe #droppable {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 65%;
  height: 65%;
}
/* line 119, ../sass/main.scss */
html #decoratin .board .crepe_board, body #decoratin .board .crepe_board {
  opacity: 0;
  transition: .2s;
}
/* line 122, ../sass/main.scss */
html #decoratin .board .crepe_board.active, body #decoratin .board .crepe_board.active {
  opacity: 1;
}
/* line 126, ../sass/main.scss */
html #decoratin .board .crepe_dish, body #decoratin .board .crepe_dish {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: .2s;
}
/* line 132, ../sass/main.scss */
html #decoratin .board .crepe_dish.active, body #decoratin .board .crepe_dish.active {
  opacity: 1;
}
/* line 138, ../sass/main.scss */
html #decoratin .dish-wrapper, body #decoratin .dish-wrapper {
  width: 39%;
  position: absolute;
  top: 52%;
  right: -16%;
  transform: translate(-50%, -50%);
}
/* line 144, ../sass/main.scss */
html #decoratin .dish-wrapper img.dish, body #decoratin .dish-wrapper img.dish {
  width: 100%;
  position: relative;
  z-index: 0;
}
/* line 150, ../sass/main.scss */
html #decoratin .dish-wrapper .berry, body #decoratin .dish-wrapper .berry {
  width: 64px;
  z-index: 999;
  position: absolute;
  top: 50%;
  left: 50%;
}
/* line 155, ../sass/main.scss */
html #decoratin .dish-wrapper .berry.off, body #decoratin .dish-wrapper .berry.off {
  display: none;
}
/* line 160, ../sass/main.scss */
html #decoratin .dish-wrapper .berry img, body #decoratin .dish-wrapper .berry img {
  position: relative;
  width: 100%;
}
/* line 164, ../sass/main.scss */
html #decoratin .dish-wrapper .berry img.ui-draggable-dragging, body #decoratin .dish-wrapper .berry img.ui-draggable-dragging {
  transform: scale(1.2);
}
/* line 169, ../sass/main.scss */
html #decoratin .dish-wrapper .berry#berry01, body #decoratin .dish-wrapper .berry#berry01 {
  transform: translate(-92%, -110%);
}
/* line 172, ../sass/main.scss */
html #decoratin .dish-wrapper .berry#berry02, body #decoratin .dish-wrapper .berry#berry02 {
  transform: translate(-180%, -67%);
}
/* line 175, ../sass/main.scss */
html #decoratin .dish-wrapper .berry#berry03, body #decoratin .dish-wrapper .berry#berry03 {
  transform: translate(-101%, -28%);
}
/* line 178, ../sass/main.scss */
html #decoratin .dish-wrapper .berry#berry04, body #decoratin .dish-wrapper .berry#berry04 {
  transform: translate(-12%, -69%);
}
/* line 181, ../sass/main.scss */
html #decoratin .dish-wrapper .berry#berry05, body #decoratin .dish-wrapper .berry#berry05 {
  transform: translate(81%, -95%);
}
/* line 184, ../sass/main.scss */
html #decoratin .dish-wrapper .berry#berry06, body #decoratin .dish-wrapper .berry#berry06 {
  width: 82px;
  transform: translate(20%, 15%);
}

/* line 193, ../sass/main.scss */
.board {
  -webkit-perspective: 1000;
  -moz-perspective: 1000;
  perspective: 1000;
}

/* flip the pane when hovered */
/* line 199, ../sass/main.scss */
.board.flip .flipper {
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

/* flip speed goes here */
/* line 210, ../sass/main.scss */
.flipper {
  -webkit-transition: 0.6s;
  -webkit-transform-style: preserve-3d;
  -moz-transition: 0.6s;
  -moz-transform-style: preserve-3d;
  transition: 0.6s;
  transform-style: preserve-3d;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* hide back of pane during swap */
/* line 225, ../sass/main.scss */
.crepe, .result {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
}

/* front pane, placed above back */
/* line 235, ../sass/main.scss */
.crepe {
  z-index: 2;
}

/* back, initially hidden pane */
/* line 240, ../sass/main.scss */
.result {
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  transform: rotateY(180deg);
  width: 100%;
  height: 100%;
}
/* line 246, ../sass/main.scss */
.result .crepe_img {
  position: absolute;
  width: 46%;
  left: 50%;
  top: 48%;
  transform: translate(-50%, -50%);
}
/* line 252, ../sass/main.scss */
.result .crepe_img img {
  width: 100%;
}
