@font-face {
    font-family: 'kreon';
    src: url('../font/kreon-bold-webfont.woff') format('woff2'),
    url('../font/kreon-bold-webfont.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'kreon';
    src: url('../font/kreon-regular-webfont.woff2') format('woff2'),
    url('../font/kreon-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'arvobold';
    src: url('../font/arvo-bold-webfont.woff2') format('woff2'),
    url('../font/arvo-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

*:not(input){
    -webkit-user-select: none;
}

* {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-touch-callout: none;
}

.shelf {
    position: absolute;
    left: 18px;
    top: 0;
    z-index: 9999;
    display: none;
}
.shelf.on {
    display: block;
}
.shelf img {
    width: 86px;
}