/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    background-attachment:fixed;
    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size:12px;
    height:100%;
    margin:0px;
    padding:0px;
    text-transform:uppercase;
    width:100%;
    background-color: #ffce54;
    background-image: url(../img/test_main.png);
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center top;

}

/* Portrait layout (default) */
.app {
    position:absolute;             /* position in the center of the screen */
    bottom: 10%;
    width: 100%;
}

.register{
    display: none;
}
.register.active{
    display: block;
}
.after_register{
    display: none;
}
.after_register.active{
    display: block;
}

.register h3{
    color: #947119;
    font-size: 16px;
    font-weight: bold;
    padding: 0;
    margin: 0;
    margin-bottom: .5em;
}
.register input#nickname,
.register input#smilecode{
    padding: 0;
    margin: 0;
    width: 100%;
    line-height: 2;
    padding: 0 5px;
    border-radius: 10px;
    border: none;
    font-size: 20px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin-bottom: .2em;
}
.register .err{
    color: #F00;
    display:none;
}
.register .err.active{
    display: block;
}
.register p{
    padding: 0;
    margin: 0;
    margin-bottom: 1em;
}
.register input#submit{
    background-color: #947119;
    font-size: 16px;
    color: #FFF;
    padding: 5px 20px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    border: none;
    width: 70%;
    display: block;
    outline: none;
}

.after_register{
    margin-bottom: 10%
}
.after_register p{
    text-align: center;
    color: #947119;
    font-size: 13px;
}
.after_register a{
    display: block;
    background-color: #947119;
    color: #FFF;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    padding: 10px;
    font-size: 16px;
    margin-bottom: 20px;
    border-radius: 10px;
}

/* Landscape layout (with min-width) */
@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {
    .app {
        background-position:left center;
        padding:75px 0px 75px 170px;  /* padding-top + padding-bottom + text area = image height */
        margin:-90px 0px 0px -198px;  /* offset vertical: half of image height */
                                      /* offset horizontal: half of image width and text area width */
    }
}


.event {
    border-radius:4px;
    -webkit-border-radius:4px;
    color:#FFFFFF;
    font-size:12px;
    margin:0px 30px;
    padding:2px 0px;
}

.event.listening {
    background-color:#333333;
    display:block;
    display: none;
}

.event.received{
    /*display:none;*/
    list-style: none;
}
.event.received li a{
    display: block;
    -webkit-border-radius: 3%;
    -moz-border-radius: 3%;
    border-radius: 3%;
    border: 2px solid #FFF;
    color: #FFF;
    margin-bottom: 20px;
    padding: 20px 0;
}

@keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
@-webkit-keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
.blink {
    animation:fade 3000ms infinite;
    -webkit-animation:fade 3000ms infinite;
}
