@charset "utf-8";
// ===================================================================
// mixinやらCSS3やら、extendも。
// ===================================================================

// border-radius  
@mixin border_radius($br_value: 3px) {  
    @each $prefix in $set_prefix {  
        #{$prefix}border-radius: $br_value;  
    }  
}  

@mixin border_radiusSH($br_tl_value, $br_tr_value, $br_bl_value, $br_br_value) {  
    @each $prefix in $set_prefix {  
        #{$prefix}border-radius: $br_tl_value $br_tr_value $br_bl_value $br_br_value;  
    }  
} 

// background-size
@mixin bg_size($w, $h: auto) {
	@each $prefix in $set_prefix {
		#{$prefix}background-size: $w $h;
	}
}


// min-height
@mixin min_height($value) {
	min-height: $value;
	_height: $value;
}



	// 余白調整用のクラス
	@if $use_spacing_classes {
		@for $i from 0 through 100 {
			.mt#{$i * 1} { margin-top: 1px * $i !important; }
			.mb#{$i * 1} { margin-bottom: 1px * $i !important; }
			.pt#{$i * 1} { padding-top: 1px * $i !important; }
			.pb#{$i * 1} { padding-bottom: 1px * $i !important; }
			.mr#{$i * 1} { margin-right: 1px * $i !important; }
			.ml#{$i * 1} { margin-left: 1px * $i !important; }
			.pr#{$i * 1} { padding-right: 1px * $i !important; }
			.pl#{$i * 1} { padding-left: 1px * $i !important; }
		}
	}
// ===================================================================
// extend
// ===================================================================
@if $use_extend_object {
/* 汎用クラス */

	// リストマーカー
	[class^="mark"] {
		padding-left: 15px;
		background: no-repeat left .5em;
	}
	@for $i from 1 through 5 {
		.mark#{$i} {
			background-image: url(#{$img_path}share/mark_#{$i}.gif);
		}
	}

	// 簡易ロールオーバー
	@if $opacity_value {
		.opacity {
			opacity: $opacity_value;
			-moz-opacity: $opacity_value;
			filter: alpha(opacity=#{$opacity_value * 100});
			-ms-filter: "alpha(opacity=#{$opacity_value * 100})";
			
			-webkit-transition: 0.3s ease-in-out;
		  -moz-transition: 0.3s ease-in-out;
		  -o-transition: 0.3s ease-in-out;
		  transition: 0.3s ease-in-out;
		}
	}

	// inline-block
	.inline_block {
		display: inline-block;
		*display: inline;
		*zoom: 1;
	}

	// table-cell
	.table_cell {
		display: table-cell;
		*display: inline;
		*zoom: 1;
		vertical-align: middle;
	}

	// float: right
	.fr,
	.imgR {
		float: right;
	}

	// float: left
	.fl,
	.imgL {
		float: left;
	}

	// text-align: center
	.imgC,
	.tC,
	.btn {
		text-align: center;
	}

	// img Centering
	.imgC {
		display: block;
		margin-left: auto;
		margin-right: auto;
	}

	// text-align: right
	.tR,
	.sign {
		text-align: right;
	}

	// box-sizing
	.box_size {
		@each $prefix in $set_prefix {
			#{$prefix}box-sizing: border-box;
		}
	}

	// text-shadow none
	.ts_none {
		@each $prefix in $set_prefix {
			#{$prefix}text-shadow: none !important;;
		}
	}

	// box-shadow none
	.bs_none {
		@each $prefix in $set_prefix {
			#{$prefix}box-shadow: none !important;;
		}
	}
}



/* clearfix */
.clearfix {
	*zoom: 1;
	&:after {
		content: ".";
		display: block;
		clear: both;
		height: 0;
		visibility: hidden;
	}
}

