@charset "utf-8";
#common-top{
	background-color: #e83828;
	.contents-inner{
		width: 90%;
		margin: 0 auto;
		padding-bottom: 5%;
		position: relative;
		
	h1 img{
    width: 50%;
    position: absolute;
    right: 10%;
    top: -17%;
	}

	.shelf-wrapper{
		position: relative;
		text-align: center;
		margin-top: 25%;
		.shelfimg{
			width: 100%;
		}
		.kindereigo_1{
			width: 20%;
			position: absolute;
			top: 31%;
			left: 5%;
			img{
				width: 100%;
				&.on{
					transform: scale(0.95);
				}
				}
		}
	}
	
	.bottom_button{
		margin-top: 3%;
		.btn_a{
			display: block;
			width: 50%;
			float: left;
			text-align: center;
			img{
				width: 90%;
				&.on{
					transform: scale(0.95);
				}
			}
			
		}
		p{
			@include fz(22);
			letter-spacing: 1px;
			margin-bottom: 0;
			font-family:$kreon;
			font-weight: 700;
			color: #fff;
			}
	}
	
	}//.contents-inner
}//.#common-top