@charset "utf-8";
// ===================================================================
// KE2 ミュージックプレイヤー
// ===================================================================

@keyframes speaker {
  0% {
    transform: scale(1.1)
  }
  100% {
    transform: scale(1)
  }
}

body #mp2 {
  background: url(../images/mp2_bg1.png);
  .player_wrapper {
    background: #ffce10;
    margin: 3%;
    @include border-radius(12px);

    .mp_top {
      padding: 3%;
      padding-bottom: 0;
      .fl {
        width: 40%;
        .speakerwrapper {
          background: url(../images/mp2_img01.png) no-repeat;
          background-size: contain;
          margin-bottom: 10%;
        }
        .speaker img {
          width: 84%;
          padding: 8%;
          &.active {
            animation: speaker .5s ease 0s infinite normal;
          }
        }
      }
      //.fl
      .fr {
        width: 58%;
        .btn_wrapper{
          text-align: center;
          .mp2_btn {
            display: inline-block;
            width: 21%;
            margin-right: 5%;
            &:last-child {
              margin-right: 0;
            }
            img {
              width: 100%;
            }
          }
        }


        .mp2_tit {
          background-color: #edffb0;
          text-align: center;
          border-radius: 6px;
          border: 5px #e3b504 solid;
          margin-top: 30px;
          p {
            padding: 10px 15px;
            color: #ff7200;
            @include fz(20);
            line-height: 1;
            margin-bottom: 0;
          }
        }

      }
      //.fr
      input[type=number] {
        display: none;
      }
      .ui-slider-track {
        margin-left: 15px;
        margin-right: 0px;
        background-color: #6f6f6f;
        border: none;
        height: 40px;
        border-radius: 20px;
        top: 0;
        @include mq768 {
          height: 10px;
        }
        .ui-slider-handle.ui-btn .ui-shadow {
          width: 26px;
          height: 26px;
        }
        &.ui-shadow-inset {
          box-shadow: none;
        }
      }
      .ui-slider-track .ui-btn.ui-slider-handle {
        width: 80px;
        height: 80px;
        border-radius: 50%;
        top: -4px;
        border: none;
        background-color: #4fc1e9;
        @include mq768 {
          width: 50px;
          height: 50px;
        }
      }
    }

    .mp_bottom {
      background-color: #edffb0;
      border-top: 5px #e3b504 solid;
      padding: 10px 15px;
      @include border_radiusSH(0, 0, 12px, 12px);
      height: 25px;
      overflow: hidden;
      position: relative;
      ul {
        color: #ff7200;
        @include fz(20);
        line-height: 1;
        margin-bottom: 0;
        position: absolute;
        top: 0;
        left: 50px;
        li {
          height: 45px;
          line-height: 45px;
        }
      }
    }
  }
  //.player_wrapper
}

//body .mp2

a.index {
  display: inline-block;
  position: absolute;
  padding: 10px 20px;
  top: 0;
  left: 3%;
  background-color: #fff;
  text-decoration: none;
  &:visited, &:hover {
    color: #000;
  }
  z-index: 9999;
}

/*----------------------------------------------------
※※※※※※
----------------------------------------------------*/
