@import "compass/reset";

body {
  font-family: Arial, Helvetica, sans-serif;
}

table {
  font-size: 1em;
}

html, body{
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  img{
    vertical-align: middle;
  }
  #decoratin{
    opacity: 0;
    transition: .1s;
    &.active{
      opacity: 1;
    }
    a.btn {
      &.wrap{
        width: 40%;
        transform: translate(22%, 236%);
      }
      &.more{
        width: 45%;
        transform: translate(4%, 236%);
      }
      display: block;
      position: absolute;
      left: 50%;
      bottom: 50%;

      img {
        width: 100%;
      }
      .btn_on {
        position: relative;
        z-index: 0;
      }
      &.on {
        .btn_off {
          display: none;
        }
      }
      .btn_off {
        position: absolute;
        z-index: 99;
        top: 0;
        left: 0;
      }

      display: none;
      &.active{
        display: block;
      }
    }

    width: 100%;
    height: 100%;
    background: url(../img/bg.png);
    background-size: 143px 143px;
    position: absolute;
    .step_num{
      width: 65px;
      position: absolute;
      top: 70px;
      left: 30px;
      z-index: 99999;
      img{
        width: 100%;
      }
    }

    .title{
      position:absolute;
      width: 35.6%;
      right: 4%;
      top: 8%;
      img{
        width: 100%;
        display: none;
        &.active{
          display: block;
        }
      }
    }

    .board{
      position: absolute;
      width: 49.26%;
      top: 50%;
      left: 50%;
      transform: translate(-94%, -50%);
      img{
        width: 100%;
      }
      width: 49.26%;
      .crepe{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -52%);
        width: 89%;
        #droppable {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          width: 65%;
          height: 65%;
        }
      }
      .crepe_board{
        opacity: 0;
        transition: .2s;
        &.active{
          opacity: 1;
        }
      }
      .crepe_dish{
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0;
        transition: .2s;
        &.active{
          opacity: 1;
        }
      }
    }

    .dish-wrapper{
      width: 39%;
      position: absolute;
      top: 52%;
      right: -16%;
      transform: translate(-50%, -50%);
      img.dish{
        width: 100%;
        position: relative;
        z-index: 0;
      }

      .berry{
        width: 64px;
        z-index: 999;
        position: absolute;
        //background-color: #fff;
        &.off{
          display: none;
        }
        top: 50%;
        left: 50%;
        img{
          position: relative;
          width: 100%;
          //transition: .1s;
          &.ui-draggable-dragging{
            //box-shadow:5px 4px 7px 3px #ababab;
            transform: scale(1.2);
          }
        }
        &#berry01{
          transform: translate(-92%, -110%);
        }
        &#berry02{
          transform: translate(-180%, -67%);
        }
        &#berry03{
          transform: translate(-101%, -28%);
        }
        &#berry04{
          transform: translate(-12%, -69%);
        }
        &#berry05{
          transform: translate(81%, -95%);
        }
        &#berry06{
          width: 82px;
          transform: translate(20%, 15%);
        }
      }
    }
  }// #decoratin
}

.board {
  -webkit-perspective: 1000;
  -moz-perspective: 1000;
  perspective: 1000;
}
/* flip the pane when hovered */
.board.flip .flipper {
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

.board, .crepe, .result {

}

/* flip speed goes here */
.flipper {
  -webkit-transition: 0.6s;
  -webkit-transform-style: preserve-3d;
  -moz-transition: 0.6s;
  -moz-transform-style: preserve-3d;
  transition: 0.6s;
  transform-style: preserve-3d;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* hide back of pane during swap */
.crepe, .result {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
}

/* front pane, placed above back */
.crepe {
  z-index: 2;
}

/* back, initially hidden pane */
.result {
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  transform: rotateY(180deg);
  width: 100%;
  height: 100%;
  .crepe_img{
    position: absolute;
    width: 46%;
    left: 50%;
    top: 48%;
    transform: translate(-50%, -50%);
    img{
      width: 100%;
    }
  }
}