@charset "utf-8";
html, body {
	height: 100%;	
}
p{
		@include fz(14);
	font-weight: bold;
	margin-bottom: 0.5rem;
	line-height: 1.5;
	font-weight: normal;
	}

p.small{
	@include fz(12);
	font-weight: normal;
}

.tac{text-align: center;}

// リンク
a {
	&:link {
		color: $link_color;
		text-decoration: underline;
	}
	&:visited {
		color: $link_color_visited;
	}
	&:hover {
		color: $link_color_hover;
	}
	&:active {
		color: $link_color_active;
	}
}


input[type="submit"] {
  -webkit-appearance: none;
}

.bold{font-weight: bold;}
.gray{color: #7b7b7b;}
.green{}
.lh15{line-height: 1.5;}

.button01 a{
	width: 200px;
  margin: 0 auto;
  background-color: #f3c500;
  border: none;
  border-radius: 6px;
  display: block;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  padding: 10px;
  letter-spacing: 0.05rem;
	  color: #ffffff !important;
	  text-decoration: none;
	  display: block;
}

.button01_small a{
	width:80px;
  margin: 0 auto;
  background-color: #f3c500;
  border: none;
  border-radius: 6px;
  display: block;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  padding: 10px;
  letter-spacing: 0.05rem;
	color: #ffffff !important;
	text-decoration: none;
	display: block;
}

.btn2wrapper{
	width: 210px;
	margin:  0 auto;
}

.title_01{
  width: 100%;
  margin: 0 auto;
  font-family: sans-serif;
  @include fz(16);
  color:#333;
}
.heading {
  margin: 10px 0
}
.title_01 .heading {
  overflow: hidden;
  position: relative;
  padding-bottom: 8px;
  margin-bottom: 15px;
  margin-top: 0;
}
.title_01 .heading span{
  padding: 8px;
  padding-left: 3px;
}
.title_01 .heading:before {
  content: "";
  border-bottom: 3px solid $main_color;
  bottom: 0;
  height: 0;
  position: absolute;
  width: 100%;
  z-index: 0;
}
.title_01 .heading:after {
  border-bottom: 3px solid #ddd;
  bottom: 0;
  content: "";
  position: absolute;
  width:100%;
  z-index: 1;
}

// ===================================================================
// レイアウト関連
// ===================================================================

.header{
	background: $main-color;
	color: $white_color;
// 	position: relative;
	h1{
			@include fz(18);
			line-height: 1.5;
			letter-spacing: 0.05rem;
			text-align: center;
	}
	.left{
			@include fz(18);
			line-height: 1.2;

    z-index: 10;
    position: absolute;
		display: inline-block;
    vertical-align: middle;
    top: 20px;
    left: 10px;
    a{color: #fff;}
	}
	.right{
			@include fz(18);
			line-height: 1.2;
			
    z-index: 10;
    position: absolute;
		display: inline-block;
    vertical-align: middle;
    top: 20px;
    right: 10px;
    a{color: #fff;}
	}
}//header

.contents{
	padding: 5%;
	padding-bottom: 20%;
	padding-top: 8%;
}//.contents
.contents.nopadding{
	padding: 0;
	padding-bottom: 0;
	padding-top: 0;
}//.contents

/*----------------------------------------------------
フォーム系共通
----------------------------------------------------*/
form,.form_kakunin,.form_end{
@include fz(14);
.step01box{
	margin-bottom: 1.5rem;
	&.radio{margin-bottom: 2rem;}
	&:last-child{
		margin-bottom: 0;
	}
}

P{font-weight: bold;}
.step02box{
	margin-bottom: 1rem;
	border-bottom: 1px solid #ccc;
	&:first-child{border-top: 1px solid #ccc; padding-top: 1rem;}
	&:last-child{border: none;}
}

input[type="text"],textarea {
	width: 95%;
	padding: 10px 7px;
  background-color:#fff;
  border:1px solid #aaa;
  @include border-radius(6px);
	-webkit-appearance : none;
	-webkit-tap-highlight-color : rgba(0,0,0,0);
	vertical-align:middle;
}
textarea {
	height: 150px;
}

select {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    text-indent: 0.5em;
    background:#fff url(../images/pulldown.png) no-repeat;
    background-size:20px 10px;
    background-position: right center;
    vertical-align: middle;
    width: 22%;
    border:1px solid #aaa;
		@include border-radius(6px);
		padding: 10px 7px;
		float: left;
}
@-moz-document url-prefix() { /* for firefox */
select {
    background:none;
    background-color: #FFF;
    }
}
select.year{width: 27%;}
p.fl{
	margin: 0;
	line-height: 2.5;
	margin: 0 2%;
}

input[type="checkbox"] {
	 vertical-align: middle;
}

// 男女ラジオボタン
li { 
    position: relative;  
    list-style: none;  
    float: left; 
    line-height: 1;
}
label {
    padding: 10px 30px;  
    color: #fff;  
    font-weight: bold;  
    text-align: center;  
}

input#male + label {
	background: #ccc;
	border-right: 1px solid #fff;
}
input#female + label {
	background:#ccc;
}

li:first-child label { border-radius: 6px 0 0 6px; }
li:last-child label { border-radius: 0 6px 6px 0;  }

input[type="radio"] {
    opacity : 0;  
    width: 100%;  
    height: 100%;   
    padding: 0;  
}

/* 「id="male"」の項目を選択したときは青にする */
input#male:checked + label {  
   background-color: #2b96de;
    color: #fff;  
}

/* 「id="female"」項目を選択したときは赤にする */
input#female:checked + label {  
   background-color: #ff71a6;
   color: #fff;  
}

input[type="button"] {
  width: 200px;
  margin: 0 auto;
  background-color: #f3c500;
  border: none;
  border-radius: 6px;
  color: #ffffff;
  display: block;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  padding: 10px;
  letter-spacing: 0.05rem;
}
input[type="submit"] {
  width: 200px;
  margin: 0 auto;
  background-color: #f3c500;
  border: none;
  border-radius: 6px;
  color: #ffffff;
  display: block;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  padding: 10px;
  letter-spacing: 0.05rem;
}
input[type="submit"].button01_small {
	width:80px;
  margin: 0 auto;
  background-color: #f3c500;
  border: none;
  border-radius: 6px;
  display: block;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  padding: 10px;
  letter-spacing: 0.05rem;
	color: #ffffff;
	text-decoration: none;
}
}//form


// トピックパス
#breadcrumb{
  overflow: hidden;
  padding-bottom: 8%;
  width: 289px;
  margin: 0 auto;
}
 
#breadcrumb li{
  float: left;
  margin: 0 .5em 0 .7em;
  
  &:first-child{margin-left: 0;}
  &:last-child{margin-right: 0;}
}
 
#breadcrumb a{
  background: #ededed;
  padding: 0.65rem;
  width: 60px;
  text-align: center;
  float: left;
  text-decoration: none;
  color: #444;
  position: relative;
  letter-spacing: 0.05rem;
  @include fz(13);
  height: 16px;
  line-height: 1.5;
}

#breadcrumb li:first-child a{
		border-top-left-radius: 6px;
		border-bottom-left-radius: 6px;
}
#breadcrumb li.current:first-child a{
		background-color: #f3c500;
		color: #fff;
}
#breadcrumb li.current:first-child a::after{
  content: "";
  position: absolute;
  top: 50%;
  margin-top: -1.5em;
  border-top: 1.5em solid transparent;
  border-bottom: 1.5em solid transparent;
  border-left: 1em solid #f3c500;
  right: -1em;
}
#breadcrumb li.current a{
		background-color: #f3c500;
		color: #fff;
}
#breadcrumb li.current:not(:last-child) a::after{
  content: "";
  position: absolute;
  top: 50%;
  margin-top: -1.5em;
  border-top: 1.5em solid transparent;
  border-bottom: 1.5em solid transparent;
  border-left: 1em solid #f3c500;
  right: -1em;
}
#breadcrumb li.current a::before{
  content: "";
  position: absolute;
  top: 50%;
  margin-top: -1.5em;
  border-width: 1.5em 0 1.5em 1em;
  border-style: solid;
  border-color: #f3c500 #f3c500 #f3c500 transparent;
  left: -1em;
}


#breadcrumb li:last-child a{
		 border-top-right-radius: 6px;
		 border-bottom-right-radius: 6px;
 }
 
#breadcrumb :not(:first-child) a::before{
  content: "";
  position: absolute;
  top: 50%;
  margin-top: -1.5em;
  border-width: 1.5em 0 1.5em 1em;
  border-style: solid;
  border-color: #ededed #ededed #ededed transparent;
  left: -1em;
}
 
#breadcrumb :not(:last-child) a::after{
  content: "";
  position: absolute;
  top: 50%;
  margin-top: -1.5em;
  border-top: 1.5em solid transparent;
  border-bottom: 1.5em solid transparent;
  border-left: 1em solid #ededed;
  right: -1em;
}
 
#breadcrumb .current{
  background: none;
}
 
#breadcrumb .current::after,
#breadcrumb .current::before{
  content: normal;
}

.kakunin{
	color: #7b7b7b;
}
/*----------------------------------------------------
設定
----------------------------------------------------*/
body.setting{
	background: url(../images/setting_bg.png);
}
.button02 a{
	width:87%;
  margin: 0 auto;
  background-color: #f3c500;
  border: none;
  border-radius: 30px;
  display: block;
  font-weight: bold;
  text-align: left;
  text-decoration: none;
  padding: 15px 10px;
  letter-spacing: 0.05rem;
	color: #ffffff;
	text-decoration: none;
	display: block;
	@include fz(18);
	margin-bottom: 15px;
// 	text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.2);
}
.button02.col01 a {
	background-color: #79C753;
	border: 4px solid #66b142;
	color: #fff;
	font-weight: normal;
}
.button02.col02 a {
	background-color: #F7786B;
	border: 4px solid #e46c60;
	color: #fff;
	font-weight: normal;
}
.button02.col03 a {
	background-color: #98DDDE;
	border: 4px solid #87cdce;
	color: #fff;
	font-weight: normal;
}
.button02.col04 a {
	background-color: #B18F6A;
	border: 4px solid #a5815b;
	color: #fff;
	font-weight: normal;
}
.button02.col05 a {
	background-color: #f8dd30;
	border: 4px solid #efd52f;
	color: #fff;
	font-weight: normal;
}

/*----------------------------------------------------
アカウント設定
----------------------------------------------------*/
.ui-listview{
	.small{font-weight: normal;color: #7b7b7b;}
}

.ui-icon-carat-r:after{
	content: "\f054" ;
	font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  display: inline-block;
  background-image: none;
  text-shadow: none;
}

/*----------------------------------------------------
プライバシーポリシー
----------------------------------------------------*/
.privacy{
	p{@include fz(13); margin-bottom: 5px;}
	dt{margin-top: 15px; margin-bottom: 5px;}
	@include fz(13);
	margin-bottom: 0.5rem;
	line-height: 1.5;
}

