@charset "utf-8";
#book{
	background: url(../images/check_1.png);
	.area_top{
		text-align: center;
		background: #fff8db;
		background: #fff8db;
		padding: 10% 0;
		img.book{
			width: 50%;
		}
	}
	
	.area_giza{
		background: url(../images/line_giza.png) repeat-x center bottom;
		height: 18px;
	}

	.area_bottom{
		.icon_wrapper{
			width: 90%;
			margin: 0 auto;
			margin-top: 5%;
			ul{
				li{
					width: 30%;
					margin-right: 5%;
					margin-bottom: 5%;
					&:nth-child(3n){margin-right: 0;}
					float: left;
					
					img{
						width: 100%;
						&.on{transform: scale(0.95);}
					}
				}
			}
		}
	}

}//#book