/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 7, ../sass/style.scss */
html, body {
  height: 100vh;
  widht: 100%;
  overflow: hidden;
  padding: 0;
  margin: 0;
}
/* line 13, ../sass/style.scss */
html .contents, body .contents {
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
  background: url(../img/bg.png);
  background-size: 143px 143px;
  opacity: 0;
  transition: .3s;
}
/* line 22, ../sass/style.scss */
html .contents.active, body .contents.active {
  opacity: 1;
}
/* line 25, ../sass/style.scss */
html .contents p, body .contents p {
  font-family: "Kreon", serif;
  font-size: 40px;
  text-align: center;
  position: absolute;
  bottom: -10px;
  width: 100%;
  color: #6f3200;
}
/* line 34, ../sass/style.scss */
html .contents .step_num, body .contents .step_num {
  width: 65px;
  position: absolute;
  top: 70px;
  left: 30px;
}
/* line 39, ../sass/style.scss */
html .contents .step_num img, body .contents .step_num img {
  width: 100%;
}
/* line 43, ../sass/style.scss */
html .contents .view_img, body .contents .view_img {
  position: absolute;
  width: 283px;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
}
/* line 49, ../sass/style.scss */
html .contents .view_img img, body .contents .view_img img {
  width: 100%;
}
/* line 53, ../sass/style.scss */
html .contents .btn_next, body .contents .btn_next {
  width: 42px;
  display: block;
  position: absolute;
  right: 55px;
  top: 50%;
  transform: translate(0, -50%);
}
/* line 60, ../sass/style.scss */
html .contents .btn_next img, body .contents .btn_next img {
  width: 100%;
}
/* line 64, ../sass/style.scss */
html .contents .step_5_img, body .contents .step_5_img {
  top: 0;
  left: 0;
}
/* line 67, ../sass/style.scss */
html .contents .step_5_img img, body .contents .step_5_img img {
  width: 100%;
}

@media screen and (min-width: 768px) {
  /* line 74, ../sass/style.scss */
  .view_img {
    width: 566px;
  }
}
