@charset "utf-8";
// ===================================================================
// KE1/2 オーディオ
// ===================================================================

#audio_01{
	
.ui-listview{
	.small{font-weight: normal;color: #7b7b7b;}
}

.ui-listview{

li.off{
.ui-icon-carat-r:after{
	content: "\f054" ;
	font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  display: inline-block;
  background-image: none;
  text-shadow: none;
}
}	
	
	li.on{
.ui-icon-carat-r:after{
	content: "\f054" ;
	font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  display: inline-block;
  background-image: none;
  text-shadow: none;
}
a{	background-color: #ededed !important;}

	}
}
  .one_page{
    padding-top: 15px;
    padding-bottom: 15px;
  }
}

