@charset "UTF-8";
/* Reset Style */
html {
  overflow-y: scroll; }

body {
  line-height: 1;
  color: #fff; 
  }

a{
  text-decoration: none;
}

 body.b_aboutapp{
	  background: url(../img/bg.png);
 }

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote, th, td {
  margin: 0;
  padding: 0; }

address, caption, cite, code, dfn, em, strong, th, var {
  font-style: normal; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

caption, th {
  text-align: left; }

q:before, q:after {
  content: ''; }

img,
object,
embed {
  vertical-align: top; }

hr, legend {
  display: none; }

h1, h2, h3, h4, h5, h6 {
  font-size: 100%; }

img, abbr, acronym, fieldset {
  border: 0; }

li {
  list-style-type: none; }
/* 汎用クラス */
[class^="mark"] {
  padding-left: 15px;
  background: no-repeat left .5em; }

.mark1 {
  background-image: url(../images/share/mark_1.gif); }

.mark2 {
  background-image: url(../images/share/mark_2.gif); }

.mark3 {
  background-image: url(../images/share/mark_3.gif); }

.mark4 {
  background-image: url(../images/share/mark_4.gif); }

.mark5 {
  background-image: url(../images/share/mark_5.gif); }

.opacity {
  opacity: 0.55;
  -moz-opacity: 0.55;
  filter: alpha(opacity=55.0);
  -ms-filter: "alpha(opacity=55.0)";
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out; }

.inline_block {
  display: inline-block;
  *display: inline;
  *zoom: 1; }

.table_cell {
  display: table-cell;
  *display: inline;
  *zoom: 1;
  vertical-align: middle; }

.fr,
.imgR {
  float: right; }

.fl,
.imgL {
  float: left; }

.imgC,
.tC,
.btn {
  text-align: center; }

.imgC {
  display: block;
  margin-left: auto;
  margin-right: auto; }

.tR,
.sign {
  text-align: right; }


/* clearfix */
.clearfix {
  *zoom: 1; }
  .clearfix:after {
    content: ".";
    display: block;
    clear: both;
    height: 0;
    visibility: hidden; }

html, body {
  height: 100%; }

p {
  font-size: 14px;
  font-size: 0.875rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
  line-height: 1.5;
  font-weight: normal; }

p.small {
  font-size: 12px;
  font-size: 0.75rem;
  font-weight: normal; }

.tac {
  text-align: center; }

a:link {
  color: #333;
  text-decoration: underline; }
a:visited {
  color: #333; }
a:hover {
  color: #333; }
a:active {
  color: #333; }

input[type="submit"] {
  -webkit-appearance: none; }

.bold {
  font-weight: bold; }

.gray {
  color: #7b7b7b; }

.lh15 {
  line-height: 1.5; }

.button01 a {
  width: 200px;
  margin: 0 auto;
  background-color: #f3c500;
  border: none;
  border-radius: 6px;
  display: block;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  padding: 10px;
  letter-spacing: 0.05rem;
  color: #ffffff !important;
  text-decoration: none;
  display: block; }

.button01_small a {
  width: 80px;
  margin: 0 auto;
  background-color: #f3c500;
  border: none;
  border-radius: 6px;
  display: block;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  padding: 10px;
  letter-spacing: 0.05rem;
  color: #ffffff !important;
  text-decoration: none;
  display: block; }

.btn2wrapper {
  width: 210px;
  margin: 0 auto; }

.title_01 {
  width: 100%;
  margin: 0 auto;
  font-family: sans-serif;
  font-size: 16px;
  font-size: 1rem;
  color: #333; }

.heading {
  margin: 10px 0; }

.title_01 .heading {
  overflow: hidden;
  position: relative;
  padding-bottom: 8px;
  margin-bottom: 15px;
  margin-top: 0; }

.title_01 .heading span {
  padding: 8px;
  padding-left: 3px; }

.title_01 .heading:before {
  content: "";
  border-bottom: 3px solid #e82c0c;
  bottom: 0;
  height: 0;
  position: absolute;
  width: 100%;
  z-index: 0; }

.title_01 .heading:after {
  border-bottom: 3px solid #ddd;
  bottom: 0;
  content: "";
  position: absolute;
  width: 100%;
  z-index: 1; }

.header {
  background: #e82c0c;
  color: #fff; }
  .header h1 {
    font-size: 18px;
    font-size: 1.125rem;
    line-height: 1.5;
    letter-spacing: 0.05rem;
    text-align: center; }
  .header .left {
    font-size: 18px;
    font-size: 1.125rem;
    line-height: 1.2;
    z-index: 10;
    position: absolute;
    display: inline-block;
    vertical-align: middle;
    top: 20px;
    left: 10px; }
    .header .left a {
      color: #fff; }
  .header .right {
    font-size: 18px;
    font-size: 1.125rem;
    line-height: 1.2;
    z-index: 10;
    position: absolute;
    display: inline-block;
    vertical-align: middle;
    top: 20px;
    right: 10px; }
    .header .right a {
      color: #fff; }

.contents {
  padding: 5%;
  padding-bottom: 20%;
  padding-top: 8%; }

.contents.nopadding {
  padding: 0;
  padding-bottom: 0;
  padding-top: 0; }

.aboutapp h2{
	margin-top: 30px;
	margin-bottom: 5px;
}
.aboutapp h2:first-child{
	margin-top: 0;
}
.aboutapp h2 {
	width: 100%;
	text-align: center;
	margin-bottom: 0.5rem;
	background: url(../img/bg2.png);
	color: #fff;
	padding: 10px 0;
	border-radius: 25px;
}

.aboutapp p{
	color: #635d56;
	padding: 0 10px;
}

.main img{
	width: 100%;
	margin: 0 auto;
	margin-bottom: 1rem;
}
.tac{text-align: center;}
.logo img{
	width: 30%;
	margin: 0 auto;
	margin-bottom: 10px;
}

.privacy h2{font-size: 17px; margin-bottom: 0.5rem;}
.privacy h4{font-size: 15px; margin-bottom: 0.5rem;}

.privacy p{
	font-size: 13px;
}
.privacy ol li{
	font-size: 13px;
	list-style-type: decimal;
	list-style-position: inside;
	padding-left:1em;
text-indent:-1em;
    margin-bottom: 0.5rem;
    line-height: 1.5;
    font-weight: normal;
}
.mb15{margin-bottom: 15px;}
.txt_r{text-align: right;}
hr{
	display: inherit;
  height: 1px !important;
  border: none !important;
  border-top: 1px #ccc solid !important;
  margin: 2rem 0;
}
.privacy .contanct{
	border: 1px solid #ccc;
	padding: 15px;
	margin-bottom: 15px;
}
.aboutapp hr{
	display: inherit;
  height: 1px !important;
  border: none !important;
  border-top: 1px #635D57 solid !important;
  margin: 2rem 0;
}