/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass";

.header{
  position: absolute;
  z-index: 99999;
  h1{
    font-size: 18px;
    line-height: 1.5;
    letter-spacing: 0.05rem;
    text-align: center;
  }
  .left{
    font-size: 18px;
    line-height: 1.2;

    z-index: 10;
    position: absolute;
    display: inline-block;
    vertical-align: middle;
    top: 20px;
    left: 10px;
    a{color: #fff;}
  }
  .right{
    font-size: 18px;
    line-height: 1.2;

    z-index: 10;
    position: absolute;
    display: inline-block;
    vertical-align: middle;
    top: 20px;
    right: 10px;
    a{color: #fff;}
  }
}//header

/*----------------------------------------------------
設定
----------------------------------------------------*/
#index{
  .contents{
    margin-top: 50px;
  }
}
body.setting{
  //background: url(../images/setting_bg.png);
}
.button02 a{
  width:87%;
  margin: 0 auto;
  background-color: #f3c500;
  border: none;
  border-radius: 30px;
  display: block;
  font-weight: bold;
  text-align: left;
  text-decoration: none;
  padding: 15px 10px;
  letter-spacing: 0.05rem;
  color: #ffffff;
  text-decoration: none;
  display: block;
  font-size: 18px;
  margin-bottom: 15px;
  // 	text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.2);
}
.button02.col01 a {
  background-color: #79C753;
  border: 4px solid #66b142;
  color: #fff;
  font-weight: normal;
}
.button02.col02 a {
  background-color: #F7786B;
  border: 4px solid #e46c60;
  color: #fff;
  font-weight: normal;
}
.button02.col03 a {
  background-color: #98DDDE;
  border: 4px solid #87cdce;
  color: #fff;
  font-weight: normal;
}
.button02.col04 a {
  background-color: #B18F6A;
  border: 4px solid #a5815b;
  color: #fff;
  font-weight: normal;
}
.button02.col05 a {
  background-color: #f8dd30;
  border: 4px solid #efd52f;
  color: #fff;
  font-weight: normal;
}
input[type="text"]{
  font-family: Kreon;
}