/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 7, ../sass/style.scss */
html, body {
  height: 100vh;
  width: 100%;
  overflow: hidden;
  font-family: arvobold;
}

/* line 14, ../sass/style.scss */
img {
  vertical-align: middle;
}

/* line 18, ../sass/style.scss */
#top {
  background: url(../img/bg.png) left top;
}
/* line 20, ../sass/style.scss */
#top .top_header {
  width: 100%;
  height: 228px;
  background: url(../img/bg_header.png) repeat-x;
  background-size: auto 288px;
}
/* line 25, ../sass/style.scss */
#top .top_header .title {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 70px;
}
/* line 30, ../sass/style.scss */
#top .top_header .title img {
  width: 100%;
}
/* line 34, ../sass/style.scss */
#top .top_header .btn_next {
  width: 212px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 20px;
}
/* line 39, ../sass/style.scss */
#top .top_header .btn_next img {
  width: 100%;
}
/* line 45, ../sass/style.scss */
#top .content .card {
  width: 60%;
  margin-top: 6vh;
  margin-left: auto;
  margin-right: auto;
}
/* line 50, ../sass/style.scss */
#top .content .card img {
  width: 100%;
}
/* line 55, ../sass/style.scss */
#top .top_footer {
  height: 25px;
  width: 100%;
  background: url(../img/bg_footer.png) repeat-x;
  background-size: auto 25px;
  position: absolute;
  bottom: 0;
  z-index: 999;
}

/* line 66, ../sass/style.scss */
.contents {
  box-sizing: border-box;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}
/* line 68, ../sass/style.scss */
.card .contents, .answer .contents {
  border: 15px solid #ff669f;
}
/* line 76, ../sass/style.scss */
.contents .counter {
  font-family: "Kreon", serif;
  font-weight: bold;
  height: 39px;
  position: absolute;
  right: 25px;
  top: 25px;
  font-size: 30px;
  background: url("../img/slash.png") no-repeat calc(50% - 2px) bottom;
  background-size: auto 39px;
  color: #a5a5a5;
}
/* line 87, ../sass/style.scss */
.contents .counter span {
  display: inline-block;
}
/* line 92, ../sass/style.scss */
.contents .counter span.denominator {
  position: relative;
  margin-left: 19px;
  top: 10px;
}
/* line 99, ../sass/style.scss */
.contents .image {
  width: 100%;
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
}
/* line 105, ../sass/style.scss */
.contents .image img {
  width: 100%;
}
/* line 110, ../sass/style.scss */
.contents .text {
  font-family: "Kreon", serif;
  font-weight: bold;
  text-align: center;
  font-size: 45px;
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* line 122, ../sass/style.scss */
a.btn {
  display: block;
  position: absolute;
  transform: translate(-50%, -50%);
}
/* line 126, ../sass/style.scss */
a.btn img {
  width: 100%;
}
/* line 128, ../sass/style.scss */
a.btn img.btn_on {
  position: relative;
  z-index: 0;
}
/* line 132, ../sass/style.scss */
a.btn img.btn_off {
  position: absolute;
  z-index: 99;
  top: 0;
  left: 0;
}
/* line 141, ../sass/style.scss */
a.btn.on .btn_off {
  display: none;
}
/* line 146, ../sass/style.scss */
a.btn.btn_answer {
  width: 80%;
  top: 70%;
  left: 50%;
}
/* line 152, ../sass/style.scss */
a.btn.btn_next {
  width: 80%;
  top: 80%;
  left: 50%;
}

/* result */
/* line 161, ../sass/style.scss */
#result .result_header {
  height: 25px;
  width: 100%;
  background: url(../img/resullt_header.png) repeat-x;
  background-size: auto 25px;
  position: absolute;
  top: 0;
  z-index: 999;
}
/* line 170, ../sass/style.scss */
#result .result_footer {
  height: 25px;
  width: 100%;
  background: url(../img/bg_footer.png) repeat-x;
  background-size: auto 25px;
  position: absolute;
  bottom: 0;
  z-index: 999;
}
/* line 179, ../sass/style.scss */
#result .score {
  text-align: center;
  padding-top: 30%;
}
/* line 182, ../sass/style.scss */
#result .score .result_score {
  font-size: 264px;
  color: #ff669f;
}
/* line 186, ../sass/style.scss */
#result .score .result_total {
  font-size: 42px;
}
/* line 191, ../sass/style.scss */
#result .result_img {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 40%;
}
/* line 196, ../sass/style.scss */
#result .result_img img {
  width: 100%;
}
/* line 201, ../sass/style.scss */
#result .message {
  text-align: center;
  font-size: 50px;
  widht: 100%;
}
/* line 205, ../sass/style.scss */
#result .message img {
  width: 50%;
}
/* line 210, ../sass/style.scss */
#result .btn_wrapper {
  margin-top: 30px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}
/* line 217, ../sass/style.scss */
#result .btn_wrapper a.btn {
  display: block;
  position: relative;
  transform: translate(0, 0);
  margin-bottom: 20px;
}

/* line 227, ../sass/style.scss */
.usage {
  text-align: center;
  padding-top: 50px;
}
/* line 230, ../sass/style.scss */
.usage img {
  height: calc(100vh - 100px);
}

@media screen and (min-width: 768px) {
  /* line 236, ../sass/style.scss */
  #top .top_header {
    height: 298px;
  }
  /* line 238, ../sass/style.scss */
  #top .top_header .title {
    width: 60%;
  }

  /* line 243, ../sass/style.scss */
  .contents .text {
    font-size: 65px;
  }
  /* line 246, ../sass/style.scss */
  .contents .image {
    width: 80%;
    top: 45%;
  }

  /* line 252, ../sass/style.scss */
  #result .result_img {
    width: 80%;
    padding-top: 25%;
  }
  /* line 256, ../sass/style.scss */
  #result .btn_wrapper {
    width: 70%;
  }
  /* line 258, ../sass/style.scss */
  #result .btn_wrapper a.btn {
    margin-bottom: 60px;
  }
}
