/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
html{
  height: 100%;
}
body{
  background-image: url(../img/bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height:100%;
  overflow: hidden;
}


@keyframes arm {
  0% {transform: rotate(-45deg);}
  100% {transform: rotate(45deg);}
}

@keyframes body {
  0% {transform: translate(0px,0px);}
  100% {transform: translate(0px,20px);}
}

.app{
  height: 100%;
}

.title{
  position: absolute;
  width: 44.3%;
  top: 2%;
  left: 2%;
  img{
    width: 100%;
  }
}

.target_frame{
  &.orange{
    width: 23%;
    height: 50%;
    position: absolute;
    top: 5%;
    right: 11%;
    &.result{
      transition: .5s;
      transform: scale(0.9) translate(-129%,33%);
    }
  }
  &.pudding{
    width: 27%;
    height: 50%;
    position: absolute;
    top: 5%;
    right: 11%;
    &.result{
      transition: .5s;
      transform: scale(0.9) translate(-110%, 40%);
    }
  }

  img{
    position: absolute;

    &.frame{
      width: 100%;
      top: 0;
      left: 0;
    }
    &.orange{
      width: 96%;
      top: -300px;
      left: 2%;

    }
  }
}

.chara_list_wrapper{
  position: absolute;
  overflow: hidden;
  height: 100%;
  width: 100%;
  .chara_list{
    position: absolute;
    width: 200%;
    bottom: -20%;
    li{
      width: 12%;
      float: left;
      margin-right: 0.5%;
      position: relative;
      &.on{
        animation: body .2s infinite alternate ease-in-out;
        img.arm{
          animation: arm .4s infinite alternate ease-in-out;
        }
      }
      img{
        &.body{
          width: 100%;
          vertical-align: middle;
        }
        &.arm{
          position: absolute;
          top: 34%;
          left: 50%;
          width: 19%;
          transform-origin: 50% 6%;
        }
        &.body_up{
          width: 100%;
          vertical-align: middle;
          position: relative;
          margin-top: -14%;
          z-index: 99;
        }
        &.orange{
          position:absolute;
          width: 80%;
          top: -49%;
          left: 20%;
        }
        &.pudding{
          position:absolute;
          width: 92%;
          top: -40%;
          left: 7%;
        }
      }
    }
  }
}
.one{
  width: 3.3%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 4%;
  img{
    width: 100%;
  }
}
.txt_orange{
  width: 24.4%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 21%;
  img{
    width: 100%;
  }
}
.btn_repeat{
  display: block;
  width: 325px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  margin-top: 1%;
  img{
    width: 100%;
    &:first-child{
      position: absolute;
      top: 0;
      left: 0;
    }
  }
}
.one, .txt_orange, .btn_repeat{
  opacity: 0;
  transition: .2s;
  display: none;
  &.active{
    opacity: 1;
    display: block;
  }
}

@media screen and (min-width: 768px) {
  .txt_orange{
    margin-top: 31%;
    width: 44.4%;
  }
}
