@charset "utf-8";
// ===================================================================
// 設定
// ===================================================================

// HTML5の場合は値を「false」から「true」にする
$use_html5: false;


// 汎用クラスを使用するか
$use_extend_object: true;

// 簡易ロールオーバーの値
$opacity_value: .55;

// 余白調整用のクラスを使用するか
$use_spacing_classes: true;


// 画像のパス
$img_path: "../images/";


// ベースフォント
$base_font: 'Hiragino Kaku Gothic ProN', 'ヒラギノ角ゴ ProN W3', 'Hiragino Kaku Gothic Pro', 'ヒラギノ角ゴ Pro W3', 'Meiryo', 'メイリオ', 'MS PGothic', 'ＭＳ Ｐゴシック', Helvetica, Arial, sans-serif;


// ページ全体の横幅
$base_width: 375px;


// 要素の基本下マージン
$base_margin_bottom: 15px;


// メインカラー（ベースカラー）
$main_color: #e82c0c;
$white_color: #fff;

// サブカラー
$sub_color: #eee;


// ベーステキストカラー
$font_color: #333;


// ベースリンクカラー
$link_color: #333;
$link_color_visited: #333;
$link_color_hover: #333;
$link_color_active: #333;


// 付与するベンダープレフィックス
$set_prefix: -webkit-, -moz-, -ms-, -o-, '';


// 角丸の初期値
$br_value: 10px;



