/* line 5, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 2, ../sass/openning.scss */
html {
  height: 100%;
}

/* line 5, ../sass/openning.scss */
body {
  background-image: url(../img/bg.png);
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

/* line 12, ../sass/openning.scss */
.app {
  height: 100%;
}

/* line 15, ../sass/openning.scss */
.cloud {
  width: 80%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.5);
  opacity: 0;
  transition: .5s;
}
/* line 23, ../sass/openning.scss */
.cloud.on {
  transform: translate(-50%, -50%) scale(1);
  opacity: 1;
}
/* line 27, ../sass/openning.scss */
.cloud img {
  width: 100%;
}
/* line 30, ../sass/openning.scss */
.cloud .title {
  width: 80%;
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: 1s;
}
/* line 38, ../sass/openning.scss */
.cloud .title.on {
  top: 47%;
  opacity: 1;
}

/* line 45, ../sass/openning.scss */
.stars {
  width: 100%;
  height: 100%;
  position: absolute;
}
/* line 49, ../sass/openning.scss */
.stars li {
  position: absolute;
}
/* line 51, ../sass/openning.scss */
.stars li img {
  width: 100%;
  transform: scale(0.1);
  transition: .5s;
  opacity: 0;
}
/* line 58, ../sass/openning.scss */
.stars li.on img {
  opacity: 1;
  transform: scale(1);
}
/* line 64, ../sass/openning.scss */
.stars .star1 {
  width: 30px;
  left: 33%;
  top: 29%;
}
/* line 69, ../sass/openning.scss */
.stars .star2 {
  width: 23px;
  right: 19%;
  top: 65%;
}
/* line 74, ../sass/openning.scss */
.stars .star3 {
  width: 32px;
  top: 27%;
  right: 22%;
}
/* line 79, ../sass/openning.scss */
.stars .star4 {
  width: 62px;
  left: 18%;
  top: 68%;
}
/* line 84, ../sass/openning.scss */
.stars .star5 {
  width: 47px;
  top: 22%;
  left: 18%;
}
/* line 89, ../sass/openning.scss */
.stars .star6 {
  width: 52px;
  right: 29%;
  top: 65%;
}
/* line 94, ../sass/openning.scss */
.stars .star7 {
  width: 51px;
  left: 43%;
  top: 13%;
}
/* line 99, ../sass/openning.scss */
.stars .star8 {
  width: 51px;
  left: 60%;
  top: 12%;
}
/* line 104, ../sass/openning.scss */
.stars .star9 {
  width: 47px;
  left: 54%;
  top: 28%;
}
/* line 109, ../sass/openning.scss */
.stars .star10 {
  width: 30px;
  left: 15%;
  top: 56%;
}
/* line 114, ../sass/openning.scss */
.stars .star11 {
  width: 23px;
  top: 55%;
  left: 29%;
}
/* line 119, ../sass/openning.scss */
.stars .star13 {
  width: 22px;
  left: 30%;
  top: 22%;
}

/* line 126, ../sass/openning.scss */
.mother {
  position: absolute;
  bottom: -50%;
  width: 40%;
  left: 50%;
  transform: translate(-50%, 0);
  transition: .5s;
}
/* line 133, ../sass/openning.scss */
.mother.on {
  bottom: 0;
}
/* line 136, ../sass/openning.scss */
.mother img {
  width: 100%;
  vertical-align: middle;
}

/* line 142, ../sass/openning.scss */
.scean1 {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  transition: 1s;
}
/* line 148, ../sass/openning.scss */
.scean1.on {
  top: 100%;
}

/* line 153, ../sass/openning.scss */
.scean2 {
  position: absolute;
  width: 100%;
  height: 100%;
  top: -100%;
  transition: 1s;
  background: url("../img/openning/start.png") no-repeat center center;
  background-size: cover;
}
/* line 161, ../sass/openning.scss */
.scean2.on {
  top: 0;
}
/* line 164, ../sass/openning.scss */
.scean2 ul {
  position: absolute;
  top: 51%;
  left: 50%;
  width: 84%;
  transform: translate(-50%, -50%);
}
/* line 170, ../sass/openning.scss */
.scean2 ul li {
  position: relative;
  float: left;
  width: 15.26%;
  text-align: center;
  padding: 0.5%;
}
/* line 176, ../sass/openning.scss */
.scean2 ul li img {
  width: 100%;
}
/* line 178, ../sass/openning.scss */
.scean2 ul li img.btn1_on {
  position: absolute;
  position: absolute;
  z-index: 999;
  top: 0px;
  left: 0px;
  transition: .2s;
}
/* line 185, ../sass/openning.scss */
.scean2 ul li img.btn1_on.on {
  transform: scale(0.9);
}
/* line 193, ../sass/openning.scss */
.scean2 .btn_start {
  position: absolute;
  display: block;
  width: 40%;
  bottom: 4%;
  left: 50%;
  transform: translate(-50%, 0);
}
/* line 200, ../sass/openning.scss */
.scean2 .btn_start img {
  position: relative;
  width: 100%;
  z-index: 9;
}
/* line 204, ../sass/openning.scss */
.scean2 .btn_start img:last-child {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}
/* line 211, ../sass/openning.scss */
.scean2 .btn_start img.on:first-child {
  opacity: 0;
}
