/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";

html, body{
  height: 100%;
  width: 100%;
  overflow: hidden;
}

#animation_container{
  overflow: hidden;
}

.ctrl{
  height: 13%;
  width: 100%;
  background: url(../images/bg_ctrl.png) no-repeat center center;
  background-size: cover;
  position: absolute;
  bottom: 0;
  z-index: 99999;
  .chap{
    text-align: center;
    padding-top: 9px;
    li{
      display: inline-block;
      width: 10px;
      height: 10px;
      margin: 0 2px;
      a{
        width: 100%;
        height: 100%;
        display: block;
        background-color: #77491c;
        border-radius: 50%;
      }
      &.active{
        a{
          background-color: #dfa56d;
        }
      }
    }
  }
  .btn_wrapper{
    text-align: center;
    padding-top: 8px;
    a{
      display: inline-block;
      width: 37px;
      position: relative;
      margin: 0 10px;
      &.disable{
        opacity: 0.5;
      }
      img{
        width: 100%;
        &:last-child{
          position: absolute;
          top: 0;
          left: 0;
        }
      }
      &.off{
        display: none;
      }
    }
  }
}