/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: 'montserrat';
  src: url("../../../font/montserrat-bold-webfont.woff2") format("woff2"), url("../../../font/montserrat-bold-webfont.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'montserrat';
  src: url("../../../font/montserrat-regular-webfont.woff2") format("woff2"), url("../../../font/montserrat-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
/* line 26, ../sass/style.scss */
a {
  text-decoration: none;
}

/* line 29, ../sass/style.scss */
a.btn.img {
  display: block;
  position: relative;
  width: 212px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
}
/* line 36, ../sass/style.scss */
a.btn.img img {
  width: 100%;
}
/* line 39, ../sass/style.scss */
a.btn.img .btn_on {
  position: relative;
  z-index: 0;
}
/* line 44, ../sass/style.scss */
a.btn.img.on .btn_off {
  display: none;
}
/* line 48, ../sass/style.scss */
a.btn.img .btn_off {
  position: absolute;
  z-index: 99;
  top: 0;
  left: 0;
}

/* line 55, ../sass/style.scss */
.btn.swap {
  position: relative;
  display: inline-block;
}
/* line 59, ../sass/style.scss */
.btn.swap.on img:first-child {
  opacity: 0;
}
/* line 63, ../sass/style.scss */
.btn.swap img {
  transtion: .2s;
}
/* line 65, ../sass/style.scss */
.btn.swap img:first-child {
  position: relative;
  z-index: 9999;
}
/* line 69, ../sass/style.scss */
.btn.swap img:last-child {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}

/* line 79, ../sass/style.scss */
html, body {
  font-family: Montserrat;
  position: relative;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background: url("../img/bg_dot.png");
  background-size: 30px 30px;
}
/* line 90, ../sass/style.scss */
html .app .photo_view, body .app .photo_view {
  overflow: hidden;
  background: white;
  position: relative;
}
/* line 94, ../sass/style.scss */
html .app .photo_view img, body .app .photo_view img {
  width: 100%;
  height: auto;
}
/* line 98, ../sass/style.scss */
html .app .photo_view .ctrl, body .app .photo_view .ctrl {
  position: absolute;
  bottom: 0;
  right: 0;
  padding-bottom: 20px;
  padding-right: 10px;
}
/* line 104, ../sass/style.scss */
html .app .photo_view .ctrl a, body .app .photo_view .ctrl a {
  margin-right: 7px;
  position: relative;
}
/* line 107, ../sass/style.scss */
html .app .photo_view .ctrl a img, body .app .photo_view .ctrl a img {
  width: 48px;
}
/* line 114, ../sass/style.scss */
html .app .pill_img, body .app .pill_img {
  width: 85%;
  margin-left: auto;
  margin-right: auto;
  margin-top: -25px;
  position: relative;
  z-index: 999;
}
/* line 121, ../sass/style.scss */
html .app .pill_img img, body .app .pill_img img {
  width: 100%;
}
/* line 127, ../sass/style.scss */
html .app .mainnav, body .app .mainnav {
  position: absolute;
  bottom: 3%;
}
/* line 130, ../sass/style.scss */
html .app .mainnav a, body .app .mainnav a {
  display: block;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 8px;
  box-sizing: border-box;
}
/* line 141, ../sass/style.scss */
html .app .repeat a, body .app .repeat a {
  display: block;
  background: url(../img/btn2_off_base.png) center bottom no-repeat;
  width: 300px;
  height: calc(300px * 0.2698412698);
  background-size: cover;
  margin-left: auto;
  margin-right: auto;
  line-height: calc(300px * 0.2698412698);
  overflow: hidden;
  font-size: 35px;
  font-weight: bold;
  color: #ae8b14;
  text-align: center;
  margin-bottom: 8px;
  box-sizing: border-box;
}
/* line 157, ../sass/style.scss */
html .app .repeat a.on, body .app .repeat a.on {
  background: url(../img/btn2_on_base.png) center bottom no-repeat;
  background-size: cover;
  padding-top: 10px;
}

/* line 170, ../sass/style.scss */
body.poke .look {
  height: 100%;
  background: url("../img/bg_poke.png");
  height: 100%;
}
/* line 174, ../sass/style.scss */
body.poke .look .page_poke {
  height: calc( 100% - 50px );
  padding-top: 72px;
  padding-left: 18px;
  padding-right: 18px;
  background: url(../img/footer_bg.png) no-repeat center calc( 100% );
  background-size: 100% auto;
}
/* line 181, ../sass/style.scss */
body.poke .look .page_poke .title {
  text-align: center;
  margin-bottom: 15px;
  width: 307px;
  margin-left: auto;
  margin-right: auto;
}
/* line 187, ../sass/style.scss */
body.poke .look .page_poke .title img {
  width: 100%;
}
/* line 191, ../sass/style.scss */
body.poke .look .page_poke .wrapper_photo {
  margin-bottom: 16px;
}
/* line 193, ../sass/style.scss */
body.poke .look .page_poke .wrapper_photo .photo {
  position: relative;
  height: 251px;
}
/* line 196, ../sass/style.scss */
body.poke .look .page_poke .wrapper_photo .photo img {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  transition: .2s;
}
/* line 203, ../sass/style.scss */
body.poke .look .page_poke .wrapper_photo .photo img.on {
  opacity: 1;
}
/* line 209, ../sass/style.scss */
body.poke .look .page_poke .msg_tap {
  margin-bottom: 30px;
}
/* line 211, ../sass/style.scss */
body.poke .look .page_poke .msg_tap img {
  width: 100%;
}
/* line 218, ../sass/style.scss */
body.poke .btn_more {
  display: none !important;
}
/* line 220, ../sass/style.scss */
body.poke .btn_more.active {
  display: block !important;
}

/**
 *  leg's count
 */
/* line 231, ../sass/style.scss */
body.count .look {
  width: 100%;
  height: 100%;
  background: url("../img/bg_poke.png");
  background-size: cover;
}
/* line 236, ../sass/style.scss */
body.count .look .count_wrapper {
  height: calc(100% - 50px);
  padding-top: 72px;
  padding-left: 18px;
  padding-right: 18px;
  background: url(../img/bg_storn.png) no-repeat center top;
  background-size: cover;
}
/* line 243, ../sass/style.scss */
body.count .look .count_wrapper .title {
  text-align: center;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  transition: .2s;
}
/* line 248, ../sass/style.scss */
body.count .look .count_wrapper .title img {
  width: 100%;
}
/* line 252, ../sass/style.scss */
body.count .look .count_wrapper .title.on {
  opacity: 0;
}
/* line 256, ../sass/style.scss */
body.count .look .count_wrapper .legs_img {
  height: 50%;
  position: relative;
  transform: scale(0.8);
}
/* line 260, ../sass/style.scss */
body.count .look .count_wrapper .legs_img .mom {
  position: absolute;
  top: 0;
  left: -5%;
  width: 182px;
  text-align: center;
  transition: .2s;
}
/* line 266, ../sass/style.scss */
body.count .look .count_wrapper .legs_img .mom img {
  width: 100%;
}
/* line 270, ../sass/style.scss */
body.count .look .count_wrapper .legs_img .mom.on {
  transform: scale(1.2) translate(60px, -34px);
}
/* line 273, ../sass/style.scss */
body.count .look .count_wrapper .legs_img .mom.off {
  opacity: 0;
}
/* line 276, ../sass/style.scss */
body.count .look .count_wrapper .legs_img .mom ul {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  font-family: "Kreon", serif;
  font-weight: bold;
  font-size: 35px;
  color: #FFF;
}
/* line 285, ../sass/style.scss */
body.count .look .count_wrapper .legs_img .mom ul li {
  opacity: 0;
  transition: .2s;
  position: absolute;
}
/* line 288, ../sass/style.scss */
body.count .look .count_wrapper .legs_img .mom ul li.on {
  opacity: 1;
}
/* line 292, ../sass/style.scss */
body.count .look .count_wrapper .legs_img .mom ul li.leg1 {
  top: 15px;
  right: 62px;
}
/* line 293, ../sass/style.scss */
body.count .look .count_wrapper .legs_img .mom ul li.leg2 {
  top: 25px;
  right: 29px;
}
/* line 294, ../sass/style.scss */
body.count .look .count_wrapper .legs_img .mom ul li.leg3 {
  top: 70px;
  right: 0px;
}
/* line 295, ../sass/style.scss */
body.count .look .count_wrapper .legs_img .mom ul li.leg4 {
  top: 129px;
  right: -19px;
}
/* line 296, ../sass/style.scss */
body.count .look .count_wrapper .legs_img .mom ul li.leg5 {
  top: 179px;
  right: -6px;
}
/* line 297, ../sass/style.scss */
body.count .look .count_wrapper .legs_img .mom ul li.leg6 {
  top: 230px;
  right: 0px;
}
/* line 298, ../sass/style.scss */
body.count .look .count_wrapper .legs_img .mom ul li.leg7 {
  top: 262px;
  right: 29px;
}
/* line 299, ../sass/style.scss */
body.count .look .count_wrapper .legs_img .mom ul li.leg8 {
  top: 262px;
  left: 44px;
}
/* line 300, ../sass/style.scss */
body.count .look .count_wrapper .legs_img .mom ul li.leg9 {
  top: 216px;
  left: -10px;
}
/* line 301, ../sass/style.scss */
body.count .look .count_wrapper .legs_img .mom ul li.leg10 {
  top: 146px;
  left: -33px;
}
/* line 302, ../sass/style.scss */
body.count .look .count_wrapper .legs_img .mom ul li.leg11 {
  top: 106px;
  left: -30px;
}
/* line 303, ../sass/style.scss */
body.count .look .count_wrapper .legs_img .mom ul li.leg12 {
  top: 64px;
  left: -25px;
}
/* line 304, ../sass/style.scss */
body.count .look .count_wrapper .legs_img .mom ul li.leg13 {
  top: 28px;
  left: -2px;
}
/* line 305, ../sass/style.scss */
body.count .look .count_wrapper .legs_img .mom ul li.leg14 {
  top: 14px;
  left: 39px;
}
/* line 309, ../sass/style.scss */
body.count .look .count_wrapper .legs_img .baby {
  position: absolute;
  top: 60px;
  right: 5%;
  width: 105px;
  text-align: center;
}
/* line 315, ../sass/style.scss */
body.count .look .count_wrapper .legs_img .baby img {
  width: 100%;
}
/* line 318, ../sass/style.scss */
body.count .look .count_wrapper .legs_img .baby.on {
  transform: scale(1.3) translate(-63px, -20px);
}
/* line 321, ../sass/style.scss */
body.count .look .count_wrapper .legs_img .baby.off {
  opacity: 0;
}
/* line 324, ../sass/style.scss */
body.count .look .count_wrapper .legs_img .baby ul {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  font-family: "Kreon", serif;
  font-weight: bold;
  font-size: 35px;
  color: #FFF;
}
/* line 333, ../sass/style.scss */
body.count .look .count_wrapper .legs_img .baby ul li {
  opacity: 0;
  transition: .2s;
  position: absolute;
}
/* line 336, ../sass/style.scss */
body.count .look .count_wrapper .legs_img .baby ul li.on {
  opacity: 1;
}
/* line 340, ../sass/style.scss */
body.count .look .count_wrapper .legs_img .baby ul li.leg1 {
  top: -9px;
  right: -2px;
}
/* line 341, ../sass/style.scss */
body.count .look .count_wrapper .legs_img .baby ul li.leg2 {
  top: 37px;
  right: -11px;
}
/* line 342, ../sass/style.scss */
body.count .look .count_wrapper .legs_img .baby ul li.leg3 {
  top: 65px;
  right: -20px;
}
/* line 343, ../sass/style.scss */
body.count .look .count_wrapper .legs_img .baby ul li.leg4 {
  top: 94px;
  right: -21px;
}
/* line 344, ../sass/style.scss */
body.count .look .count_wrapper .legs_img .baby ul li.leg5 {
  top: 122px;
  right: -20px;
}
/* line 345, ../sass/style.scss */
body.count .look .count_wrapper .legs_img .baby ul li.leg6 {
  top: 150px;
  right: -9px;
}
/* line 346, ../sass/style.scss */
body.count .look .count_wrapper .legs_img .baby ul li.leg7 {
  top: 146px;
  left: 2px;
}
/* line 347, ../sass/style.scss */
body.count .look .count_wrapper .legs_img .baby ul li.leg8 {
  top: 112px;
  left: -23px;
}
/* line 348, ../sass/style.scss */
body.count .look .count_wrapper .legs_img .baby ul li.leg9 {
  top: 76px;
  left: -10px;
}
/* line 349, ../sass/style.scss */
body.count .look .count_wrapper .legs_img .baby ul li.leg10 {
  top: 49px;
  left: -33px;
}
/* line 350, ../sass/style.scss */
body.count .look .count_wrapper .legs_img .baby ul li.leg11 {
  top: 16px;
  left: -13px;
}
/* line 351, ../sass/style.scss */
body.count .look .count_wrapper .legs_img .baby ul li.leg12 {
  top: -10px;
  left: 14px;
}

/* line 363, ../sass/style.scss */
.footer_loop {
  background: url(../img/footer_loop.png) repeat-x center bottom;
  background-size: 26px 43px;
  position: absolute;
  bottom: 0;
  height: 43px;
  width: 100%;
}

@media screen and (min-width: 768px) {
  /* line 373, ../sass/style.scss */
  html, body {
    overflow: hidden !important;
  }
  /* line 376, ../sass/style.scss */
  html .app .pill_img, body .app .pill_img {
    display: none;
  }
  /* line 379, ../sass/style.scss */
  html .app .mainnav, body .app .mainnav {
    padding-top: 50px;
    position: static;
  }
  /* line 382, ../sass/style.scss */
  html .app .mainnav a, body .app .mainnav a {
    width: 70%;
  }

  /* line 388, ../sass/style.scss */
  body.poke .look .page_poke .msg_tap {
    margin-bottom: 30px;
    margin-top: 300px;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
  }

  /* line 399, ../sass/style.scss */
  body.count .look .count_wrapper .legs_img .mom {
    top: 10%;
    left: 20%;
    width: 200px;
  }
  /* line 403, ../sass/style.scss */
  body.count .look .count_wrapper .legs_img .mom.on {
    transform: scale(2) translate(170px, 0px);
  }
  /* line 407, ../sass/style.scss */
  body.count .look .count_wrapper .legs_img .baby {
    top: 25%;
    right: 20%;
    width: 100px;
  }
  /* line 411, ../sass/style.scss */
  body.count .look .count_wrapper .legs_img .baby.on {
    transform: scale(2) translate(-133px, 20px);
  }

  /* line 421, ../sass/style.scss */
  body.count .app .mainnav {
    padding-top: 0;
  }
}

/*# sourceMappingURL=style.css.map */
