@import "compass";
@import "compass/reset";

@font-face {
  font-family: 'kreon';
  src: url('../../../font/kreon-bold-webfont.woff') format('woff2'),
  url('../../../font/kreon-bold-webfont.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'kreon';
  src: url('../../../font/kreon-regular-webfont.woff2') format('woff2'),
  url('../../../font/kreon-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

html, body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  overflow: hidden;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -moz-tap-highlight-color: rgba(0, 0, 0, 0);
  tap-highlight-color: rgba(0, 0, 0, 0);
}

.clearfix {
  @include pie-clearfix;
}

body {
  font-family: 'kreon', serif;
  font-weight: bold;
  .app {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: relative;
  }
}

img {
  vertical-align: middle;
}

a.btn {
  display: block;
  position: relative;
  width: 212px;
  margin-left: auto;
  margin-right: auto;
  img {
    width: 100%;
  }
  .btn_on {
    position: relative;
    z-index: 0;
  }
  &.on {
    .btn_off {
      display: none;
    }
  }
  .btn_off {
    position: absolute;
    z-index: 99;
    top: 0;
    left: 0;
  }
}

/* scene1 */
#scene1 {
  background: url("../img/scene1/bg.png") no-repeat center center;
  background-size: cover;
  .header {
    height: 80px;
    background: url("../img/scene1/header.png") repeat-x center center;
    -webkit-background-size: auto 80px;
    background-size: auto 80px;
  }
  .kanban {
    position: absolute;
    left: 50%;
    top: 15%;
    transform: translate(-50%, 0);
    width: 80%;
    z-index: 0;
    opacity: 0;
    animation: scene1_kanban .5s ease 0s forwards;
    img {
      width: 100%;
    }
  }
  .motti {
    position: absolute;
    width: 97%;
    left: 50%;
    bottom: 0;
    transform: translate(-50%, 0);
    z-index: 9;
    animation: scene1_motti .5s ease 0s forwards;
    img {
      width: 100%;
    }
  }
}

@keyframes scene1_kanban {
  0% {
    opacity: 0;
    transform: translate(-50%, 5%);
  }
  100% {
    opacity: 1;
    transform: translate(-50%, 0);
  }
}

@keyframes scene1_motti {
  0% {
    transform: translate(-50%, 50%);
  }
  100% {
    transform: translate(-50%, 0);
  }
}

/* scene2, scene3 */

#scene2, #scene3 {
  background: url("../img/scene2/bg.png") no-repeat center center;
  background-size: cover;
  .motti {
    position: absolute;
    width: 92%;
    left: 50%;
    bottom: 10%;
    transform: translate(-50%, 0);
    z-index: 9;
    animation: scene2_motti .5s ease 0s forwards;
    img {
      width: 100%;
      display: none;
      &.active {
        display: inline;
      }

      &.motti4 {
        &.active {
          animation: scene2_motti2 .5s ease 0s forwards;
        }
      }
      &.motti5 {
        transform: scale(1.2) translate(0, -12%);
      }

    }

    .tina {
      position: absolute;
      right: 5%;
      top: -53%;
      display: none;
      width: 175px;
      height: 166px;
      background: url("../img/scene2/tina.png") no-repeat;
      -webkit-background-size: 525px auto;
      background-size: 525px auto;
      &.active {
        display: block;
        animation: tina 1s steps(3) infinite;
        .balloon-tina {
          transform: translate(0, 0);
          opacity: 1;
        }
      }
      .balloon-tina {
        position: absolute;
        width: 234px;
        top: -108px;
        left: -140px;
        display: block;
        transition: .5s;
        transform: translate(10%, 10%);
        opacity: 0;
      }
    }
  }
  .balloon {
    width: 100%;
    height: 30%;
    position: absolute;
    bottom: 0;
    background: #ffffe9;
    z-index: 10;
    font-family: 'kreon';
    font-weight: bold;
    .triangle {
      position: absolute;
      width: auto;
      height: 25px;
      top: -25px;
      left: 10%;
    }
    .message {
      font-size: 9vw;
      padding-top: 10px;
      padding-left: 10px;
      margin-bottom: 10px;

      span {
        opacity: 0;
        transform: translate(0, -20px);
        transition: .5s;
        display: none;
        &.active {
          animation: scene2_message1 .5s ease 0s forwards;
          display: block;
        }

        &.message2 {
          text-align: center;
          margin: 0.5em 0;
        }
        &.message3 {
          text-align: center;
          font-size: 9vh;
          color: #e83836;
        }
        &.message4 {
          text-align: center;
          margin: 0.5em 0;
        }
      }
    }
  }
  .btn_next.scene2.btn, .btn_answer.scene2.btn {
    display: none;
    &.active {
      display: block;
    }
  }
}

@keyframes scene2_motti {
  0% {
    transform: translate(-50%, 0);
  }
  50% {
    transform: translate(-50%, -5%);
  }
  100% {
    transform: translate(-50%, 0);
  }
}

@keyframes scene2_motti2 {
  0% {
    transform: translate(0, 0) scale(1);
  }
  100% {
    transform: translate(0, 35%) scale(1.35);
  }
}

@keyframes scene2_message1 {
  0% {
    transform: translate(0, 20px);
    opacity: 0;
  }
  100% {
    transform: translate(0, 0);
    opacity: 1;
  }
}

@keyframes tina {
  to {
    background-position: -525px 0;
  }
}

/* scene4 */

#scene4 {
  background: url("../img/scene4/bg.png") no-repeat center center;
  background-size: cover;
  .motti {
    position: absolute;
    width: 92%;
    left: 50%;
    top: 22%;
    transform: translate(-50%, 0);
    z-index: 9;
    animation: scene4_motti .5s ease 0s forwards;
    img {
      width: 100%;
    }
  }

  .balloon {
    width: 100%;
    height: 30%;
    position: absolute;
    bottom: 0;
    background: #ffffe9;
    z-index: 10;
    font-family: 'kreon';
    font-weight: bold;
    .triangle {
      position: absolute;
      width: auto;
      height: 25px;
      top: -25px;
      left: 10%;
    }
    .message {
      font-size: 9vw;
      padding-top: 10px;
      padding-left: 10px;
      margin-bottom: 10px;
      span {
        opacity: 0;
        transform: translate(0, -20px);
        transition: .5s;
        display: none;
        &.active {
          animation: scene2_message1 .5s ease 0s forwards;
          display: block;
        }
      }
      .message4{
        &.active{
          animation: scene2_message1 .5s ease 0s forwards;
          display: block;
          span{
            display: block;
            opacity: 1;
            margin-bottom: 20px;
          }
        }
        padding-top: 15px;
      }
    }
  }
  .kira{
    width: 100%;
    height: 100%;
    position: relative;
    img{
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
      &:last-child{
        position: relative;
      }
    }
  }
  .tina{
    width: 30%;
    position: absolute;
    right: 10%;
    top: 6%;
    img{
      width: 100%;
    }
  }
}

@keyframes scene4_motti {
  0% {
    transform: translate(-50%, 70%);
  }
  100% {
    transform: translate(-50%, 0);
  }
}

/* scene5 */
#scene5{
  background-color: #ffcc00;
  .balloon{
    width: 92%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
    margin-bottom: 30%;
    img{
      width: 100%;
    }
  }

  .btn_more.scene5.btn,
  .btn_go.scene5.btn{
    width: 80%;
    margin-bottom: 5%;
  }

}

/* scene6 */
#scene6{
  background-color: #ffffcc;
  .title{
    width: 65.33%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 75px;
    img{
      width: 100%;
    }
  }

  .word-list{
    width: 54vw;
    margin-left: auto;
    margin-right: auto;
    padding-top: 18px;
    li{
      margin-bottom:8px;
      border: 1px solid #d0d0ba;
      border-radius: 10px;
      background-color: #fff;
      font-size: 26px;
      text-align: center;
      a{
        padding: 12px 10px;
        text-decoration: none;
        display: block;
        color: #000;
        background: url(../img/scene6/btn_sound_off.png) no-repeat calc(100% - 6px) center;
        background-size: 40px auto;
        .red{
          color: #e83836;
        }
        &.on{
          background-image: url(../img/scene6/btn_sound_on.png)
        }
      }
    }
  }

  .motti{
    width: 85vw;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0);
    img{
      width: 100%;
      position: absolute;
      bottom: 0;
    }
  }
  .btn_more.scene9.btn{
    width: 300px;
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translate(-50%, 0);
    margin: 0;
  }
}

@media screen and (min-width: 768px) {
  #scene1 {
    .motti{
      width: 65%;
    }
  }
  #scene2, #scene3 {
    .motti{
      width: 70%;
      .tina{
        right: 15%;
        top: -40%;
        transform: scale(1.4);
      }
    }
  }
  #scene4{
    .tina{
      width: 25%;
      position: absolute;
      right: 17%;
      top: 7%;
    }
    .motti{
      width: 70%;
    }
    .kira{
      width: 80%;
      height: 80%;
      position: relative;
      margin-left: auto;
      margin-right: auto;
    }
  }
  #scene5{
    .balloon{
      width: 70%;
      margin-bottom: 9%;
    }
  }
  #scene6{
    .motti{
      width: 70vw;
    }
  }

}
