html, body {
  width: 100%;
  height: 100vh;
  padding: 0;
  margin: 0;
  overflow: hidden;
  font-family: Kreon;
  font-weight: bold; }

#progress1 {
  box-sizing: border-box;
  height: 100vh !important; }

.header {
  position: absolute;
  z-index: 99999; }
  .header h1 {
    font-size: 18px;
    line-height: 1.5;
    letter-spacing: 0.05rem;
    text-align: center; }
  .header .left {
    font-size: 18px;
    line-height: 1.2;
    z-index: 10;
    position: absolute;
    display: inline-block;
    vertical-align: middle;
    top: 20px;
    left: 10px; }
    .header .left a {
      color: #fff; }
  .header .right {
    font-size: 18px;
    line-height: 1.2;
    z-index: 10;
    position: absolute;
    display: inline-block;
    vertical-align: middle;
    top: 20px;
    right: 10px; }
    .header .right a {
      color: #fff; }

.contents .above {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 46%;
  background: url(../img/bg.png) no-repeat center top;
  -webkit-background-size: cover;
  background-size: cover;
  z-index: 9999;
  padding: 0 3%;
  box-sizing: border-box; }
.contents .below {
  width: 100%;
  position: absolute;
  bottom: 0;
  background-color: #b7a075;
  padding: 10px 3% 10px;
  box-sizing: border-box;
  z-index: 99999;
  height: 55%; }
  .contents .below .progress {
    font-size: 3.6vh;
    position: absolute;
    top: 0;
    left: 50%;
    width: 100%;
    transform: translate(-50%); }
    .contents .below .progress .plant .step_img {
      display: none;
      position: absolute;
      bottom: 20px;
      left: 50%;
      transform: translate(-50%, 0); }
      .contents .below .progress .plant .step_img img {
        line-height: 0;
        width: 100%; }
      .contents .below .progress .plant .step_img.active {
        display: block; }
      .contents .below .progress .plant .step_img.step0 {
        width: 7px;
        bottom: 30px; }
      .contents .below .progress .plant .step_img.step1 {
        width: 31px;
        bottom: 30px; }
      .contents .below .progress .plant .step_img.step2 {
        width: 56px;
        bottom: 29px; }
      .contents .below .progress .plant .step_img.step3 {
        width: 75px;
        bottom: 29px; }
      .contents .below .progress .plant .step_img.step4 {
        width: 95px;
        bottom: 25px; }
      .contents .below .progress .plant .step_img.step5 {
        width: 111px;
        bottom: 23px; }
      .contents .below .progress .plant .step_img.step6 {
        width: 122px;
        bottom: 28px; }
    .contents .below .progress .soil {
      width: 112px;
      position: absolute;
      bottom: 10px;
      left: 50%;
      transform: translate(-50%, 0);
      z-index: 0; }
      .contents .below .progress .soil img {
        width: 100%; }
    .contents .below .progress .message {
      position: absolute;
      bottom: -10px;
      width: 94%;
      box-sizing: border-box;
      margin: 0 3%;
      z-index: 9999999; }
      .contents .below .progress .message img {
        width: 100%; }
  .contents .below ul {
    list-style: none;
    padding: 0;
    margin: 0;
    background-color: #fcf9ea;
    border-radius: 10px; }
    .contents .below ul li {
      padding: 10px 12px;
      border-bottom: 1px solid #a0a0a0;
      font-size: 3.6vh;
      background: url(../img/label_unused.png) no-repeat calc(100% - 12px) center;
      -webkit-background-size: auto 3.6vh;
      background-size: auto 3.6vh; }
      .contents .below ul li:last-child {
        border: none; }
      .contents .below ul li.used {
        background-image: url(../img/label_used.png); }
