/* line 5, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: 'kreon';
  src: url("../../../font/kreon-bold-webfont.woff") format("woff2"), url("../../../font/kreon-bold-webfont.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'kreon';
  src: url("../../../font/kreon-regular-webfont.woff2") format("woff2"), url("../../../font/kreon-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
/* line 20, ../sass/style.scss */
html, body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  overflow: hidden;
  -webkit-tap-highlight-color: transparent;
  -moz-tap-highlight-color: transparent;
  tap-highlight-color: transparent;
}

/* line 31, ../sass/style.scss */
.clearfix {
  *zoom: 1;
}
/* line 38, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/general/_clearfix.scss */
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

/* line 35, ../sass/style.scss */
body {
  font-family: 'kreon', serif;
  font-weight: bold;
}
/* line 38, ../sass/style.scss */
body .app {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  position: relative;
}

/* line 46, ../sass/style.scss */
img {
  vertical-align: middle;
}

/* line 50, ../sass/style.scss */
a.btn {
  display: block;
  position: relative;
  width: 212px;
  margin-left: auto;
  margin-right: auto;
}
/* line 56, ../sass/style.scss */
a.btn img {
  width: 100%;
}
/* line 59, ../sass/style.scss */
a.btn .btn_on {
  position: relative;
  z-index: 0;
}
/* line 64, ../sass/style.scss */
a.btn.on .btn_off {
  display: none;
}
/* line 68, ../sass/style.scss */
a.btn .btn_off {
  position: absolute;
  z-index: 99;
  top: 0;
  left: 0;
}

/* scene1 */
/* line 77, ../sass/style.scss */
#scene1 {
  background: url("../img/scene1/bg.png") no-repeat center center;
  background-size: cover;
}
/* line 80, ../sass/style.scss */
#scene1 .header {
  height: 80px;
  background: url("../img/scene1/header.png") repeat-x center center;
  -webkit-background-size: auto 80px;
  background-size: auto 80px;
}
/* line 86, ../sass/style.scss */
#scene1 .kanban {
  position: absolute;
  left: 50%;
  top: 15%;
  transform: translate(-50%, 0);
  width: 80%;
  z-index: 0;
  opacity: 0;
  animation: scene1_kanban .5s ease 0s forwards;
}
/* line 95, ../sass/style.scss */
#scene1 .kanban img {
  width: 100%;
}
/* line 99, ../sass/style.scss */
#scene1 .motti {
  position: absolute;
  width: 97%;
  left: 50%;
  bottom: 0;
  transform: translate(-50%, 0);
  z-index: 9;
  animation: scene1_motti .5s ease 0s forwards;
}
/* line 107, ../sass/style.scss */
#scene1 .motti img {
  width: 100%;
}

@keyframes scene1_kanban {
  0% {
    opacity: 0;
    transform: translate(-50%, 5%);
  }
  100% {
    opacity: 1;
    transform: translate(-50%, 0);
  }
}
@keyframes scene1_motti {
  0% {
    transform: translate(-50%, 50%);
  }
  100% {
    transform: translate(-50%, 0);
  }
}
/* scene2, scene3 */
/* line 135, ../sass/style.scss */
#scene2, #scene3 {
  background: url("../img/scene2/bg.png") no-repeat center center;
  background-size: cover;
}
/* line 138, ../sass/style.scss */
#scene2 .motti, #scene3 .motti {
  position: absolute;
  width: 92%;
  left: 50%;
  bottom: 10%;
  transform: translate(-50%, 0);
  z-index: 9;
  animation: scene2_motti .5s ease 0s forwards;
}
/* line 146, ../sass/style.scss */
#scene2 .motti img, #scene3 .motti img {
  width: 100%;
  display: none;
}
/* line 149, ../sass/style.scss */
#scene2 .motti img.active, #scene3 .motti img.active {
  display: inline;
}
/* line 154, ../sass/style.scss */
#scene2 .motti img.motti4.active, #scene3 .motti img.motti4.active {
  animation: scene2_motti2 .5s ease 0s forwards;
}
/* line 158, ../sass/style.scss */
#scene2 .motti img.motti5, #scene3 .motti img.motti5 {
  transform: scale(1.2) translate(0, -12%);
}
/* line 164, ../sass/style.scss */
#scene2 .motti .tina, #scene3 .motti .tina {
  position: absolute;
  right: 5%;
  top: -53%;
  display: none;
  width: 175px;
  height: 166px;
  background: url("../img/scene2/tina.png") no-repeat;
  -webkit-background-size: 525px auto;
  background-size: 525px auto;
}
/* line 174, ../sass/style.scss */
#scene2 .motti .tina.active, #scene3 .motti .tina.active {
  display: block;
  animation: tina 1s steps(3) infinite;
}
/* line 177, ../sass/style.scss */
#scene2 .motti .tina.active .balloon-tina, #scene3 .motti .tina.active .balloon-tina {
  transform: translate(0, 0);
  opacity: 1;
}
/* line 182, ../sass/style.scss */
#scene2 .motti .tina .balloon-tina, #scene3 .motti .tina .balloon-tina {
  position: absolute;
  width: 234px;
  top: -108px;
  left: -140px;
  display: block;
  transition: .5s;
  transform: translate(10%, 10%);
  opacity: 0;
}
/* line 194, ../sass/style.scss */
#scene2 .balloon, #scene3 .balloon {
  width: 100%;
  height: 30%;
  position: absolute;
  bottom: 0;
  background: #ffffe9;
  z-index: 10;
  font-family: 'kreon';
  font-weight: bold;
}
/* line 203, ../sass/style.scss */
#scene2 .balloon .triangle, #scene3 .balloon .triangle {
  position: absolute;
  width: auto;
  height: 25px;
  top: -25px;
  left: 10%;
}
/* line 210, ../sass/style.scss */
#scene2 .balloon .message, #scene3 .balloon .message {
  font-size: 9vw;
  padding-top: 10px;
  padding-left: 10px;
  margin-bottom: 10px;
}
/* line 216, ../sass/style.scss */
#scene2 .balloon .message span, #scene3 .balloon .message span {
  opacity: 0;
  transform: translate(0, -20px);
  transition: .5s;
  display: none;
}
/* line 221, ../sass/style.scss */
#scene2 .balloon .message span.active, #scene3 .balloon .message span.active {
  animation: scene2_message1 .5s ease 0s forwards;
  display: block;
}
/* line 226, ../sass/style.scss */
#scene2 .balloon .message span.message2, #scene3 .balloon .message span.message2 {
  text-align: center;
  margin: 0.5em 0;
}
/* line 230, ../sass/style.scss */
#scene2 .balloon .message span.message3, #scene3 .balloon .message span.message3 {
  text-align: center;
  font-size: 9vh;
  color: #e83836;
}
/* line 235, ../sass/style.scss */
#scene2 .balloon .message span.message4, #scene3 .balloon .message span.message4 {
  text-align: center;
  margin: 0.5em 0;
}
/* line 242, ../sass/style.scss */
#scene2 .btn_next.scene2.btn, #scene2 .btn_answer.scene2.btn, #scene3 .btn_next.scene2.btn, #scene3 .btn_answer.scene2.btn {
  display: none;
}
/* line 244, ../sass/style.scss */
#scene2 .btn_next.scene2.btn.active, #scene2 .btn_answer.scene2.btn.active, #scene3 .btn_next.scene2.btn.active, #scene3 .btn_answer.scene2.btn.active {
  display: block;
}

@keyframes scene2_motti {
  0% {
    transform: translate(-50%, 0);
  }
  50% {
    transform: translate(-50%, -5%);
  }
  100% {
    transform: translate(-50%, 0);
  }
}
@keyframes scene2_motti2 {
  0% {
    transform: translate(0, 0) scale(1);
  }
  100% {
    transform: translate(0, 35%) scale(1.35);
  }
}
@keyframes scene2_message1 {
  0% {
    transform: translate(0, 20px);
    opacity: 0;
  }
  100% {
    transform: translate(0, 0);
    opacity: 1;
  }
}
@keyframes tina {
  to {
    background-position: -525px 0;
  }
}
/* scene4 */
/* line 290, ../sass/style.scss */
#scene4 {
  background: url("../img/scene4/bg.png") no-repeat center center;
  background-size: cover;
}
/* line 293, ../sass/style.scss */
#scene4 .motti {
  position: absolute;
  width: 92%;
  left: 50%;
  top: 22%;
  transform: translate(-50%, 0);
  z-index: 9;
  animation: scene4_motti .5s ease 0s forwards;
}
/* line 301, ../sass/style.scss */
#scene4 .motti img {
  width: 100%;
}
/* line 306, ../sass/style.scss */
#scene4 .balloon {
  width: 100%;
  height: 30%;
  position: absolute;
  bottom: 0;
  background: #ffffe9;
  z-index: 10;
  font-family: 'kreon';
  font-weight: bold;
}
/* line 315, ../sass/style.scss */
#scene4 .balloon .triangle {
  position: absolute;
  width: auto;
  height: 25px;
  top: -25px;
  left: 10%;
}
/* line 322, ../sass/style.scss */
#scene4 .balloon .message {
  font-size: 9vw;
  padding-top: 10px;
  padding-left: 10px;
  margin-bottom: 10px;
}
/* line 327, ../sass/style.scss */
#scene4 .balloon .message span {
  opacity: 0;
  transform: translate(0, -20px);
  transition: .5s;
  display: none;
}
/* line 332, ../sass/style.scss */
#scene4 .balloon .message span.active {
  animation: scene2_message1 .5s ease 0s forwards;
  display: block;
}
/* line 337, ../sass/style.scss */
#scene4 .balloon .message .message4 {
  padding-top: 15px;
}
/* line 338, ../sass/style.scss */
#scene4 .balloon .message .message4.active {
  animation: scene2_message1 .5s ease 0s forwards;
  display: block;
}
/* line 341, ../sass/style.scss */
#scene4 .balloon .message .message4.active span {
  display: block;
  opacity: 1;
  margin-bottom: 20px;
}
/* line 351, ../sass/style.scss */
#scene4 .kira {
  width: 100%;
  height: 100%;
  position: relative;
}
/* line 355, ../sass/style.scss */
#scene4 .kira img {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
/* line 360, ../sass/style.scss */
#scene4 .kira img:last-child {
  position: relative;
}
/* line 365, ../sass/style.scss */
#scene4 .tina {
  width: 30%;
  position: absolute;
  right: 10%;
  top: 6%;
}
/* line 370, ../sass/style.scss */
#scene4 .tina img {
  width: 100%;
}

@keyframes scene4_motti {
  0% {
    transform: translate(-50%, 70%);
  }
  100% {
    transform: translate(-50%, 0);
  }
}
/* scene5 */
/* line 386, ../sass/style.scss */
#scene5 {
  background-color: #ffcc00;
}
/* line 388, ../sass/style.scss */
#scene5 .balloon {
  width: 92%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10%;
  margin-bottom: 30%;
}
/* line 394, ../sass/style.scss */
#scene5 .balloon img {
  width: 100%;
}
/* line 399, ../sass/style.scss */
#scene5 .btn_more.scene5.btn,
#scene5 .btn_go.scene5.btn {
  width: 80%;
  margin-bottom: 5%;
}

/* scene6 */
/* line 408, ../sass/style.scss */
#scene6 {
  background-color: #ffffcc;
}
/* line 410, ../sass/style.scss */
#scene6 .title {
  width: 65.33%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 75px;
}
/* line 415, ../sass/style.scss */
#scene6 .title img {
  width: 100%;
}
/* line 420, ../sass/style.scss */
#scene6 .word-list {
  width: 54vw;
  margin-left: auto;
  margin-right: auto;
  padding-top: 18px;
}
/* line 425, ../sass/style.scss */
#scene6 .word-list li {
  margin-bottom: 8px;
  border: 1px solid #d0d0ba;
  border-radius: 10px;
  background-color: #fff;
  font-size: 26px;
  text-align: center;
}
/* line 432, ../sass/style.scss */
#scene6 .word-list li a {
  padding: 12px 10px;
  text-decoration: none;
  display: block;
  color: #000;
  background: url(../img/scene6/btn_sound_off.png) no-repeat calc(100% - 6px) center;
  background-size: 40px auto;
}
/* line 439, ../sass/style.scss */
#scene6 .word-list li a .red {
  color: #e83836;
}
/* line 442, ../sass/style.scss */
#scene6 .word-list li a.on {
  background-image: url(../img/scene6/btn_sound_on.png);
}
/* line 449, ../sass/style.scss */
#scene6 .motti {
  width: 85vw;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0);
}
/* line 455, ../sass/style.scss */
#scene6 .motti img {
  width: 100%;
  position: absolute;
  bottom: 0;
}
/* line 461, ../sass/style.scss */
#scene6 .btn_more.scene9.btn {
  width: 300px;
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translate(-50%, 0);
  margin: 0;
}

@media screen and (min-width: 768px) {
  /* line 473, ../sass/style.scss */
  #scene1 .motti {
    width: 65%;
  }

  /* line 478, ../sass/style.scss */
  #scene2 .motti, #scene3 .motti {
    width: 70%;
  }
  /* line 480, ../sass/style.scss */
  #scene2 .motti .tina, #scene3 .motti .tina {
    right: 15%;
    top: -40%;
    transform: scale(1.4);
  }

  /* line 488, ../sass/style.scss */
  #scene4 .tina {
    width: 25%;
    position: absolute;
    right: 17%;
    top: 7%;
  }
  /* line 494, ../sass/style.scss */
  #scene4 .motti {
    width: 70%;
  }
  /* line 497, ../sass/style.scss */
  #scene4 .kira {
    width: 80%;
    height: 80%;
    position: relative;
    margin-left: auto;
    margin-right: auto;
  }

  /* line 506, ../sass/style.scss */
  #scene5 .balloon {
    width: 70%;
    margin-bottom: 9%;
  }

  /* line 512, ../sass/style.scss */
  #scene6 .motti {
    width: 70vw;
  }
}
